modules/core/main/default/flows/WorkOrderFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Skill_Found</name>
        <label>Skill Found</label>
        <locationX>3394</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SkillFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assign</name>
        <label>Value Assign</label>
        <locationX>3702</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AdvSkillSplitterV2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.AdditionalSkills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DetectionofFieldChange</name>
        <label>Detection of Field Change</label>
        <locationX>2536</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OnlyForecastedDeliveryDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date</targetReference>
            </connector>
            <label>Only Forecasted Delivery Date Changed</label>
        </rules>
        <rules>
            <name>OnlyActualPartDeliveryDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatingWOPartStatus</targetReference>
            </connector>
            <label>Only Actual Part Delivery Date Changed</label>
        </rules>
        <rules>
            <name>OnlyAdditionalSkillsisChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_splitting_with_subflow</targetReference>
            </connector>
            <label>Only Additional Skills is Changed</label>
        </rules>
        <rules>
            <name>ADDate_and_ADSkills_and_FD_Date_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Skill_String_Splitter</targetReference>
            </connector>
            <label>ADDate and ADSkills and FD Date changed</label>
        </rules>
        <rules>
            <name>FDDateandADSkillsisChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date_v2</targetReference>
            </connector>
            <label>FDDate and ADSkills is Change</label>
        </rules>
        <rules>
            <name>ActualDeliveryDateCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_status_to_OnHold_and_PartsStatus_to_WaitingForParts</targetReference>
            </connector>
            <label>Actual Delivery Date Cleared</label>
        </rules>
        <rules>
            <name>AdditionalSkillsIsCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Assign</targetReference>
            </connector>
            <label>Additional Skills Is Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SA_status_is_in_Progress</name>
        <label>If SA status is in Progress</label>
        <locationX>1810</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>in Progress</defaultConnectorLabel>
        <rules>
            <name>Not_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SA</targetReference>
            </connector>
            <label>Not In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skill_Found</name>
        <label>Is Skill Found</label>
        <locationX>3306</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Found_Record_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteSkillRequiredRelatedRecordsFromWOHasContextMenu</targetReference>
            </connector>
            <label>Skill Found Record Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Is_Present</name>
        <label>Skill Is Present</label>
        <locationX>3526</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repair_Skill_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Skill_Check_Revert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skill_Found</targetReference>
            </connector>
            <label>Repair Skill Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_requirement_Value</name>
        <label>Skill requirement Value?</label>
        <locationX>2756</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSkillsRequiredRecord</targetReference>
            </connector>
            <label>If Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_requirement_Value_v2</name>
        <label>Skill requirement Value v2</label>
        <locationX>2646</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Repair_v2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Repair_Skills_Required_Record_v2</targetReference>
            </connector>
            <label>If Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_decision</name>
        <label>Update Work Order decision</label>
        <locationX>2272</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_work_order_reason</name>
            <conditionLogic>(1 AND 2 )AND( 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Visit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Need New Visit On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_if_Review_checkbox_is_False</targetReference>
            </connector>
            <label>Update work order reason</label>
        </rules>
        <rules>
            <name>Update_SPR_and_Review</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Issue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UnitStatusOnSiteDeparture__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_and_SPR</targetReference>
            </connector>
            <label>Update SPR and Review</label>
        </rules>
        <rules>
            <name>WOLI_Items_Present</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason</targetReference>
            </connector>
            <label>WOLI Items Present</label>
        </rules>
        <rules>
            <name>WOLI_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parts needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Actual Duration Inadequate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Need New Visit On Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason_to_empty</targetReference>
            </connector>
            <label>WOLI Empty</label>
        </rules>
        <rules>
            <name>QuickActionPartUpdate</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DetectionofFieldChange</targetReference>
            </connector>
            <label>Quick Action Part Update</label>
        </rules>
        <rules>
            <name>SACreationForAnotherVisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need New Visit On Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Visit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreationOfSAOnAnotherVisit</targetReference>
            </connector>
            <label>SA Creation For Another Visit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(now() + 2)</expression>
    </formulas>
    <formulas>
        <name>DueDateCalculationForNewSA</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ActualPartsDelivery__c} + {!$Setup.OTISCustomSettings__c.Timeframe_To_Calculate_SA_Due_Date__c}</expression>
    </formulas>
    <formulas>
        <name>EarlystartTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Next_Visit_Date__c} -(60/1440))</expression>
    </formulas>
    <formulas>
        <name>SubjectSA</name>
        <dataType>String</dataType>
        <expression>&apos;Maintenance OTIS : &apos; + {!$Record.Account.Name}+ &apos; : &apos;+TEXT(DATEVALUE({!DueDate}))</expression>
    </formulas>
    <interviewLabel>WorkOrderFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderFlow</label>
    <loops>
        <name>Loop_SA</name>
        <label>Loop SA</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <collectionReference>FetchSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_SA_status_is_in_Progress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SA_Creation_after_Part_Delivery</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Skill_Check_Revert</name>
        <label>Loop Skill Check Revert</label>
        <locationX>3306</locationX>
        <locationY>863</locationY>
        <collectionReference>AdvSkillSplitterV2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_Is_Present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Skill_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_All_Selected_Values_of_AdditionalSkills_Field</name>
        <label>Looping All Selected Values of AdditionalSkills Field</label>
        <locationX>2536</locationX>
        <locationY>2063</locationY>
        <collectionReference>String_splitting_with_subflow.SplitResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_requirement_Value</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</name>
        <label>Looping All Selected Values of AdditionalSkills Field v2</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <collectionReference>AdvSkillSplitter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_requirement_Value_v2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdatingWOPartStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Repair_Skills_Required_Record_v2</name>
        <label>Create Repair Skills Required Record v2</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSkillsRequiredRecord</name>
        <label>Create Repair Skills Required Record</label>
        <locationX>2624</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreationOfSAOnAnotherVisit</name>
        <label>Creation Of SA On Another Visit</label>
        <locationX>4230</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>NewlyCreatedSA</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatingWoFields</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDateCalculationForNewSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Record.ActualPartsDelivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>SA_Creation_after_Part_Delivery</name>
        <label>SA Creation after Part Delivery</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSkillRequiredRelatedRecordsFromWOHasContextMenu</name>
        <label>Delete SkillRequired related records from WO has context menu</label>
        <locationX>3174</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Addtional_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SkillRequirement</object>
    </recordDeletes>
    <recordLookups>
        <name>FetchSA</name>
        <label>Fetch SA</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_SA_status_to_Cancelled</name>
        <label>Change SA status to Cancelled</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Additional_Skill_String_Splitter_v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SACreatedFromWOFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WO_status_to_OnHold_and_PartsStatus_to_WaitingForParts</name>
        <label>Set WO status to OnHold and PartsStatus to WaitingForParts</label>
        <locationX>3306</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Change_SA_status_to_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Addtional_Skill</name>
        <label>Update Addtional Skill</label>
        <locationX>3174</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AdditionalSkills__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date</name>
        <label>Update Part Status for Forecast Part Delivery Date</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date_v2</name>
        <label>Update Part Status for Forecast Part Delivery Date v2</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>String_splitting_with_subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_and_SPR</name>
        <label>Update Reason and SPR</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>(1 OR 2) OR 3</filterLogic>
        <filters>
            <field>Fixed_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fixed_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>UnitStatusOnSiteDeparture__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Unit Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_if_Review_checkbox_is_False</name>
        <label>Update Reason if Review checkbox is False</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mark_For_Supervisor_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason</name>
        <label>Update Supervisor Review and Reason</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Chargeability</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason_to_empty</name>
        <label>Update Supervisor Review and Reason to empty</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatingSAStatus</name>
        <label>Updating SA Status</label>
        <locationX>4230</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewlyCreatedSA</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatingWoFields</name>
        <label>Updating Wo Fields</label>
        <locationX>4230</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdatingSAStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.DefaultWorkTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When Actual Part deliver date is filled this automation gonna happen .</description>
        <name>UpdatingWOPartStatus</name>
        <label>Updating WO Part Status</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>FetchSA</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Part Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2146</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Work_Order_decision</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Additional_Skill_String_Splitter</name>
        <label>Additional Skill String Splitter</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdvSkillSplitter</assignToReference>
            <name>SplitResults</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Additional_Skill_String_Splitter_v2</name>
        <label>Additional Skill String Splitter v2</label>
        <locationX>3306</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdvSkillSplitterV2</assignToReference>
            <name>SplitResults</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>String_splitting_with_subflow</name>
        <label>String splitting with subflow</label>
        <locationX>2536</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AdvSkillSplitter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvSkillSplitterV2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewlyCreatedSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
