modules/fs/main/default/flows/Accept_Or_Reject_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Accept_Or_Reject</name>
        <label>Accept Or Reject</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accept_Reject__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accept_Reject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Accepted</targetReference>
            </connector>
            <label>Accept SA</label>
        </rules>
        <rules>
            <name>Reject_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accept_Reject__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accept_Reject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Canceled</targetReference>
            </connector>
            <label>Reject SA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Accept Or Reject SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accept Or Reject SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SA_Accepted</name>
        <label>SA Accepted</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Record.Initial_ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SA_Canceled</name>
        <label>SA Canceled</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Accept_Or_Reject</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
