modules/fs/main/default/flows/Account_Suspension_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspended_Status_from_Valid_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Suspension_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suspension_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Field_Status</targetReference>
            </connector>
            <label>Suspended Status from Valid Status</label>
        </rules>
        <rules>
            <name>Valid_status_from_Suspended_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Suspension_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suspension_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Field_Status1</targetReference>
            </connector>
            <label>Valid status from Suspended Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account flow to update Suspension Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Suspension Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Unit_Field_Status</name>
        <label>Update Unit Field Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capture Acquisition</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Assets</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Field_Status1</name>
        <label>Update Unit Field Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capture Acquisition</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Assets</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Suspension_Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Suspension_End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
