modules/fs/main/default/flows/Associate_Non_Productive_Codes_with_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CreateAbsence</name>
        <choiceText>Create</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateAbsence</name>
        <choiceText>Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_or_Update_Absence_Record</name>
        <label>Create or Update Absence Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Absence_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_below_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateAbsence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Absence_Category</targetReference>
            </connector>
            <label>Create Absence Record</label>
        </rules>
        <rules>
            <name>Update_Absence_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_below_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateAbsence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Resource_Absence</targetReference>
            </connector>
            <label>Update Absence Record</label>
        </rules>
    </decisions>
    <description>This FSL flow used to create or update Resource Absence on Service Resource</description>
    <dynamicChoiceSets>
        <name>AbsencePicklistRecords</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ResourceAbsence</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Absences</name>
        <collectionReference>ExistingAbsenceRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>AbsenceNumber</displayField>
        <object>ResourceAbsence</object>
        <valueField>AbsenceNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CategorywithDescription</name>
        <collectionReference>CodeMap99RecCollections</collectionReference>
        <dataType>String</dataType>
        <displayField>Description__c</displayField>
        <object>NintyNineCodeMappings__c</object>
        <valueField>Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Description</name>
        <collectionReference>CodeMap99RecCollections</collectionReference>
        <dataType>String</dataType>
        <displayField>Description__c</displayField>
        <object>NintyNineCodeMappings__c</object>
        <valueField>Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingInternalCodePicklist</name>
        <dataType>String</dataType>
        <displayField>Name_Description_Combination__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Absence_Type1</elementReference>
            </value>
        </filters>
        <object>NintyNineCodeMappings__c</object>
        <sortField>Name_Description_Combination__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name_Description_Combination__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalCodePicklistVal</name>
        <dataType>String</dataType>
        <displayField>Name_Description_Combination__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Absence_Type</elementReference>
            </value>
        </filters>
        <object>NintyNineCodeMappings__c</object>
        <sortField>Name_Description_Combination__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name_Description_Combination__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RATypePicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ResourceAbsence</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UpdatedDescription</name>
        <dataType>String</dataType>
        <expression>{!Internal_Code} +  &apos;   &apos; +{!Comments}</expression>
    </formulas>
    <formulas>
        <name>UpdateDescription2</name>
        <dataType>String</dataType>
        <expression>{!Internal_Code1} +  &apos;   &apos; +{!Comments1}</expression>
    </formulas>
    <interviewLabel>Associate Non Productive Codes with Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Non Productive Codes with Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Resource_Absence</name>
        <label>Create Resource Absence</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>UpdatedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Postal_Code111</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceId</field>
            <value>
                <elementReference>SR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Absence_Type</elementReference>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Resource_Absence</name>
        <label>Get Existing Resource Absence</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Absence_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <outputReference>ExistingAbsenceRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AbsenceNumber</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Start</queriedFields>
        <queriedFields>End</queriedFields>
        <queriedFields>ResourceId</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Absence_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>SR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Absence_Record</name>
        <label>Get Single Absence Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AbsenceNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Absence_Record</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <outputReference>AbsenceNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AbsenceNumber</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Start</queriedFields>
        <queriedFields>End</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AbsenceNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Absence_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Country1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>UpdateDescription2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>End_Time1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip_Postal_Code11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>Start_Time1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Absence_Type1</elementReference>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
    </recordUpdates>
    <screens>
        <name>Absence_Category</name>
        <label>Absence Category</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Show_Details</targetReference>
        </connector>
        <fields>
            <name>Absence_Type</name>
            <choiceReferences>RATypePicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Absence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Absence_Records</name>
        <label>Absence Records</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Single_Absence_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Absence_Record</name>
            <choiceReferences>Absences</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_Resource_Absence</elementReference>
            </defaultValue>
            <fieldText>Select Absence Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_or_Update_Absence</name>
        <label>Create or Update Absence</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>Choose_below_option</name>
            <choiceReferences>CreateAbsence</choiceReferences>
            <choiceReferences>UpdateAbsence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose below option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Internal_Code_and_Description</name>
        <label>Edit Internal Code and Description</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <fields>
            <name>Internal_Code1</name>
            <choiceReferences>ExistingInternalCodePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Internal Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.Description</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Records</name>
        <label>Edit Records</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Internal_Code_and_Description</targetReference>
        </connector>
        <fields>
            <name>Absence_Type1</name>
            <choiceReferences>AbsencePicklistRecords</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.Type</elementReference>
            </defaultValue>
            <fieldText>Absence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Time1</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.Start</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Time1</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.End</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.Street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code11</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.PostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbsenceNumber.Country</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Details</name>
        <label>Show Details</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
        <fields>
            <name>Internal_Code</name>
            <choiceReferences>InternalCodePicklistVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Internal Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code111</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Update_Absence</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbsenceCategory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>AbsenceCategory99Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>AbsenceCategoryLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>AbsenceNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>CodeMap99Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>CodeMap99LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>CodeMap99Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>CodeMap99RecCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NintyNineCodeMappings__c</objectType>
    </variables>
    <variables>
        <name>CombineDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingAbsenceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceAbsenceAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>SR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>textCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
