modules/fs/main/default/flows/Auto_launched_Update_FTF_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_FTF_Total_Assigned_Count</name>
        <label>Add FTF &amp; Total Assigned Count</label>
        <locationX>704</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>TotalCompletedAppointment</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalassignedAppointment</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitIdsForFTFCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SA_s_Record_Loop.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_s_Record_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_appointment_id</name>
        <label>assign appointment id</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_get_appointment_ids.ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_get_appointment_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_Unit_Ids</name>
        <label>store Unit Ids</label>
        <locationX>440</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>allUnitIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_appointment_ids.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_appointment_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Substract_FTF_Count</name>
        <label>Substract FTF Count</label>
        <locationX>264</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>TotalCompletedAppointment</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_s_Record_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_unit_already_exist</name>
        <label>check if unit already exist</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>store_Unit_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allUnitIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>get_appointment_ids.Unit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_appointment_ids</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UnitId_Contains_in_UnitIdsFTFCount</name>
        <label>Check UnitId Contains in UnitIdsFTFCount</label>
        <locationX>484</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Add_FTF_Total_Assigned_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Contains_TotalCompletedAppointment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitIdsForFTFCount</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SA_s_Record_Loop.Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalCompletedAppointment</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substract_FTF_Count</targetReference>
            </connector>
            <label>if Contains &amp; TotalCompletedAppointment &gt; 0</label>
        </rules>
        <rules>
            <name>If_Contains_but_TotalCompletedAppointment_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitIdsForFTFCount</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SA_s_Record_Loop.Unit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_s_Record_Loop</targetReference>
            </connector>
            <label>If Contains but TotalCompletedAppointment is 0</label>
        </rules>
    </decisions>
    <description>#US920644 Updating FTF count for each mechanic on service resource .used to calculate FTF of last 7 days on Service resource level</description>
    <environments>Default</environments>
    <formulas>
        <name>last7days</name>
        <dataType>Date</dataType>
        <expression>TODAY()-7</expression>
    </formulas>
    <formulas>
        <name>NowDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Auto launched Update FTF Count {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Auto launched Update FTF Count</label>
    <loops>
        <name>Copy_1_of_get_appointment_ids</name>
        <label>get all appointment ids</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>AppointmentId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_appointment_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_assigned_appointment_from_last_7_days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>get_appointment_ids</name>
        <label>get appointment ids</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>get_all_assigned_appointment_from_last_7_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_unit_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Unit_s_SA_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SA_s_Record_Loop</name>
        <label>SA&apos;s Record Loop</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <collectionReference>Get_Unit_s_SA_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_UnitId_Contains_in_UnitIdsFTFCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_service_resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_assigned_appointment_from_last_7_days</name>
        <label>get all assigned appointment from last 7 days</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_appointment_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last7days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_assigned_resource</name>
        <label>get all assigned resource</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_get_appointment_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_resource.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>AppointmentId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_assigned_resource</name>
        <label>get assigned resource</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_service_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SARecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_service_resource</name>
        <label>get service resource</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_assigned_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_assigned_resource.ServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_s_SA_Record</name>
        <label>Get Unit&apos;s SA Record</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_s_Record_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>In</operator>
            <value>
                <elementReference>allUnitIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last7days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_service_resource</name>
        <label>update service resource</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_service_resource.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FTF_count_last_7_days__c</field>
            <value>
                <elementReference>TotalCompletedAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_7_days_Appointments__c</field>
            <value>
                <elementReference>totalassignedAppointment</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_assigned_resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allUnitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppointmentId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>totalassignedAppointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalCompletedAppointment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>unitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitIdsForFTFCount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderCount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
