modules/fs/main/default/flows/AutoCreateRelatedMaintenancePlanForContractLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Generate_Maintenance_set_to_TRUE</name>
        <label>Generate_Maintenance set to TRUE?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GenerateMaintenancePlan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_related_Maintenance_Plan</targetReference>
            </connector>
            <label>If TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Generalized_MWR_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Work Rule For &apos; + {!Get_Parent_MaintenancePlan_Id.Contract_Line_Item__r.Name__c}</expression>
    </formulas>
    <formulas>
        <name>GeneralizedMPTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name__c} + &apos; - &apos; + {!$Record.Asset.Name} + &apos; - &apos; +( IF({!$Record.AutoGenerateWO__c}, &apos;AutoGenerated&apos; , &apos;Sequential&apos;))
+ &apos; Maintenance Plan&apos;</expression>
    </formulas>
    <formulas>
        <name>RecurrencePattern</name>
        <dataType>String</dataType>
        <expression>&apos;FREQ=&apos;  + TEXT({!Get_Parent_MaintenancePlan_Id.Contract_Line_Item__r.Frequency__c}) + &apos;;INTERVAL=&apos; + TEXT({!Get_Parent_MaintenancePlan_Id.Contract_Line_Item__r.Interval__c})</expression>
    </formulas>
    <interviewLabel>Auto Create Related MaintenancePlan for ContractLineItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Related MaintenancePlan for ContractLineItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Maintenance_Asset_related_to_MP</name>
        <label>Create Maintenance Asset related to MP</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_MWR_related_to_MP</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanId</field>
            <value>
                <elementReference>Get_Parent_MaintenancePlan_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MWR_related_to_MP</name>
        <label>Create MWR related to MP</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_start_and_end_dates_of_Contract_line_item</targetReference>
        </connector>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>Get_Parent_MaintenancePlan_Id.Contract_Line_Item__r.InitialDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentMaintenancePlanId</field>
            <value>
                <elementReference>Create_related_Maintenance_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentMaintenanceRecordId</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrencePattern</field>
            <value>
                <elementReference>RecurrencePattern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Generalized_MWR_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Calendar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Parent_MaintenancePlan_Id.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenanceWorkRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_related_Maintenance_Plan</name>
        <label>Create related Maintenance Plan</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Parent_MaintenancePlan_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ServiceContract.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Line_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutoGenerateWorkOrders</field>
            <value>
                <elementReference>$Record.AutoGenerateWO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesGenerateUponCompletion</field>
            <value>
                <elementReference>$Record.GenerateNewBatchUponCompletion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationHorizon</field>
            <value>
                <elementReference>$Record.GenerationHorizon__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationTimeframe</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GenerationTimeframeType</field>
            <value>
                <stringValue>Months</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaintenancePlanTitle</field>
            <value>
                <elementReference>GeneralizedMPTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>$Record.InitialDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>$Record.ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.DefaultWorkTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_MaintenancePlan_Id</name>
        <label>Get Parent MaintenancePlan Id</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Maintenance_Asset_related_to_MP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_related_Maintenance_Plan</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_start_and_end_dates_of_Contract_line_item</name>
        <label>Update start and end dates of Contract line item</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.ServiceContract.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.ServiceContract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Maintenance_set_to_TRUE</targetReference>
        </connector>
        <object>ContractLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
