modules/fs/main/default/flows/BackInService_By_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>US958348: This Flow is created to validate back in service future date with respect to Unit's timezone.</description>
    <actionCalls>
        <name>ShiftCoverageConstructor</name>
        <label>ShiftCoverageConstructor</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>ShiftCoverageConstructor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BackinServiceTimeCheck_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vars</name>
            <value>
                <elementReference>ShiftCoverageClassMethodDataFormat</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ShiftCoverageConstructor</nameSegment>
        <outputParameters>
            <assignToReference>TimeChangedCurrent</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>Back in Service Can&apos;t be in future</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Back in Service Can&apos;t be in future.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>BackInServiceTimeChange</name>
        <label>BackInServiceTimeChange</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BackInServiceDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShiftCoverageConstructor</targetReference>
            </connector>
            <label>Back in</label>
        </rules>
    </decisions>
    <decisions>
        <name>BackinServiceTimeCheck_Flow</name>
        <label>BackinServiceTimeCheck Flow</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeChangedCurrent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.BackInServiceDateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>is past</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ShiftCoverageClassMethodDataFormat</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})+&apos;;&apos;+{!$Record.TimeZone__c}+&apos;;&apos;+{!$Record.TimeZone__c}</expression>
    </formulas>
    <formulas>
        <name>UpdatedDt</name>
        <dataType>String</dataType>
        <expression>{!ChangedTime}</expression>
    </formulas>
    <interviewLabel>BackInService By Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BackInService By Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BackInServiceTimeChange</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangedTime</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangedTimeNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuttentTmeChanged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeChanged</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeChangedCurrent</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
