modules/fs/main/default/flows/BackInService_By_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ShiftCoverageConstructor</name>
        <label>ShiftCoverageConstructor</label>
        <locationX>209</locationX>
        <locationY>539</locationY>
        <actionName>ShiftCoverageConstructor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BackinServiceTimeCheck_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vars</name>
            <value>
                <elementReference>ShiftCoverageClassMethodDataFormat</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ShiftCoverageConstructor</nameSegment>
        <outputParameters>
            <assignToReference>TimeChangedCurrent</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>Back in Service Can&apos;t be in future</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>77</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Unit_Back_in_service_Error}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>BackInServiceTimeChange</name>
        <label>BackInServiceTimeChange</label>
        <locationX>539</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_in</name>
            <conditionLogic>1 AND 2 AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BackInServiceDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>otisintegration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShiftCoverageConstructor</targetReference>
            </connector>
            <label>Back in</label>
        </rules>
        <rules>
            <name>When_checkbox_is_selected_and_route_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTIS_Installation_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_unit_field_status_and_reason</targetReference>
            </connector>
            <label>When checkbox is selected and route is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>BackinServiceTimeCheck_Flow</name>
        <label>BackinServiceTimeCheck Flow</label>
        <locationX>209</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeChangedCurrent</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.BackInServiceDateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>is past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsBypassEnabled</name>
        <label>Is Bypass Enabled?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>BackInServiceTimeChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_BypassEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS_KillSwitch__c.DisableFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>US958348: Back in service date time validation with respect to unit time and 
US 935186: Unit field status &quot;OTIS Installation Unit&quot;, Status Reason field : &quot;OTIS Installation Unit Period started&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>ShiftCoverageClassMethodDataFormat</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})+&apos;;&apos;+{!$Record.TimeZone__c}+&apos;;&apos;+{!$Record.TimeZone__c}</expression>
    </formulas>
    <formulas>
        <name>UpdatedDt</name>
        <dataType>String</dataType>
        <expression>{!ChangedTime}</expression>
    </formulas>
    <interviewLabel>BackInService By Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BackInService By Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_unit_field_status_and_reason</name>
        <label>Update unit field status and reason</label>
        <locationX>605</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Equipment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>OTIS Installation Unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>OTIS Installation Unit Period started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_IsBypassEnabled</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChangedTime</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangedTimeNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CuttentTmeChanged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeChanged</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeChangedCurrent</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
