modules/fs/main/default/flows/Cancel_Future_WO_SA_related_to_Service_Contract_and_Mplan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_SA_Id_to_Variable</name>
        <label>Assign SA Id to Variable and WO List</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SAListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_Service_Appointment_Id_s_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_Service_Appointment_Id_s_2.WorkOrder__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_Service_Appointment_Id_s_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_id_to_Variable</name>
        <label>Assign WO id to Variable</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_Work_Order_to_Get_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_Work_Order_to_Get_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_RT_id</name>
        <label>Assign WO RT id</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>WOMaintenanceRTid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_WO_RecordType_as_Maintenance.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Check_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Maintenance_Work_Rule_Records</name>
        <label>Store Maintenance Work Rule Records</label>
        <locationX>1034</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>workRuleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Maintenance_Work_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Maintenance_Work_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Mplan_Records</name>
        <label>Store Mplan Records</label>
        <locationX>1034</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>MplanId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Mplan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Mplan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Reccurrence_pattern</name>
        <label>Store Reccurrence pattern</label>
        <locationX>1034</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Maintenance_Work_Rule.RecurrencePattern</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workRulePattern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Maintenance_Work_Rule_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Service_Appointment_Id</name>
        <label>Store Service Appointment Id</label>
        <locationX>1034</locationX>
        <locationY>4322</locationY>
        <assignmentItems>
            <assignToReference>SaIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Future_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Future_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Work_Order_Records</name>
        <label>Store Work Order Records</label>
        <locationX>1034</locationX>
        <locationY>3914</locationY>
        <assignmentItems>
            <assignToReference>WoId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Future_WorkOrder_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Future_WorkOrder_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_MP_ID_to_Proceed_for_different_WO_Set</name>
        <label>Check for MP ID to Proceed for different WO Set ?</label>
        <locationX>946</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Contract_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MPlanID2_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MPlanID2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancellationEffectivedate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_WO_RecordType_as_Maintenance</targetReference>
            </connector>
            <label>MPlan ID Present</label>
        </rules>
        <rules>
            <name>MplanId_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Contract_Records</targetReference>
            </connector>
            <label>Service Contract Id present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recurrence_pattern</name>
        <label>Check Recurrence pattern</label>
        <locationX>1166</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Iterate_Maintenance_Work_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Maintenance_Work_Rule.RecurrencePattern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Reccurrence_pattern</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAListToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WOListToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_1</name>
        <label>Null Check 1</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOMaintenanceRTid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_s_to_Loop</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_2</name>
        <label>Null Check 2</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Service_Appointment_Records_to_Loop</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Cancel All Future Work Order and Service Appointments Related to Service Contract and Maintenance Template</description>
    <environments>Default</environments>
    <formulas>
        <name>workRulePattern</name>
        <dataType>String</dataType>
        <expression>&apos;FREQ=DAILY;INTERVAL=1;UNTIL=&apos;+TEXT(YEAR({!$Flow.CurrentDate}))+If(MONTH({!$Flow.CurrentDate})&lt;10,&apos;0&apos;+TEXT(MONTH({!$Flow.CurrentDate})),TEXT(MONTH({!$Flow.CurrentDate})))+If((DAY({!$Flow.CurrentDate}))&lt;10,&apos;0&apos;+TEXT(DAY({!$Flow.CurrentDate})),TEXT(DAY({!$Flow.CurrentDate})))+&apos;T000000Z;&apos;</expression>
    </formulas>
    <interviewLabel>Cancel Future WO, SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Cancel Future WO, SA related to Service Contract and Mplan</label>
    <loops>
        <name>Iterate_Future_SA</name>
        <label>Iterate Future SA</label>
        <locationX>946</locationX>
        <locationY>4214</locationY>
        <collectionReference>Get_Future_SA_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Service_Appointment_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Future_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Future_WorkOrder_Records</name>
        <label>Iterate Future WorkOrder Records</label>
        <locationX>946</locationX>
        <locationY>3806</locationY>
        <collectionReference>Get_Future_WO_Records1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Work_Order_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Future_SA_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Maintenance_Work_Rule</name>
        <label>Iterate Maintenance Work Rule</label>
        <locationX>946</locationX>
        <locationY>2990</locationY>
        <collectionReference>Get_Maintenance_Work_Rule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Recurrence_pattern</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Maintenance_Work_Rule_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Mplan</name>
        <label>Iterate Mplan</label>
        <locationX>946</locationX>
        <locationY>2582</locationY>
        <collectionReference>Get_Mplan_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Mplan_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Maintenance_Work_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_the_Service_Appointment_Id_s_2</name>
        <label>Loop the Service Appointment Id&apos;s 2</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_the_Service_Appointment_Records_to_Loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SA_Id_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_the_Work_Order_to_Get_SA</name>
        <label>Loop the Work Order to Get SA</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_WO_s_to_Loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WO_id_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Future_SA_records</name>
        <label>Get Future SA records</label>
        <locationX>946</locationX>
        <locationY>4106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Future_SA</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_WO_Records1</name>
        <label>Get Future WO Records</label>
        <locationX>946</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Future_WorkOrder_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MaintenancePlanId</field>
            <operator>In</operator>
            <value>
                <elementReference>MplanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Otis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Work_Rule</name>
        <label>Get Maintenance Work Rule</label>
        <locationX>946</locationX>
        <locationY>2882</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Maintenance_Work_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentMaintenancePlanId</field>
            <operator>In</operator>
            <value>
                <elementReference>MplanId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceWorkRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mplan_Records</name>
        <label>Get Mplan Records</label>
        <locationX>946</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Mplan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract_Records</name>
        <label>Get Service Contract Records</label>
        <locationX>946</locationX>
        <locationY>2258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Service_Contract_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Service_Appointment_Records_to_Loop</name>
        <label>Get the Service Appointment Records to Loop</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_Service_Appointment_Id_s_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WorkOrderIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>CancellationEffectivedate</elementReference>
            </value>
        </filters>
        <filters>
            <field>DueDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>CancellationEffectivedate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_WO_RecordType_as_Maintenance</name>
        <label>Get the WO RecordType as Maintenance</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WO_RT_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_s_to_Loop</name>
        <label>Get WO&apos;s to Loop</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_Work_Order_to_Get_SA</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>MaintenancePlanId</field>
            <operator>In</operator>
            <value>
                <elementReference>MPlanID2</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOMaintenanceRTid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed - Shutdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Otis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Future_SA</name>
        <label>Update Future SA</label>
        <locationX>946</locationX>
        <locationY>4514</locationY>
        <connector>
            <targetReference>Update_Wo_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SaIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Maintenance_Work_Rule_Records</name>
        <label>Update Maintenance Work Rule Records</label>
        <locationX>946</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Get_Future_WO_Records1</targetReference>
        </connector>
        <inputReference>workRuleIds</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mplan_Records</name>
        <label>Update Mplan Records</label>
        <locationX>946</locationX>
        <locationY>4730</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MplanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Records</name>
        <label>Update SA Records</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SAListToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Contract_Record</name>
        <label>Update Service Contract Record</label>
        <locationX>946</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Get_Mplan_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wo_Records</name>
        <label>Update Wo Records</label>
        <locationX>946</locationX>
        <locationY>4622</locationY>
        <connector>
            <targetReference>Update_Mplan_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>WoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_CancellationReason__c</field>
            <value>
                <stringValue>Contract cancelled on site (not updated in our system)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Records</name>
        <label>Update Work Order Records</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_SA_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>WOListToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_CancellationReason__c</field>
            <value>
                <stringValue>Contract cancelled on site (not updated in our system)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>820</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_MP_ID_to_Proceed_for_different_WO_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancellationEffectivedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MplanId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is used to capture MP ID from Parent flow to Cancel WO&apos;s.</description>
        <name>MPlanID2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAListToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WoIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOListToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOMaintenanceRTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workRuleIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenanceWorkRule</objectType>
    </variables>
</Flow>
