modules/fs/main/default/flows/Closeout_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Error_Message_Assignment</name>
        <label>Error Message Assignment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Length of the Service Request Notes should not be greater then 75 character.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SA_Closeout2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fields_Assignments</name>
        <label>Fields Assignments</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed - Shutdown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperationalStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UnitShutdownLog_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADJUSTED</name>
        <choiceText>ADJUSTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADJUSTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHECKEDOPERATION</name>
        <choiceText>CHECKED OPERATION</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHECKED OPERATION</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLEANANDADJUSTED</name>
        <choiceText>CLEAN AND ADJUSTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLEAN AND ADJUSTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLEANED</name>
        <choiceText>CLEANED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLEANED</stringValue>
        </value>
    </choices>
    <choices>
        <name>INSTALLED</name>
        <choiceText>INSTALLED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INSTALLED</stringValue>
        </value>
    </choices>
    <choices>
        <name>LUBRICATED</name>
        <choiceText>LUBRICATED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LUBRICATED</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAINTED</name>
        <choiceText>PAINTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAINTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>RELOCATED</name>
        <choiceText>RELOCATED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RELOCATED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REMOVED</name>
        <choiceText>REMOVED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REMOVED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPAIRED</name>
        <choiceText>REPAIRED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPAIRED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPAIRS_DUE_TO_MISUSE</name>
        <choiceText>REPAIRS DUE TO MISUSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPAIRS DUE TO MISUSE</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPLACED</name>
        <choiceText>REPLACED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPLACED</stringValue>
        </value>
    </choices>
    <choices>
        <name>RESET_POR</name>
        <choiceText>RESET / POR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RESET / POR</stringValue>
        </value>
    </choices>
    <choices>
        <name>SURVEY</name>
        <choiceText>SURVEY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SURVEY</stringValue>
        </value>
    </choices>
    <choices>
        <name>TESTED</name>
        <choiceText>TESTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TESTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>TROUBLESHOOT</name>
        <choiceText>TROUBLESHOOT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TROUBLESHOOT</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnitDefaultValue</name>
        <choiceText>{!Unit_Record.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Unit_Record.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Operation_Status_Reason</name>
        <label>Check Operation Status Reason</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Shutdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operational_Status_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_Assignments</targetReference>
            </connector>
            <label>If Shutdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ParentRecordType</name>
        <label>Check ParentRecordType</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SA_Error_Closeout_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Unit_Record</targetReference>
            </connector>
            <label>If WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SR_Note_Length</name>
        <label>Check SR Note Length</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_WorkPerformedCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_greater_then_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SRCloseoutNotesLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Assignment</targetReference>
            </connector>
            <label>if greater then 75</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Operational_Status</name>
        <label>Check Unit Operational Status</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Unit_Shutdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OperationalStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shutdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UnitShutdownLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UnitShutdownLog</targetReference>
            </connector>
            <label>If Unit Shutdown</label>
        </rules>
        <rules>
            <name>If_Unit_InService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OperationalStatusVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_UnitShutDown_Log</targetReference>
            </connector>
            <label>If Unit InService</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CategoryPicklistCollectionSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NAA_Category__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComponentCodeValues</name>
        <dataType>String</dataType>
        <displayField>ComponentDescription__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>ComponentCode__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperationalStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperationalStatusReason__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Units Related To Building</description>
        <name>UnitsRelatedToBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Record.LocationId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FlowError</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>SRCloseoutNotesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Service_Request_Closeout_Notes})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Closeout SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closeout SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_UnitShutDown_Log</name>
        <label>Create UnitShutDown Log</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShutdownReportedBy__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitShutdownReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Unit_Record</name>
        <label>Get Current Unit Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Closeout1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Unit__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Unit_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ParentRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>ParentRecordType</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UnitShutdownLog_Record</name>
        <label>Get UnitShutdownLog Record</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </filters>
        <object>AssetDowntimePeriod</object>
        <outputAssignments>
            <assignToReference>UnitShutdownLogId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkPerformedCode</name>
        <label>Get WorkPerformedCode</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Operation_Status_Reason</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WorkPerformedDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Performed</elementReference>
            </value>
        </filters>
        <object>WorkPerformedCode__c</object>
        <outputReference>WorkPerformedCodeRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Work_Order</name>
        <label>Update Related Work Order</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComponentCode__c</field>
            <value>
                <elementReference>Component_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WorkOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SvcReqCloseoutNoteByMechanic__c</field>
            <value>
                <elementReference>Service_Request_Closeout_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitMisused__c</field>
            <value>
                <elementReference>Unit_Misused</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOccupied__c</field>
            <value>
                <elementReference>Unit_Occupied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPerformed__c</field>
            <value>
                <elementReference>WorkPerformedCodeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Related_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Check_Unit_Operational_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperationalStatusReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperationalStatus__c</field>
            <value>
                <elementReference>OperationalStatusVar</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UnitShutdownLog</name>
        <label>Update UnitShutdownLog</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitShutdownLogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInServiceDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BackinServiceBy__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(228, 6, 6);&quot;&gt;Facing the Error : {!FlowError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Closeout1</name>
        <label>Service Request WO Closeout</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SA_Closeout2</targetReference>
        </connector>
        <fields>
            <name>AppointmentNumber</name>
            <fieldText>&lt;p&gt;Appointment Number&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SA_Record.AppointmentNumber}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Units</name>
            <choiceReferences>UnitsRelatedToBuilding</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UnitDefaultValue</elementReference>
            </defaultValue>
            <fieldText>Units</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryPicklistCollectionSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Misused</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Unit Misused ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Occupied</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Unit Occupied ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Closeout2</name>
        <label>Service Request WO Closeout</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_SR_Note_Length</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AppointmentNumber</name>
            <fieldText>&lt;p&gt;Appointment Number&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SA_Record.AppointmentNumber}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Component_Code</name>
            <choiceReferences>ComponentCodeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Component Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Performed</name>
            <choiceReferences>ADJUSTED</choiceReferences>
            <choiceReferences>CHECKEDOPERATION</choiceReferences>
            <choiceReferences>CLEANED</choiceReferences>
            <choiceReferences>CLEANANDADJUSTED</choiceReferences>
            <choiceReferences>INSTALLED</choiceReferences>
            <choiceReferences>LUBRICATED</choiceReferences>
            <choiceReferences>PAINTED</choiceReferences>
            <choiceReferences>RELOCATED</choiceReferences>
            <choiceReferences>REMOVED</choiceReferences>
            <choiceReferences>REPAIRED</choiceReferences>
            <choiceReferences>REPAIRS_DUE_TO_MISUSE</choiceReferences>
            <choiceReferences>REPLACED</choiceReferences>
            <choiceReferences>RESET_POR</choiceReferences>
            <choiceReferences>SURVEY</choiceReferences>
            <choiceReferences>TESTED</choiceReferences>
            <choiceReferences>TROUBLESHOOT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Performed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operational_Status_Reason</name>
            <choiceReferences>OperationalStatusReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>In Service</stringValue>
            </defaultValue>
            <fieldText>Operational Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Request_Closeout_Notes</name>
            <dataType>String</dataType>
            <fieldText>Service Request Closeout Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 10, 10); font-size: 11px;&quot;&gt;{!ErrorMessageVar}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Error_Closeout_Message</name>
        <label>SA Error Closeout Message</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CloseoutError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(76, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unable to Complete the Service Appointment as status is other then &lt;/strong&gt;&lt;strong style=&quot;color: rgb(76, 68, 68);&quot;&gt;onsite OR Parent Record is other then WorkOrder. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationalStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>In Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Unit_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UnitShutdownLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkPerformedCodeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPerformedCode__c</objectType>
    </variables>
</Flow>
