modules/fs/main/default/flows/Closeout_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Fields_Assignments</name>
        <label>Fields Assignments</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed - Shutdown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperationalStatusVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkPerformedCode</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADJUSTED</name>
        <choiceText>ADJUSTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADJUSTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHECKEDOPERATION</name>
        <choiceText>CHECKED OPERATION</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHECKED OPERATION</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLEANANDADJUSTED</name>
        <choiceText>CLEAN AND ADJUSTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLEAN AND ADJUSTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLEANED</name>
        <choiceText>CLEANED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLEANED</stringValue>
        </value>
    </choices>
    <choices>
        <name>INSTALLED</name>
        <choiceText>INSTALLED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INSTALLED</stringValue>
        </value>
    </choices>
    <choices>
        <name>LUBRICATED</name>
        <choiceText>LUBRICATED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LUBRICATED</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAINTED</name>
        <choiceText>PAINTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAINTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>RELOCATED</name>
        <choiceText>RELOCATED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RELOCATED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REMOVED</name>
        <choiceText>REMOVED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REMOVED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPAIRED</name>
        <choiceText>REPAIRED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPAIRED</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPAIRS_DUE_TO_MISUSE</name>
        <choiceText>REPAIRS DUE TO MISUSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPAIRS DUE TO MISUSE</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPLACED</name>
        <choiceText>REPLACED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPLACED</stringValue>
        </value>
    </choices>
    <choices>
        <name>RESET_POR</name>
        <choiceText>RESET / POR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RESET / POR</stringValue>
        </value>
    </choices>
    <choices>
        <name>SURVEY</name>
        <choiceText>SURVEY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SURVEY</stringValue>
        </value>
    </choices>
    <choices>
        <name>TESTED</name>
        <choiceText>TESTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TESTED</stringValue>
        </value>
    </choices>
    <choices>
        <name>TROUBLESHOOT</name>
        <choiceText>TROUBLESHOOT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TROUBLESHOOT</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnitDefaultValue</name>
        <choiceText>{!Unit_Record.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Unit_Record.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Operation_Status_Reason_Value</name>
        <label>Check Operation Status Reason Value</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>SA_Closeout2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Operational_is_Shutdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operational_Status_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Closeout2</targetReference>
            </connector>
            <label>If Operational is Shutdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ParentRecordType</name>
        <label>Check ParentRecordType</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SA_Error_Closeout_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Record.ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkOrder</targetReference>
            </connector>
            <label>If WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Passenger_Released</name>
        <label>Check Passenger Released</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Unit_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Released_and_S1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.ConfirmedPassengerRelease__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderRecord.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S1 - Emergency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Screen</targetReference>
            </connector>
            <label>If Not Released and S1</label>
        </rules>
    </decisions>
    <description>US # 936465 - This flow is using to Close the SA.</description>
    <dynamicChoiceSets>
        <name>CategoryPicklistCollection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComponentCodeValues</name>
        <dataType>String</dataType>
        <displayField>ComponentDescription__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>ComponentCode__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperationalStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OperationalStatusReason__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Units Related To Building</description>
        <name>UnitsRelatedToBuilding</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Record.LocationId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FlowError</name>
        <dataType>String</dataType>
        <expression>{!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>SRCloseoutNotesLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Service_Request_Closeout_Notes})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Closeout SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closeout SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_UnitShutDown_Log</name>
        <label>Create UnitShutDown Log</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>Projected_Restart_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShutdownReportedBy__c</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitShutdownReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Unit_Record</name>
        <label>Get Current Unit Record</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Unit_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Record</name>
        <label>Get SA Record</label>
        <locationX>2162</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ParentRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>ParentRecordType</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Travel_Time__c</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Closeout1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UnitShutdownLog_Record_0</name>
        <label>Get UnitShutdownLog Record</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkPerformedCode_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </filters>
        <object>AssetDowntimePeriod</object>
        <outputAssignments>
            <assignToReference>UnitShutdownLogId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Passenger_Released</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ConfirmedPassengerRelease__c</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkPerformedCode</name>
        <label>Get WorkPerformedCode</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WorkPerformedDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Performed</elementReference>
            </value>
        </filters>
        <object>WorkPerformedCode__c</object>
        <outputReference>WorkPerformedCodeRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkPerformedCode_0</name>
        <label>Get WorkPerformedCode</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WorkPerformedDescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Performed_0</elementReference>
            </value>
        </filters>
        <object>WorkPerformedCode__c</object>
        <outputReference>WorkPerformedCodeRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Work_Order</name>
        <label>Update Related Work Order</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComponentCode__c</field>
            <value>
                <elementReference>Component_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WorkOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SvcReqCloseoutNoteByMechanic__c</field>
            <value>
                <elementReference>Service_Request_Closeout_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitMisused__c</field>
            <value>
                <elementReference>Unit_Misused</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOccupied__c</field>
            <value>
                <elementReference>Unit_Occupied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPerformed__c</field>
            <value>
                <elementReference>WorkPerformedCodeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Work_Order_0</name>
        <label>Update Related Work Order</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Unit_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComponentCode__c</field>
            <value>
                <elementReference>Component_Code_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WorkOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SvcReqCloseoutNoteByMechanic__c</field>
            <value>
                <elementReference>Service_Request_Closeout_Notes_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitMisused__c</field>
            <value>
                <elementReference>Unit_Misused</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitOccupied__c</field>
            <value>
                <elementReference>Unit_Occupied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkPerformed__c</field>
            <value>
                <elementReference>WorkPerformedCodeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Related_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>Work_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Time__c</field>
            <value>
                <elementReference>Travel_Time_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_0</name>
        <label>Update SA</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Related_Work_Order_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>Copy_1_of_Work_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Time__c</field>
            <value>
                <elementReference>Copy_1_of_Travel_Time_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Create_UnitShutDown_Log</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperationalStatusReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperationalStatus__c</field>
            <value>
                <elementReference>OperationalStatusVar</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_0</name>
        <label>Update Unit</label>
        <locationX>1634</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_UnitShutdownLog</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OperationalStatusReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperationalStatus__c</field>
            <value>
                <elementReference>OperationalStatusVar</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UnitShutdownLog</name>
        <label>Update UnitShutdownLog</label>
        <locationX>1634</locationX>
        <locationY>1646</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitShutdownLogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInServiceDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BackinServiceBy__c</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderForUnitInService__c</field>
            <value>
                <elementReference>SA_Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordUpdates>
    <screens>
        <name>Add_Time</name>
        <label>Add Time</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fields_Assignments</targetReference>
        </connector>
        <fields>
            <name>WorkStartTime</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Work Start Time : {!SA_Record.ActualStartTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Work End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Work End Time&lt;/span&gt;&lt;span style=&quot;color: rgb(240, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt; should not be null and should not less then &lt;/span&gt;&lt;span style=&quot;color: rgb(247, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Work Start Time&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Work_End_Time} &gt; {!SA_Record.ActualStartTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Travel_Time_Minutes</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SA_Record.Travel_Time__c</elementReference>
            </defaultValue>
            <fieldText>Travel Time(Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Time_1</name>
        <label>Add Time</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_UnitShutdownLog_Record_0</targetReference>
        </connector>
        <fields>
            <name>WorkStime</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Start Time : {!SA_Record.ActualStartTime}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Work_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Work End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 13, 13); background-color: rgb(255, 255, 255);&quot;&gt;Work End Date should be greater then Work Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Copy_1_of_Work_End_Time} &gt; {!SA_Record.ActualStartTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Copy_1_of_Travel_Time_Minutes</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SA_Record.Travel_Time__c</elementReference>
            </defaultValue>
            <fieldText>Travel Time(Minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(228, 6, 6);&quot;&gt;Facing the Error : {!FlowError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Closeout1</name>
        <label>Service Request WO Closeout</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Operation_Status_Reason_Value</targetReference>
        </connector>
        <fields>
            <name>AppointmentNumber</name>
            <fieldText>&lt;p&gt;Appointment Number&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SA_Record.AppointmentNumber}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Units</name>
            <choiceReferences>UnitsRelatedToBuilding</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UnitDefaultValue</elementReference>
            </defaultValue>
            <fieldText>Units</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryPicklistCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Misused</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Unit Misused ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Occupied</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Unit Occupied ?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operational_Status_Reason</name>
            <choiceReferences>OperationalStatusReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>In Service</stringValue>
            </defaultValue>
            <fieldText>Operational Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Closeout2</name>
        <label>Service Request WO Closeout</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Time</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AppointmentNumber</name>
            <fieldText>&lt;p&gt;Appointment Number&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SA_Record.AppointmentNumber}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Component_Code</name>
            <choiceReferences>ComponentCodeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Component Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Performed</name>
            <choiceReferences>ADJUSTED</choiceReferences>
            <choiceReferences>CHECKEDOPERATION</choiceReferences>
            <choiceReferences>CLEANED</choiceReferences>
            <choiceReferences>CLEANANDADJUSTED</choiceReferences>
            <choiceReferences>INSTALLED</choiceReferences>
            <choiceReferences>LUBRICATED</choiceReferences>
            <choiceReferences>PAINTED</choiceReferences>
            <choiceReferences>RELOCATED</choiceReferences>
            <choiceReferences>REMOVED</choiceReferences>
            <choiceReferences>REPAIRED</choiceReferences>
            <choiceReferences>REPAIRS_DUE_TO_MISUSE</choiceReferences>
            <choiceReferences>REPLACED</choiceReferences>
            <choiceReferences>RESET_POR</choiceReferences>
            <choiceReferences>SURVEY</choiceReferences>
            <choiceReferences>TESTED</choiceReferences>
            <choiceReferences>TROUBLESHOOT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Performed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Projected_Restart_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Projected Restart Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(240, 10, 10);&quot;&gt;Projected Restart Date&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 10, 10);&quot;&gt;/Time should not be null and should not be in the past.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Projected_Restart_Date} &gt; NOW()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Service_Request_Closeout_Notes</name>
            <dataType>String</dataType>
            <fieldText>Service Request Closeout Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Closeout2_0</name>
        <label>Service Request WO Closeout</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Time_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AppointmentNumber_0</name>
            <fieldText>&lt;p&gt;Appointment Number&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SA_Record.AppointmentNumber}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Component_Code_0</name>
            <choiceReferences>ComponentCodeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Component Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Performed_0</name>
            <choiceReferences>ADJUSTED</choiceReferences>
            <choiceReferences>CHECKEDOPERATION</choiceReferences>
            <choiceReferences>CLEANED</choiceReferences>
            <choiceReferences>CLEANANDADJUSTED</choiceReferences>
            <choiceReferences>INSTALLED</choiceReferences>
            <choiceReferences>LUBRICATED</choiceReferences>
            <choiceReferences>PAINTED</choiceReferences>
            <choiceReferences>RELOCATED</choiceReferences>
            <choiceReferences>REMOVED</choiceReferences>
            <choiceReferences>REPAIRED</choiceReferences>
            <choiceReferences>REPAIRS_DUE_TO_MISUSE</choiceReferences>
            <choiceReferences>REPLACED</choiceReferences>
            <choiceReferences>RESET_POR</choiceReferences>
            <choiceReferences>SURVEY</choiceReferences>
            <choiceReferences>TESTED</choiceReferences>
            <choiceReferences>TROUBLESHOOT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Performed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Request_Closeout_Notes_0</name>
            <dataType>String</dataType>
            <fieldText>Service Request Closeout Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SA_Error_Closeout_Message</name>
        <label>SA Error Closeout Message</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CloseoutError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(76, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Unable to Complete the Service Appointment as status is other then &lt;/strong&gt;&lt;strong style=&quot;color: rgb(76, 68, 68);&quot;&gt;onsite OR Parent Record is other then WorkOrder. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(195, 15, 15);&quot;&gt;Please do Passenger Release before Closing WO since it is an Entrapment/Possible Entrapment&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationalStatusVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>In Service</stringValue>
        </value>
    </variables>
    <variables>
        <name>SA_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Unit_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UnitShutdownLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkPerformedCodeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPerformedCode__c</objectType>
    </variables>
</Flow>
