modules/fs/main/default/flows/Contract_Conversion_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Contract_Unit_Summary</name>
        <label>Assign Contract Unit Summary</label>
        <locationX>525</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>UpdateContractUnitSummary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Unit_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContractUnitSummary.FS_ProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContractUnitSummary.FS_ServiceContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUnitSummary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>effective_date</name>
        <label>effective date</label>
        <locationX>902</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>effective</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Unit_Summary.FS_EffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Unit_Summary.FS_SalesContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract_Unit_Summary.FS_Unit__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Get_Contract_Unit_Summary.FS_ContractNumber__r.EndDate},{!Get_Contract_Unit_Summary.FS_ContractNumber__r.FS_RenewalPeriodYears__c} *12* {!Get_Contract_Unit_Summary.FS_ContractNumber__r.FS_NumOfRenewals__c})</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Contract_Unit_Summary.FS_Unit__r.Account.Name}+&apos;-&apos;+{!Get_Contract_Unit_Summary.FS_Unit__r.Name}+&apos;-&apos;+&apos;SR&apos;</expression>
    </formulas>
    <interviewLabel>Contract Conversion Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Conversion Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Entitlement_Record</name>
        <label>Create Entitlement Record</label>
        <locationX>318</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>LineConversion</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CalculateEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>Get_SLA_entitlement_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_EffectiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceContract</name>
        <label>Create Service Contract</label>
        <locationX>609</locationX>
        <locationY>379</locationY>
        <assignRecordIdToReference>ServiceContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_SLA_entitlement_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuildingId__c</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractUnitSummary__c</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>CalculateEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Contract__c</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_SalesContract__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_EffectiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason__c</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_ContractNumber__r.StatusReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Unit_Summary</name>
        <label>Get Contract Unit Summary</label>
        <locationX>629</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>effective_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractUnitSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook</name>
        <label>Get Pricebook</label>
        <locationX>852</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateServiceContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_entitlement_ID</name>
        <label>Get SLA entitlement ID</label>
        <locationX>315</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Entitlement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>emea entitlement process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SlaProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUnitSummary</name>
        <label>Update Unit Summary</label>
        <locationX>399</locationX>
        <locationY>752</locationY>
        <connector>
            <targetReference>Unit_Update</targetReference>
        </connector>
        <inputReference>UpdateContractUnitSummary</inputReference>
    </recordUpdates>
    <screens>
        <name>Flow_Result</name>
        <label>Flow Result</label>
        <locationX>905</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;Contract Conversion Completed Successfully !!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Get_Contract_Unit_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LineConversion</name>
        <label>LineConversion</label>
        <locationX>742</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Assign_Contract_Unit_Summary</targetReference>
        </connector>
        <flowName>FS_SubFlowServiceContractLineConversion</flowName>
        <inputAssignments>
            <name>ContractUnitSummary</name>
            <value>
                <elementReference>Get_Contract_Unit_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Get_Price_Book_ID</name>
            <value>
                <elementReference>Get_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceContractId</name>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Unit_Update</name>
        <label>Unit Update</label>
        <locationX>736</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Flow_Result</targetReference>
        </connector>
        <flowName>FS_SubFlowUnitUpdateBasedOnSummary</flowName>
        <inputAssignments>
            <name>serviceContractIds</name>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UnitId</name>
            <value>
                <elementReference>Get_Contract_Unit_Summary.FS_Unit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateContractUnitSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractUnitSummary__c</objectType>
    </variables>
</Flow>
