modules/fs/main/default/flows/Create_Time_Sheet_and_Time_Sheet_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_For_TimeSheet_Record</name>
        <label>Check For TimeSheet Record</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Sheet_Entry_for_Enroute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceResource_Related_TimeSheet_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TimeSheet_Record</targetReference>
            </connector>
            <label>If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_TimeSheet_Records</name>
        <label>Check For TimeSheet Records</label>
        <locationX>1172</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Sheet_Entry_for_Onsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceResource_Related_TimeSheet_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TimeSheet_Records</targetReference>
            </connector>
            <label>Copy 1 of If Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Created_Record</name>
        <label>Check New Created Record</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_TimeSheet_Record</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet_Entry</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Created_Records</name>
        <label>Check New Created Records</label>
        <locationX>974</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceResource_Related_TimeSheet_Records</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet_Entry_for_Onsites</targetReference>
            </connector>
            <label>Copy 1 of If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Status</name>
        <label>Check the Status</label>
        <locationX>1403</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enroute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ServiceResource_Related_TimeSheet_Record</targetReference>
            </connector>
            <label>Enroute</label>
        </rules>
        <rules>
            <name>Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_Onsite_Status</targetReference>
            </connector>
            <label>Onsite</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_Completed_Status</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Can_not_Complete_SA_Status_Onsite</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status</targetReference>
            </connector>
            <label>Can not Complete - SA Status Onsite</label>
        </rules>
        <rules>
            <name>Can_not_Complete_SA_Status_Enroute</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status</targetReference>
            </connector>
            <label>Can not Complete - SA Status Enroute</label>
        </rules>
    </decisions>
    <description>US913825 flow is used for this US, when SA status is changed at that time time sheet entry will be created on the time sheet Object.</description>
    <environments>Default</environments>
    <formulas>
        <name>TimeSheetEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Create Time Sheet and Time Sheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Time Sheet and Time Sheet Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Time_Sheet_Entry</name>
        <label>Create Time Sheet Entry</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>Create_TimeSheet_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry_for_Enroute</name>
        <label>Create Time Sheet Entry for Enroute</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>Get_ServiceResource_Related_TimeSheet_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry_for_Onsite</name>
        <label>Create Time Sheet Entry for Onsite</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>Get_ServiceResource_Related_TimeSheet_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry_for_Onsites</name>
        <label>Create Time Sheet Entry for Onsites</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>Get_ServiceResource_Related_TimeSheet_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TimeSheet_Record</name>
        <label>Create TimeSheet Record</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_New_Created_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>TimeSheetEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TimeSheet_Records</name>
        <label>Create TimeSheet Records</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Check_New_Created_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>TimeSheetEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1403</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceResource_Related_TimeSheet_Record</name>
        <label>Get ServiceResource Related TimeSheet Record</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_TimeSheet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceResource_Related_TimeSheet_Records</name>
        <label>Get ServiceResource Related TimeSheet Records</label>
        <locationX>1172</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_TimeSheet_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_Completed_Status</name>
        <label>Get Time Sheet Entry for Completed Status</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Completed_Time_Sheet_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_Onsite_Status</name>
        <label>Get Time Sheet Entry for Onsite Status</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatetheOnsiteTimeSheetEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status</name>
        <label>Get Time Sheet Entry for SA Can not Complete Status</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_ON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status</name>
        <label>Get Time Sheet Entry for the SA can not Complete Status</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_EN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Completed_Time_Sheet_Entry</name>
        <label>Update the Completed Time Sheet Entry</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Completed_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Completed_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_EN</name>
        <label>Update the SA Can not Complete Time Sheet Entry on EN</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Non Productive Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_ON</name>
        <label>Update the SA Can not Complete Time Sheet Entry on ON</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Non Productive Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatetheOnsiteTimeSheetEntry</name>
        <label>Update the Onsite Time Sheet Entry</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_ServiceResource_Related_TimeSheet_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Onsite_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Type__c</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Onsite_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <start>
        <locationX>1277</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrouteNewTSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>EnrouteNTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>ExistingTimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>ExistingTimeSheetNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>existingTimeSheetNew1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>existingTimeSheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheetOnsite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheetsRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoredTimeSheetData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>timeSheetRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
</Flow>
