modules/fs/main/default/flows/Create_Time_Sheet_and_Time_Sheet_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>468</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ExistingTimeSheetNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_through_timesheets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_through_timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>270</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>EnrouteNTS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_on_New_Time_Sheet_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_on_New_Time_Sheet_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>1282</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>newTimeSheetOnsite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_on_New_Onsite_Time_Sheet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_on_New_Onsite_Time_Sheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update</name>
        <label>Assignment Update</label>
        <locationX>1480</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>existingTimeSheetNew1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looping_through_the_Time_Sheet_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_through_the_Time_Sheet_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Time_Sheet_Data_for_this_User</name>
        <label>Store Time Sheet Data for this User</label>
        <locationX>1601</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>StoredTimeSheetData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Time_Sheet_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_time_Sheets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Onsite_timesheet_is_present_or_not</name>
        <label>Check Onsite timesheet is present or not</label>
        <locationX>1612</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>looping_through_the_Time_Sheet_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_through_the_Time_Sheet_1.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_through_the_Time_Sheet_1.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_through_the_Time_Sheet_1.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Update</targetReference>
            </connector>
            <label>Check the Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Status</name>
        <label>Check the Status</label>
        <locationX>1513</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enroute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>looping_through_timesheets</targetReference>
            </connector>
            <label>Enroute</label>
        </rules>
        <rules>
            <name>Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_Onsite_Status</targetReference>
            </connector>
            <label>Onsite</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_Completed_Status</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Can_not_Complete_SA_Status_Onsite</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status</targetReference>
            </connector>
            <label>Can not Complete - SA Status Onsite</label>
        </rules>
        <rules>
            <name>Can_not_Complete_SA_Status_Enroute</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Execute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status</targetReference>
            </connector>
            <label>Can not Complete - SA Status Enroute</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_timesheet_is_present_or_not</name>
        <label>Check timesheet is present or not</label>
        <locationX>600</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>looping_through_timesheets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_through_timesheets.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_through_timesheets.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_through_timesheets.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Checking dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Null</name>
        <label>Not Null</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnrouteNTS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet_Entry</targetReference>
            </connector>
            <label>Outcome 1 of Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Nulls</name>
        <label>Not Null</label>
        <locationX>1194</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTimeSheetOnsite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTimeSheetEntryforOnsites</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Sheet_Data_is_Present</name>
        <label>Time Sheet Data is Present</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>looping_on_New_Time_Sheet_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_dates_of_New_Time_Sheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_on_New_Time_Sheet_Data.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_on_New_Time_Sheet_Data.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_on_New_Time_Sheet_Data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>Checking dates of New Time Sheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Sheet_Data_is_Present_or_Not</name>
        <label>Time Sheet Data is Present or Not</label>
        <locationX>1414</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>looping_on_New_Onsite_Time_Sheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_dates_of_New_Time_Sheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>looping_on_New_Onsite_Time_Sheet.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_on_New_Onsite_Time_Sheet.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>looping_on_New_Onsite_Time_Sheet.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>Checking dates of New Time Sheets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_sheet_present_or_not</name>
        <label>Time sheet present or not</label>
        <locationX>380</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Sheet_Entry_for_Enroute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTimeSheetNew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_time_sheet</targetReference>
            </connector>
            <label>Null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_sheet_Rec_is_Null</name>
        <label>Time sheet Rec is Null</label>
        <locationX>1392</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Sheet_Entry_for_Onsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingTimeSheetNew1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheets</targetReference>
            </connector>
            <label>Null checks</label>
        </rules>
    </decisions>
    <description>US913825 flow is used for this US, when SA status is changed at that time time sheet entry will be created on the time sheet Object.</description>
    <environments>Default</environments>
    <formulas>
        <name>TimeSheetEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Create Time Sheet and Time Sheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Time Sheet and Time Sheet Entry</label>
    <loops>
        <name>Get_All_time_Sheets</name>
        <label>Get All time Sheets</label>
        <locationX>1513</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Time_Sheet_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Time_Sheet_Data_for_this_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_on_New_Onsite_Time_Sheet</name>
        <label>looping on New Onsite Time Sheet</label>
        <locationX>1194</locationX>
        <locationY>1979</locationY>
        <collectionReference>Get_New_Time_Sheet_Rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Time_Sheet_Data_is_Present_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Not_Nulls</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_on_New_Time_Sheet_Data</name>
        <label>looping on New Time Sheet Data</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <collectionReference>Get_New_Time_Sheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Time_Sheet_Data_is_Present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_through_the_Time_Sheet_1</name>
        <label>looping through the Time Sheet 1</label>
        <locationX>1392</locationX>
        <locationY>1163</locationY>
        <collectionReference>StoredTimeSheetData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Onsite_timesheet_is_present_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Time_sheet_Rec_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>looping_through_timesheets</name>
        <label>looping through timesheets</label>
        <locationX>380</locationX>
        <locationY>947</locationY>
        <collectionReference>StoredTimeSheetData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_timesheet_is_present_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Time_sheet_present_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_time_sheet</name>
        <label>create time sheet</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Get_New_Time_Sheet</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>TimeSheetEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry</name>
        <label>Create Time Sheet Entry</label>
        <locationX>50</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>EnrouteNTS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry_for_Enroute</name>
        <label>Create Time Sheet Entry for Enroute</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>ExistingTimeSheetNew.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheet_Entry_for_Onsite</name>
        <label>Create Time Sheet Entry for Onsite</label>
        <locationX>1590</locationX>
        <locationY>1763</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>existingTimeSheetNew1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Time_Sheets</name>
        <label>Create Time Sheet</label>
        <locationX>1194</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Get_New_Time_Sheet_Rec</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>TimeSheetEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTimeSheetEntryforOnsites</name>
        <label>Create Time Sheet Entry for OnSites</label>
        <locationX>1062</locationX>
        <locationY>2579</locationY>
        <inputAssignments>
            <field>EndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>newTimeSheetOnsite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Time_Sheet</name>
        <label>Get New Time Sheet</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_on_New_Time_Sheet_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedServiceResource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Time_Sheet_Rec</name>
        <label>Get New Time Sheet Rec</label>
        <locationX>1194</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_on_New_Onsite_Time_Sheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedServiceResource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>1513</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_Sheet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssignedServiceResource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_Completed_Status</name>
        <label>Get Time Sheet Entry for Completed Status</label>
        <locationX>1854</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Completed_Time_Sheet_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_Onsite_Status</name>
        <label>Get Time Sheet Entry for Onsite Status</label>
        <locationX>1392</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatetheOnsiteTimeSheetEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status</name>
        <label>Get Time Sheet Entry for SA Can not Complete Status</label>
        <locationX>2118</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_ON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status</name>
        <label>Get Time Sheet Entry for the SA can not Complete Status</label>
        <locationX>2382</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_EN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Record</name>
        <label>Get Time Sheet Record</label>
        <locationX>1513</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_time_Sheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Completed_Time_Sheet_Entry</name>
        <label>Update the Completed Time Sheet Entry</label>
        <locationX>1854</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Completed_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Completed_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_EN</name>
        <label>Update the SA Can not Complete Time Sheet Entry on EN</label>
        <locationX>2382</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_the_SA_can_not_Complete_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Non Productive Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_SA_Can_not_Complete_Time_Sheet_Entry_on_ON</name>
        <label>Update the SA Can not Complete Time Sheet Entry on ON</label>
        <locationX>2118</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_SA_Can_not_Complete_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Non Productive Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatetheOnsiteTimeSheetEntry</name>
        <label>Update the Onsite Time Sheet Entry</label>
        <locationX>1392</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>looping_through_the_Time_Sheet_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Onsite_Status.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationTimeZone</field>
            <value>
                <elementReference>Get_Service_Resource.TimeZone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <stringValue>Reg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Get_Time_Sheet_Entry_for_Onsite_Status.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>$Record.WorkOrder__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <start>
        <locationX>1387</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrouteNewTSE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>EnrouteNTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>ExistingTimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>ExistingTimeSheetNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>existingTimeSheetNew1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>existingTimeSheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheetOnsite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>newTimeSheetsRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoredTimeSheetData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>timeSheetRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
</Flow>
