modules/fs/main/default/flows/Create_SR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>Customer Not Available</description>
        <name>CustomerNotAvailable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Customer Not Available&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Not Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason1</name>
        <choiceText>Reason 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reason 1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reason 2</description>
        <name>reason2</name>
        <choiceText>Reason 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reason 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnwillingtoSign</name>
        <choiceText>Unwilling to Sign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unwilling to Sign</stringValue>
        </value>
    </choices>
    <constants>
        <name>constntVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer is Not Present</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BannerShowNew</name>
        <label>BannerShowNew</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>errorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureValueIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>signatureValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>storedSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Fields</targetReference>
            </connector>
            <label>SignatureValueIsPresent</label>
        </rules>
        <rules>
            <name>SignatureValueisNotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>signatureValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>storedSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Signature_Required</targetReference>
            </connector>
            <label>SignatureValueisNotPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capture_Signature</name>
        <label>Capture Signature 1</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_No_Signature_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSignatureAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SignatureAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Capture_Signature</name>
        <label>Capture Signature 2</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_check_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SignatureAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_IsSignatureAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of SignatureAvailable</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SignatureReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Signature_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create SR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Service Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_SA_records</name>
        <label>get SA records</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>storedSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUnit</name>
        <label>getUnit</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BannerShowNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWO.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>signatureValue</assignToReference>
            <field>Requires_Signature__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>getWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportTemplateId</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_SA_3</name>
        <label>Update SA 1</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Signature_Reason__c</field>
            <value>
                <elementReference>Copy_1_of_NoSignatureReasons</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_3</name>
        <label>Update SA 2</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Signature_Reason__c</field>
            <value>
                <elementReference>NoSignatureReasons</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>check_Fields</name>
        <label>Generate SR</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Signature</targetReference>
        </connector>
        <fields>
            <name>Textnew</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 8, 8); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Signature is required on service report for this SA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IsSignatureAvailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Able to Capture Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_check_Fields</name>
        <label>Generate SR</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SA_3</targetReference>
        </connector>
        <fields>
            <name>NoSignatureReasons</name>
            <choiceReferences>SignatureReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Signature Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_Signature_Reason</name>
        <label>Generate SR</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_SA_3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NoSignatureReasons</name>
            <choiceReferences>SignatureReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Signature Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Signature_Required</name>
        <label>Generate SR</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Capture_Signature</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_IsSignatureAvailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Able to Capture Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorMsg</name>
        <label>errorMsg</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: serif; color: rgb(37, 4, 4);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: serif; color: rgb(24, 7, 7);&quot;&gt;The Service Appointment is not Completed, You can not generate the Service report.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA_records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GetServiceReportLay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceReportLayout</objectType>
    </variables>
    <variables>
        <name>getWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>signatureValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>text</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
