modules/fs/main/default/flows/Create_SR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>Customer Not Available</description>
        <name>CustomerNotAvailable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Customer Not Available&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Not Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason1</name>
        <choiceText>Reason 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reason 1</stringValue>
        </value>
    </choices>
    <choices>
        <description>Reason 2</description>
        <name>reason2</name>
        <choiceText>Reason 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reason 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnwillingtoSign</name>
        <choiceText>Unwilling to Sign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unwilling to Sign</stringValue>
        </value>
    </choices>
    <constants>
        <name>constntVar</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer is Not Present</stringValue>
        </value>
    </constants>
    <decisions>
        <name>BannerShowNew</name>
        <label>BannerShowNew</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Signature_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureValueIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>signatureValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Fields</targetReference>
            </connector>
            <label>SignatureValueIsPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Capture_Signature</name>
        <label>Capture Signature 1</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_No_Signature_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SignatureAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSignatureAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SignatureAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Order_Work_Type</name>
        <label>Check for Order Work Type</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Capture_Signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Type_Open_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWO.FS_WorkOderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Order_Completion</targetReference>
            </connector>
            <label>Work Type - Open Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Capture_Signature</name>
        <label>Capture Signature 2</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_check_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SignatureAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_IsSignatureAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of SignatureAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Order_Work_Type</name>
        <label>Copy 1 of Check for Order Work Type</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Capture_Signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Work_Type_Open_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWO.FS_WorkOderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Open_Order_Completion</targetReference>
            </connector>
            <label>Copy 1 of Work Type - Open Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Record Type check</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>getUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RTNAme</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test</targetReference>
            </connector>
            <label>Is not SR</label>
        </rules>
    </decisions>
    <description>This flow generates service resource</description>
    <dynamicChoiceSets>
        <name>SignatureReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>No_Signature_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create SR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Service Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWO.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTNAme</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_SA_records</name>
        <label>get SA records</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>storedSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUnit</name>
        <label>getUnit</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BannerShowNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWO.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>signatureValue</assignToReference>
            <field>Requires_Signature__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>getWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportTemplateId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>FS_WorkOderType__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_SA_1</name>
        <label>Copy 1 of Update SA 1</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Capture_Signature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Did_you_complete_the_work_for_this_unit__c</field>
            <value>
                <elementReference>Did_you_complete_the_work_for_this_unit</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_SA_2</name>
        <label>Copy 1 of Update SA 2</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Copy_1_of_Capture_Signature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Did_you_complete_the_work_for_this_unit__c</field>
            <value>
                <elementReference>Did_you_complete_the_work_for_this_unit1</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_SA_3</name>
        <label>Update SA 1</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Signature_Reason__c</field>
            <value>
                <elementReference>Copy_1_of_NoSignatureReasons</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_3</name>
        <label>Update SA 2</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Signature_Reason__c</field>
            <value>
                <elementReference>NoSignatureReasons</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>check_Fields</name>
        <label>Generate SR</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Order_Work_Type</targetReference>
        </connector>
        <fields>
            <name>Textnew</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(228, 20, 20);&quot;&gt;Signature is required on service report for this SA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IsSignatureAvailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Able to Capture Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_check_Fields</name>
        <label>Generate SR</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SA_3</targetReference>
        </connector>
        <fields>
            <name>NoSignatureReasons</name>
            <choiceReferences>SignatureReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Signature Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_Signature_Reason</name>
        <label>Generate SR</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_SA_3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NoSignatureReasons</name>
            <choiceReferences>SignatureReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No Signature Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Open_Order_Completion</name>
        <label>Copy 1 of Open Order Completion</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_SA_2</targetReference>
        </connector>
        <fields>
            <name>Did_you_complete_the_work_for_this_unit1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Did you complete the work for this unit ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Signature_Required</name>
        <label>Generate SR</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Check_for_Order_Work_Type</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_IsSignatureAvailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Able to Capture Signature?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Order_Completion</name>
        <label>Open Order Completion</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_SA_1</targetReference>
        </connector>
        <fields>
            <name>Did_you_complete_the_work_for_this_unit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Did you complete the work for this unit ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RT</name>
            <fieldText>&lt;p&gt;This Action only works for Service Request WO-SA.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetServiceReportLay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceReportLayout</objectType>
    </variables>
    <variables>
        <name>getWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RTNAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>signatureValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>text</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
