modules/fs/main/default/flows/Entitlement_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_the_CLI</name>
        <label>Assign the CLI</label>
        <locationX>528</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>storeCLIName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_CLI.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_INT</name>
        <label>Store INT</label>
        <locationX>528</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>storeInt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_NAme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_NAme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_TPA</name>
        <label>store TPA</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>storeTpa</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_NAme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_NAme</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_the_CLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MF1</name>
            <conditionLogic>(1 OR 2 ) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.FS_SalesContractLineItem__r.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyAccount_SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.FS_SalesContractLineItem__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_CLI</targetReference>
            </connector>
            <label>MF</label>
        </rules>
        <rules>
            <name>SAT1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.ContractLineItem__r.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyAccount_SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_CLI</targetReference>
            </connector>
            <label>SAT</label>
        </rules>
        <rules>
            <name>SUN1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset.ContractLineItem__r.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyAccount_SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_CLI</targetReference>
            </connector>
            <label>SUN</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_INT</name>
        <label>TPA/INT</label>
        <locationX>396</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Store_INT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_NAme</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>store_TPA</targetReference>
            </connector>
            <label>TPA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IntDivide</name>
        <dataType>Number</dataType>
        <expression>Value(Right({!storeInt},2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Asset.Account.Name}+&apos;-&apos;+{!$Record.Asset.Name}+&apos;-&apos;+&apos;SR&apos;</expression>
    </formulas>
    <formulas>
        <name>TPRDivide</name>
        <dataType>Number</dataType>
        <expression>VALUE (RIGHT ({!storeTpa},2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WeekDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Entitlement flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement flow</label>
    <loops>
        <name>For_Each_CLI</name>
        <label>For Each CLI</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Contract_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_NAme</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_NAme</name>
        <label>For NAme</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>storeCLIName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TPA_INT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TPR_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>standard</description>
        <name>Get_Contract_Line_Items</name>
        <label>Get Contract Line Items</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Contract_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>TPA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>176</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SlaProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Open_Entitlement.SlaProcessId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Entitlement</name>
        <label>Get Open Entitlement</label>
        <locationX>176</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contract_ID</name>
        <label>Get Service Contract ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.FS_CurrentServiceContract__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>176</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.EntityMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TPR_Values</name>
        <label>Update TPR Values</label>
        <locationX>176</locationX>
        <locationY>1523</locationY>
        <connector>
            <targetReference>Get_Open_Entitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>T1_mins__c</field>
            <value>
                <elementReference>IntDivide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPR__c</field>
            <value>
                <elementReference>TPRDivide</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Entitlement</name>
        <label>Update WO with Entitlement</label>
        <locationX>176</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Get_Open_Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Contract_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>storeCLIName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreEntitlementId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>StoreEntitlementRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeInt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeTpa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
