modules/fs/main/default/flows/FS_ChangeWOLIStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Last_Value</name>
        <label>Assign Last Value</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RecordIdDisplayCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OriginalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Selected_WOLI_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_N_1_Value_Assignment</name>
        <label>Set N-1 Value Assignment</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RecordIdDisplayCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordIdDisplay_Split</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Occurence_Comma_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occurrences_of_Comma_Max</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordIdDisplay_Substitute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Occurrence_Separator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occurrence_Assignment</name>
        <label>Set Occurrence Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Occurence_Comma_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Occurrence_Separator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_String_Value</name>
        <label>Set String Value</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OriginalString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedWorkOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Occurrence_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Separator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckForWOLIPresence</name>
        <label>Check For WOLI Presence</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Absent</defaultConnectorLabel>
        <rules>
            <name>IfPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWORecord.LineItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Loop</name>
        <label>End Loop</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_N_1_Value_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_All_Comma_Occurrence_Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Occurrences_of_Comma_Max</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Value</targetReference>
            </connector>
            <label>If All Comma Occurrence Finished</label>
        </rules>
    </decisions>
    <description>This Flow will allow Service Resource to change the status of the WOLI</description>
    <dynamicChoiceSets>
        <name>AllWOLILineNumber</name>
        <dataType>String</dataType>
        <displayField>FS_WOLILabel__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_WOLIAllowedToMarkComplete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Occurrences_of_Comma_Max</name>
        <dataType>Number</dataType>
        <expression>(LEN({!OriginalString})-LEN(SUBSTITUTE(LOWER({!OriginalString}),{!Separator},&apos;&apos;)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecordIdDisplay_Split</name>
        <dataType>String</dataType>
        <expression>LEFT( {!OriginalString}, FIND({!Separator},  {!OriginalString})-1)</expression>
    </formulas>
    <formulas>
        <name>RecordIdDisplay_Substitute</name>
        <dataType>String</dataType>
        <expression>RIGHT({!OriginalString},LEN({!OriginalString})-FIND({!Separator},  {!OriginalString}))</expression>
    </formulas>
    <interviewLabel>Change WOLI Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change WOLI Status</label>
    <loops>
        <name>For_Each_Occurrence_Separator</name>
        <label>For Each Occurrence Separator</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>Loop_variable</assignNextValueToReference>
        <collectionReference>Occurence_Comma_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>End_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Selected_WOLI_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_WOLI_Ids</name>
        <label>Loop Selected WOLI Ids</label>
        <locationX>50</locationX>
        <locationY>1232</locationY>
        <assignNextValueToReference>woliId</assignNextValueToReference>
        <collectionReference>RecordIdDisplayCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_WOLIs</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetCurrentWOrecord</name>
        <label>Get Current WO Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForWOLIPresence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>CurrentWORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemCount</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLIs</name>
        <label>Update WOLIs</label>
        <locationX>138</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>Loop_Selected_WOLI_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woliId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_String_Value</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Related Work Order Line Items&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedWorkOrderLineItem</name>
            <choiceReferences>AllWOLILineNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenElement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(38, 7, 237);&quot;&gt;&lt;em&gt;&lt;u&gt;No Work Order Line Items Present.&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentWOrecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentWORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loop_variable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Occurence_Comma_Collection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OriginalString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdDisplayCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>woliId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
