modules/fs/main/default/flows/FS_Expense_Submission_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assign_record_id</name>
        <label>assign record id</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Variables</name>
        <label>assign Variables</label>
        <locationX>402</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>Receipt_Required_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Expense_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>402</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>Receipt_Required_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Receipt_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>receiptNotPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReceiptNotPresent1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>perDiemOvernightChecks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Per_Diem_Overnight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_receipt_Required_and_receipt_not_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>402</locationX>
        <locationY>2864</locationY>
        <assignmentItems>
            <assignToReference>ReasonAssignVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Expense_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assignment_2</name>
        <label>Copy 2 of Assignment 2</label>
        <locationX>666</locationX>
        <locationY>2456</locationY>
        <assignmentItems>
            <assignToReference>Receipt_Required_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Receipt_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>receiptNotPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ReceiptNotPresent1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>perDiemOvernightChecks</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_receipt_Required_and_receipt_not_present</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Helper</name>
        <choiceText>Helper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Helper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technician</name>
        <choiceText>Technician</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technician</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_Expense_Type</name>
        <label>check Expense Type</label>
        <locationX>534</locationX>
        <locationY>2240</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Expension_Submission1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>per_Diem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Diem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expension_Submission1</targetReference>
            </connector>
            <label>per Diem?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_expense_type_with_Company_Expense_data</name>
        <label>check expense type with Company Expense data</label>
        <locationX>534</locationX>
        <locationY>1940</locationY>
        <defaultConnector>
            <targetReference>check_Expense_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expense_Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expenseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Expense_Category1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Variables</targetReference>
            </connector>
            <label>Expense Match found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mobile_or_Desktop</name>
        <label>Check for Mobile or Desktop</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>assign_record_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Expense_report_exist</name>
        <label>check if Expense report exist</label>
        <locationX>534</locationX>
        <locationY>3788</locationY>
        <defaultConnector>
            <targetReference>expense_report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpesneReportWithStatusNew</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expense_report_entity</targetReference>
            </connector>
            <label>Exist ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_receipt_Required_and_receipt_not_present</name>
        <label>check receipt Required and receipt not present</label>
        <locationX>534</locationX>
        <locationY>2648</locationY>
        <defaultConnector>
            <targetReference>get_Expense_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipt_Required_Variable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>receiptNotPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expense_Submission_Flow_3</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Helper_Or_Technician</name>
        <label>Helper Or Technician?</label>
        <locationX>688</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>check_expense_type_with_Company_Expense_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Technician</defaultConnectorLabel>
        <rules>
            <name>HelperDescision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Helper</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Helper_Screen</targetReference>
            </connector>
            <label>Helper</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_or_Helper_or_Technician</name>
        <label>Self or Helper or Technician?</label>
        <locationX>534</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Helper_Or_Technician</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Technician or Helper</defaultConnectorLabel>
        <rules>
            <name>SelfChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Self</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_expense_type_with_Company_Expense_data</targetReference>
            </connector>
            <label>Self</label>
        </rules>
    </decisions>
    <decisions>
        <name>Threshold_Check</name>
        <label>Threshold Check</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mileage_Threshold_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mileage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>mileageValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Mileage_Type</targetReference>
            </connector>
            <label>Mileage Threshold Check</label>
        </rules>
        <rules>
            <name>Zone_Threshold_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>zoneValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_or_Helper_or_Technician</targetReference>
            </connector>
            <label>Zone Threshold Check</label>
        </rules>
        <rules>
            <name>Cartage_Threshold_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cartage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>cartageValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_or_Helper_or_Technician</targetReference>
            </connector>
            <label>Cartage Threshold check</label>
        </rules>
        <rules>
            <name>Per_Diem_Threshold_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Diem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>perDiemValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_or_Helper_or_Technician</targetReference>
            </connector>
            <label>Per Diem Threshold check</label>
        </rules>
        <rules>
            <name>Other_Threshold_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Expense_Category1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>otherValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_or_Helper_or_Technician</targetReference>
            </connector>
            <label>Other Threshold Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_File_or_not</name>
        <label>Upload File or not</label>
        <locationX>534</locationX>
        <locationY>3488</locationY>
        <defaultConnector>
            <targetReference>check_if_Expense_report_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>receiptNotPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Receipt_Required_Variable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Image</targetReference>
            </connector>
            <label>Upload ?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExpenseCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ExpenseCategory__c</picklistField>
        <picklistObject>Expense</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpenseTypevalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ExpenseType</picklistField>
        <picklistObject>Expense</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>helperCollChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Helper</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_IsHelper__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>serviceResourceIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HelperResChoice</name>
        <collectionReference>ServiceResourceRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceResource</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HelperServiceResource</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_IsHelper__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>true</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>SRid.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>mileageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MileageType__c</picklistField>
        <picklistObject>OTIS_Expense_Setting__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Expense Submission Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Submission Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Copy_1_of_Expense_report_entity</name>
        <label>Copy 1 of Expense report entity</label>
        <locationX>666</locationX>
        <locationY>4004</locationY>
        <inputAssignments>
            <field>ExpenseId</field>
            <value>
                <elementReference>expenseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseReportId</field>
            <value>
                <elementReference>ExpenseReportId</elementReference>
            </value>
        </inputAssignments>
        <object>ExpenseReportEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Expense_Data</name>
        <label>Create Expense Data</label>
        <locationX>534</locationX>
        <locationY>3380</locationY>
        <assignRecordIdToReference>expenseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Upload_File_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>workOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance_per_Miles__c</field>
            <value>
                <elementReference>Distance_in_Miles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseCategory__c</field>
            <value>
                <elementReference>Expense_Category1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseEndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseStartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseType</field>
            <value>
                <elementReference>Expense_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PerDiemOvernight__c</field>
            <value>
                <elementReference>perDiemOvernightChecks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceiptNotPresentReason__c</field>
            <value>
                <elementReference>ReasonAssignVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceiptNotPresent__c</field>
            <value>
                <elementReference>receiptNotPresent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceiptRequired__c</field>
            <value>
                <elementReference>Receipt_Required_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResource__c</field>
            <value>
                <elementReference>serviceResourceIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionDate</field>
            <value>
                <elementReference>Transaction_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>workOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Expense</object>
    </recordCreates>
    <recordCreates>
        <name>expense_report</name>
        <label>expense report</label>
        <locationX>666</locationX>
        <locationY>3896</locationY>
        <assignRecordIdToReference>ExpenseReportId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Expense_report_entity</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>ExpenseReport</object>
    </recordCreates>
    <recordCreates>
        <name>Expense_report_entity</name>
        <label>Expense report entity</label>
        <locationX>402</locationX>
        <locationY>3896</locationY>
        <inputAssignments>
            <field>ExpenseId</field>
            <value>
                <elementReference>expenseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseReportId</field>
            <value>
                <elementReference>ExpesneReportWithStatusNew.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ExpenseReportEntry</object>
    </recordCreates>
    <recordLookups>
        <name>company_Expense_Data</name>
        <label>company Expense Data</label>
        <locationX>534</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Otis_Expense_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receipt_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Company_Expense_Settings__c</object>
        <outputAssignments>
            <assignToReference>companyName</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>expenseType</assignToReference>
            <field>Expense_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReceiptRequired</assignToReference>
            <field>Receipt_Required__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Expense_Reports</name>
        <label>Expense Report</label>
        <locationX>534</locationX>
        <locationY>3272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Expense_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>latestExpesneEntity.ExpenseReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>ExpenseReport</object>
        <outputReference>ExpesneReportWithStatusNew</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_Expense_Record</name>
        <label>get Expense Record</label>
        <locationX>534</locationX>
        <locationY>3056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Expense_Report_Entries</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Expense</object>
        <outputReference>latestExpenseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_Expense_Report_Entries</name>
        <label>get Expense Report Entries</label>
        <locationX>534</locationX>
        <locationY>3164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expense_Reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>latestExpenseRecord.Id</elementReference>
            </value>
        </filters>
        <object>ExpenseReportEntry</object>
        <outputReference>latestExpesneEntity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExpenseReportId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Otis_Expense_Settings</name>
        <label>Get Otis Expense Settings</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expense_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </filters>
        <object>OTIS_Expense_Setting__c</object>
        <outputAssignments>
            <assignToReference>cartageValue</assignToReference>
            <field>FS_Cartage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>mileageValue</assignToReference>
            <field>FS_Mileage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>otherValue</assignToReference>
            <field>FS_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>perDiemValue</assignToReference>
            <field>FS_Per_Diem__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>zoneValue</assignToReference>
            <field>FS_Zone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Resource</name>
        <label>get Service Resource</label>
        <locationX>534</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>company_Expense_Data</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrder.SvcReqAssignedMechanic__c</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>company</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceResourceIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>534</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SvcReqAssignedMechanic__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
    </recordLookups>
    <screens>
        <name>Choose_Helper_Resource</name>
        <label>Choose Helper Resource</label>
        <locationX>556</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_expense_type_with_Company_Expense_data</targetReference>
        </connector>
        <fields>
            <name>Select_Helper_Resource</name>
            <choiceReferences>helperCollChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Helper Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Mileage_Type</name>
        <label>Choose Mileage Type</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Self_or_Helper_or_Technician</targetReference>
        </connector>
        <fields>
            <name>Choose_Mileage_Type_1</name>
            <choiceReferences>mileageType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Mileage Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Distance_in_Miles</name>
            <dataType>Number</dataType>
            <fieldText>Distance (in Miles):</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Expension_Submission1</name>
        <label>Copy 1 of Expension Submission1</label>
        <locationX>666</locationX>
        <locationY>2348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assignment_2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Receipt_Required</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ReceiptRequired</elementReference>
            </defaultValue>
            <fieldText>Receipt Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_ReceiptNotPresent1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Receipt Not Present</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1018</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Expense_Submission</targetReference>
        </connector>
        <fields>
            <name>Error1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Resubmit the correct information.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Enter the proper value for the Amount as follows:&lt;/p&gt;&lt;p&gt;If the &lt;strong&gt;Expense type &lt;/strong&gt;is &lt;strong&gt;Mileage&lt;/strong&gt;, then &lt;strong&gt;Amount &lt;/strong&gt;value &amp;lt;= &lt;strong&gt;{!mileageValue}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Expense type &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;is &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Zone&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, then &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;value &amp;lt;=&lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;{!zoneValue}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Expense type &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;is &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Per Diem&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, then &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;value &amp;lt;=&lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;{!perDiemValue}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Expense type &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;is &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Cartage&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, then &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;value &amp;lt;= &lt;/span&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;{!cartageValue}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If the &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Expense type &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;is &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Other&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, then &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Amount &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;value &amp;lt;= &lt;/span&gt;&lt;strong style=&quot;color: rgb(2, 2, 2);&quot;&gt;{!otherValue}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Resubmit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Expense_Submission</name>
        <label>Expense Submission</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Threshold_Check</targetReference>
        </connector>
        <fields>
            <name>SelectSHT</name>
            <choiceReferences>Self</choiceReferences>
            <choiceReferences>Technician</choiceReferences>
            <choiceReferences>Helper</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectSHT</elementReference>
            </defaultValue>
            <fieldText>Creating Expense for Self / Helper / Technician?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workOrderScreen</name>
            <fieldText>&lt;p&gt;Work Order :    {!workOrder.WorkOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transaction_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Transaction_Date</elementReference>
            </defaultValue>
            <fieldText>Transaction Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Start_Date</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>End_Date</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Resource</name>
            <fieldText>&lt;p&gt;Service Resource : {!name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expense_Type1</name>
            <choiceReferences>ExpenseTypevalues</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Expense_Type1</elementReference>
            </defaultValue>
            <fieldText>Expense Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expense_Category1</name>
            <choiceReferences>ExpenseCategory</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Expense_Category1</elementReference>
            </defaultValue>
            <fieldText>Expense Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Expense_Submission_Flow_3</name>
        <label>Expense Submission Flow 3</label>
        <locationX>402</locationX>
        <locationY>2756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
        <fields>
            <name>Reason</name>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Expension_Submission1</name>
        <label>Expension Submission1</label>
        <locationX>402</locationX>
        <locationY>2348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <fields>
            <name>Per_Diem_Overnight</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Per Diem Overnight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Receipt_Required</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>ReceiptRequired</elementReference>
            </defaultValue>
            <fieldText>Receipt Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReceiptNotPresent1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Receipt Not Present</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Helper_Screen</name>
        <label>Search Helper Screen</label>
        <locationX>556</locationX>
        <locationY>1556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Helper_Resource</targetReference>
        </connector>
        <fields>
            <name>Search_Helper</name>
            <dataType>String</dataType>
            <fieldText>Search Helper</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Image</name>
        <label>Upload Image</label>
        <locationX>402</locationX>
        <locationY>3596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_if_Expense_report_exist</targetReference>
        </connector>
        <fields>
            <name>Upload_Receipt_Image</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Receipt </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>expenseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allExpenseEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>allExpenseRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllExpesneReportId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>allReportIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>alltheReportRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>cartageValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>companyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERELoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>expenseData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>expenseEntryNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>ExpenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>expenseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseReportEntries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>ExpenseReportEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>ExpenseReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseReportIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>expenseReportStatusN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>expenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expesneReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>expesneReportss</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>ExpesneReportWithStatusNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>expesnesEntriesNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>ExpneseReportData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>expnsesReportNewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expsenseReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestExpenseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense</objectType>
    </variables>
    <variables>
        <name>latestExpesneEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReportEntry</objectType>
    </variables>
    <variables>
        <name>mileageCurrecy</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>mileageValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PerDiemOverNightCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>perDiemOvernightChecks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>perDiemValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReasonAssignVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Receipt_Required_Variable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>receiptNotPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ReceiptRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reportCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reportCollectionSingle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reportID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>reportNoNewCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serviceResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceTerrMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>SRid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>StatusIsNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpenseReport</objectType>
    </variables>
    <variables>
        <name>statusOfTheReport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STMrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>TestAmount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTIS_Expense_Setting__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validation1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please enter a valid distance travelled</stringValue>
        </value>
    </variables>
    <variables>
        <name>validation2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PerDiem overnight cannot be checked if total per diem is 0 or empty. Cannot save Data.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Validation3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please enter a valid expense</stringValue>
        </value>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>zoneValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
