modules/fs/main/default/flows/FS_Handle_Member_Modification_After_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Member_Removal</name>
        <label>Handle Member Removal</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <actionName>FSLRouteSTMOperation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryName</name>
            <value>
                <elementReference>$Record.ServiceTerritory__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.ServiceResource__r.RelatedRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSLRouteSTMOperation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Condition</name>
        <label>Check FSL Enable of Service Territory</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_FSL_Enabled_c_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory__r.Branch__r.FSLEnabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceResource__r.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Member_Removal</targetReference>
            </connector>
            <label>If FSL_Enabled__c True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>(FS) Handle Member Modification: After Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(FS) Handle Member Modification: After Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Condition</targetReference>
        </connector>
        <object>RouteResource__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
