modules/fs/main/default/flows/FS_SubFlowServiceContractLineConversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Entitlement</name>
        <label>Assign Entitlement</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StandardContractLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintenance</name>
        <label>Assign Maintenance</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StandardContractLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rest_Fields</name>
        <label>Assign Rest Fields</label>
        <locationX>594</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Contract.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.FS_SalesContractLineItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_CLI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckForVISSLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBlank</name>
        <label>Assign Blank</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>StandardContractLineItemRecord.Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceContractLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StandardContractLineItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This Checkbox will Check for whether the Option category is Vis or not ?</description>
        <name>CheckForVIS</name>
        <label>Check For VIS</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SLA</defaultConnectorLabel>
        <rules>
            <name>VIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_CLI.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VIS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Maintenance</targetReference>
            </connector>
            <label>VIS</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decision will check of the CLI option category is either Vis or sla</description>
        <name>CheckForVISSLA</name>
        <label>Check For VIS SLA</label>
        <locationX>594</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AssignBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_CLI.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.FS_OptionCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KeyAccount_SLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForVIS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SubFlow : ServiceContractLineConversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow : ServiceContractLineConversion</label>
    <loops>
        <name>For_Each_CLI</name>
        <label>For Each CLI</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>GetCLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rest_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_CLI</name>
        <label>loop CLI</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <collectionReference>ServiceContractLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateMaintenanceplanandRelatedRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCLI</name>
        <label>Create CLI</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>loop_CLI</targetReference>
        </connector>
        <inputReference>ServiceContractLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCLI</name>
        <label>Get CLI</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Contract_Unit_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractUnitSummary</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCLI</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>CreateMaintenanceplanandRelatedRecords</name>
        <label>Create Maintenance plan and Related Records</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>loop_CLI</targetReference>
        </connector>
        <flowName>SubflowAutoCreateMaintenancePlanAndRelatedRecords</flowName>
        <inputAssignments>
            <name>ContractLineItemRecord</name>
            <value>
                <elementReference>loop_CLI</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContractUnitSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCLIWithUnitSummery</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem__c</objectType>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceContractLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>StandardContractLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
