modules/fs/main/default/flows/FS_SubFlowUnitUpdateBasedOnSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>decision_1</name>
        <label>decision 1</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_SalesContract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_values</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__r.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Sub Flow : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Flow :Unit  Update Based On Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUnit</name>
        <label>Get Unit</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Values 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Effective_Date__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.EffectiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_FutureServiceContract__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_values</name>
        <label>Update values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_CurrentServiceContract__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.FS_Contract_Unit_Summary__r.FS_ServiceContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Effective_Date__c</field>
            <value>
                <elementReference>GetUnit.ContractLineItem__r.EffectiveDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUnit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
