modules/fs/main/default/flows/FS_Scheduled_Action_for_Service_Request_Auto_Rejection_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TimeDifffetch</name>
        <label>TimeDifffetch</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <actionName>FSL_ServiceAppointmentService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Service_Territory_Timer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentRecords</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_ServiceAppointmentService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_S1</name>
        <label>Store S1</label>
        <locationX>842</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S1ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_S1_Timing</name>
        <label>Store S1 Timing</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S1ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Deferral_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_S2</name>
        <label>Store S2</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S2ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_S2_Timing</name>
        <label>Store S2 Timing</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S2ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Deferral_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_S3</name>
        <label>Store S3</label>
        <locationX>1370</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S3ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_S3_Timing</name>
        <label>Store S3 Timing</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>TestField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.S3ResponseTimer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_Deferral_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SA_status</name>
        <label>Check SA status</label>
        <locationX>2558</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_SA_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA</targetReference>
            </connector>
            <label>Change SA Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Deferral_Date</name>
        <label>Check WO Deferral Date</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Deferral_Null_Or_Today</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.DeferralDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.DeferralDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Priority_for_Deferral_Date_Null_Or_Today</targetReference>
            </connector>
            <label>Deferral Null Or Today</label>
        </rules>
        <rules>
            <name>Deferral_Null_Greater_Than_Today</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.DeferralDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.DeferralDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WO_Priority</targetReference>
            </connector>
            <label>Deferral Null Greater Than Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Priority</name>
        <label>Check WO Priority</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Store_S3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriorityS1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.FS_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.DeferralDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_S1</targetReference>
            </connector>
            <label>S1</label>
        </rules>
        <rules>
            <name>PriorityS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.FS_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_S2</targetReference>
            </connector>
            <label>S2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Priority_for_Deferral_Date_Null_Or_Today</name>
        <label>Check WO Priority for Deferral Date Null Or Today</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Store_S3_Timing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deferral_Date_For_S1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.FS_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_S1_Timing</targetReference>
            </connector>
            <label>Deferral Date For  S1</label>
        </rules>
        <rules>
            <name>Deferral_Date_For_S2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.FS_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_S2_Timing</targetReference>
            </connector>
            <label>Deferral Date For S2</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordUpdatedAndSRCheck</name>
        <label>Record Updated And SR Check</label>
        <locationX>1568</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SRCheckAndRecordUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__r.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.OTISCustomSettings__c.Work_Order_Service_Request_Record_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeDifffetch</targetReference>
            </connector>
            <label>SR Check And Record Updated</label>
        </rules>
        <rules>
            <name>DeferalDate_To_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_DeferralDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deferal_date_None</targetReference>
            </connector>
            <label>DeferalDate To None</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeOutput</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + {!TestField} /1440</expression>
    </formulas>
    <formulas>
        <name>DateTimeValueFinalOutput</name>
        <dataType>DateTime</dataType>
        <expression>{!TimeToStartCountdown} + {!TestField}/1440</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>StoreTimerValueOfS1</name>
        <dataType>DateTime</dataType>
        <expression>{!TimeToStartCountdown}+ ({!Get_Service_Territory_Timer.S1ResponseTimer__c} ) /1440</expression>
    </formulas>
    <formulas>
        <name>StoreValuesOfS2</name>
        <dataType>DateTime</dataType>
        <expression>{!TimeToStartCountdown} + ({!Get_Service_Territory_Timer.S2ResponseTimer__c})/1440</expression>
    </formulas>
    <formulas>
        <name>StoreValuesOfS3</name>
        <dataType>DateTime</dataType>
        <expression>{!TimeToStartCountdown} + ({!Get_Service_Territory_Timer.S3ResponseTimer__c})/1440</expression>
    </formulas>
    <interviewLabel>(FS) Scheduled Action for Service Request Auto Rejection: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(FS) Scheduled Action for Service Request Auto Rejection: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Territory_Timer</name>
        <label>Get Service Territory Timer</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Deferral_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrder__r.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deferal_date_None</name>
        <label>Update Deferal date None</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>FS_DeferralDateTime__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>FS_DeferralDateTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA1</name>
        <label>Update SA</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>FS_DeferralDateTime__c</field>
            <value>
                <elementReference>DateTimeValueFinalOutput</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Deferral_Date</name>
        <label>Update SA Deferral Date</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>FS_DeferralDateTime__c</field>
            <value>
                <elementReference>DateTimeOutput</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1937</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordUpdatedAndSRCheck</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Check_For_Deferral_Date_Time_On_SA</name>
            <connector>
                <targetReference>Check_SA_status</targetReference>
            </connector>
            <label>Check For Deferral Date Time On SA</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>FS_DeferralDateTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TestField</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TimeToStartCountdown</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>TimeDifffetch</elementReference>
        </value>
    </variables>
</Flow>
