modules/fs/main/default/flows/FS_Show_Entitlement_Details_on_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_The_CLI_DUMMY</name>
        <label>Assign The CLI DUMMY</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeDummy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_CLI.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_CLI_MF</name>
        <label>Assign The CLI MF</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeCLIName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_CLI.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_CLI_SAT</name>
        <label>Assign The CLI SAT</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeCLIName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_CLI.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_CLI_SUN</name>
        <label>Assign The CLI SUN</label>
        <locationX>792</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeCLIName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_CLI.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_INT</name>
        <label>Store INT</label>
        <locationX>528</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>storeINT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_INT2</name>
        <label>Store INT2</label>
        <locationX>792</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>storeINT2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_TPA</name>
        <label>Store TPA</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>storeTPA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>660</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_The_CLI_DUMMY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_CLI_MF</targetReference>
            </connector>
            <label>MF</label>
        </rules>
        <rules>
            <name>SAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_CLI_SAT</targetReference>
            </connector>
            <label>SAT</label>
        </rules>
        <rules>
            <name>SUN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WeekDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_CLI.Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SUN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_CLI_SUN</targetReference>
            </connector>
            <label>SUN</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPA_INT</name>
        <label>TPA/INT</label>
        <locationX>528</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Store_INT2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INT2</defaultConnectorLabel>
        <rules>
            <name>TPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>TPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_TPA</targetReference>
            </connector>
            <label>TPA</label>
        </rules>
        <rules>
            <name>INT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INT1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_INT</targetReference>
            </connector>
            <label>INT</label>
        </rules>
    </decisions>
    <description>This Flow will Show the T1 T2 &amp; TPR on Unit level</description>
    <environments>Default</environments>
    <formulas>
        <name>Int1Divide</name>
        <dataType>Number</dataType>
        <expression>Value(Right({!storeINT},2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>INT2divide</name>
        <dataType>Number</dataType>
        <expression>Value(Right({!storeINT2},3))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TPRDivide</name>
        <dataType>Number</dataType>
        <expression>VALUE (RIGHT ({!storeTPA},2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WeekDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Show Entitlement Details on Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Entitlement Details on Unit</label>
    <loops>
        <name>For_Each_CLI</name>
        <label>For Each CLI</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_CLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Name</name>
        <label>For Name</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <collectionReference>storeCLIName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TPA_INT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisPlay_Entitlement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Details_of_CUS</name>
        <label>Details of CUS</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Details_of_Service_COntract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractUnitSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Details_of_Service_COntract</name>
        <label>Details of Service COntract</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Details_of_CUS.FS_ServiceContract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CLI</name>
        <label>Get CLI</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_CLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Details_of_Service_COntract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Unit_Details</name>
        <label>Unit Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Details_of_CUS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisPlay_Entitlement</name>
        <label>DisPlay Entitlement</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispTrapped</name>
            <fieldText>&lt;p&gt;T1 : {!Int1Divide}&lt;/p&gt;&lt;p&gt;T2 : {!INT2divide}&lt;/p&gt;&lt;p&gt;TPR:{!TPRDivide}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unit_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeCLIName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeDummy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeINT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeINT2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeTPA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
