modules/fs/main/default/flows/FS_Select_Service_Report_Language.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>de</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>it</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Country</name>
        <label>Check For Country</label>
        <locationX>1370</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Select_Service_reportlanguage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Japan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Work_Type</targetReference>
            </connector>
            <label>Japan</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Work_Type</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Type</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Desktop_or_Mobile</name>
        <label>Check if Desktop or Mobile</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_WO</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check Work Type</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Service_Report_Templates</targetReference>
            </connector>
            <label>Repair</label>
        </rules>
        <rules>
            <name>Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_get_Service_Report_Template</targetReference>
            </connector>
            <label>Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Work_Type</name>
        <label>Copy 1 of Check Work Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_Service_Report_Template</targetReference>
            </connector>
            <label>Copy 1 of Repair</label>
        </rules>
        <rules>
            <name>Copy_1_of_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_get_Service_Report_Template</targetReference>
            </connector>
            <label>Copy 1 of Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Work_Type</name>
        <label>Copy 2 of Check Work Type</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_get_Service_Report_Template</targetReference>
            </connector>
            <label>Copy 2 of Repair</label>
        </rules>
        <rules>
            <name>Copy_2_of_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeWoTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_get_Service_Report_Template</targetReference>
            </connector>
            <label>Copy 2 of Maintenance</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LanguageList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceReportLanguage</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS Select Service Report Language</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_2_of_get_Service_Report_Template</name>
        <label>Copy 1 of Copy 2 of get Service Report Template</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance - Switzerland</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_Service_Report_Template</name>
        <label>Copy 1 of get Service Report Template</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair - France</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_WO</name>
        <label>Copy 1 of Get WO</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportLanguage</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_2_of_get_Service_Report_Template</name>
        <label>Copy 2 of Copy 2 of get Service Report Template</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance - Switzerland</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_get_Service_Report_Template</name>
        <label>Copy 2 of get Service Report Template</label>
        <locationX>1898</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance - Switzerland</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_get_Service_Report_Template</name>
        <label>Copy 3 of get Service Report Template</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair - France</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Report_Templates</name>
        <label>get Service Report Template</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Repair - Switzerland</stringValue>
            </value>
        </filters>
        <object>ServiceReportLayout</object>
        <outputAssignments>
            <assignToReference>storeSRlayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Country</name>
        <label>Get Unit Country</label>
        <locationX>1370</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>StoreCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportLanguage</queriedFields>
        <queriedFields>ServiceReportTemplateId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>1370</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>storeWoTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_WO_with_languages_selected</name>
        <label>Copy 1 of Update WO with languages selected</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>Select_Service_Report_LAnguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>storeSRlayoutId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_WO_with_languages_selected</name>
        <label>Copy 2 of Update WO with languages selected</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>Copy_1_of_Select_Service_Report_LAnguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>storeSRlayoutId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_WO_with_languages_selected</name>
        <label>Copy 3 of Update WO with languages selected</label>
        <locationX>2426</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>Copy_2_of_Select_Service_Report_LAnguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>storeSRlayoutId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_languages_selected</name>
        <label>Update WO with languages selected</label>
        <locationX>1898</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>Copy_3_of_Select_Service_Report_LAnguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <elementReference>storeSRlayoutId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Select_Service_reportlanguage</name>
        <label>Copy 1 of Select Service reportlanguage</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Update_WO_with_languages_selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Select_Service_Report_LAnguage</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Select Service Report Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Select_Service_reportlanguage</name>
        <label>Copy 2 of Select Service reportlanguage</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_3_of_Update_WO_with_languages_selected</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Select_Service_Report_LAnguage</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Select Service Report Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Select_Service_reportlanguage</name>
        <label>Copy 3 of Select Service reportlanguage</label>
        <locationX>1898</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_WO_with_languages_selected</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Select_Service_Report_LAnguage</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Select Service Report Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Service_reportlanguage</name>
        <label>Select Service reportlanguage</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_WO_with_languages_selected</targetReference>
        </connector>
        <fields>
            <name>Select_Service_Report_LAnguage</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Select Service Report Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Desktop_or_Mobile</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeSRlayoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeSRTemplateId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceReportLayout</objectType>
    </variables>
    <variables>
        <name>storeWOtypeId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>storeWoTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
