modules/fs/main/default/flows/FS_Select_Service_Report_Language.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>de</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>it</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Desktop_or_Mobile</name>
        <label>Check if Desktop or Mobile</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_WO</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LanguageList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceReportLanguage</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS Select Service Report Language</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Copy_1_of_Get_WO</name>
        <label>Copy 1 of Get WO</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportLanguage</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Service_reportlanguage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceReportLanguage</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_with_languages_selected</name>
        <label>Update WO with languages selected</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceReportLanguage</field>
            <value>
                <elementReference>Select_Service_Report_LAnguage</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Select_Service_reportlanguage</name>
        <label>Select Service reportlanguage</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_WO_with_languages_selected</targetReference>
        </connector>
        <fields>
            <name>Select_Service_Report_LAnguage</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Select Service Report Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Desktop_or_Mobile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
