modules/fs/main/default/flows/FS_SubFlowSystemReasonPriority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>FinalSystemReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorReason</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>FinalSystemReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PresentReason</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_Priority_Value</name>
        <label>Get Priority Value</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>PriorReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prio_Sys_Reason_From_WO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PresentReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sys_Reason_From_WO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sys_Reason_Priority_Matrix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Present_Val</name>
        <label>Present Val</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PresentVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Actual_System_Reason.Priority_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Actual_System_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prior_Val</name>
        <label>Prior Val</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PriorVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Actual_System_Reason.Priority_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Actual_System_Reason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_System_Reason_Priority</name>
        <label>Check For System Reason Priority</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Prior_Greater_Than_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriorVal</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PresentVal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>If Prior Greater Than Present</label>
        </rules>
        <rules>
            <name>If_Present_Greater_Than_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresentVal</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PriorVal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>If Present Greater Than Prior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value</name>
        <label>Check Value</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Actual_System_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>If_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Actual_System_Reason.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PriorReason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Val</targetReference>
            </connector>
            <label>If Prior</label>
        </rules>
        <rules>
            <name>If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Actual_System_Reason.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PresentReason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_Val</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
    </decisions>
    <description>This Flow will Update the System Reason 1field on WO Level</description>
    <environments>Default</environments>
    <interviewLabel>SubFlow:System Reason Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow:System Reason Priority</label>
    <loops>
        <name>Get_Actual_System_Reason</name>
        <label>Get Actual System Reason</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Sys_Reason_Priority_Matrix</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_For_System_Reason_Priority</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sys_Reason_Priority_Matrix</name>
        <label>Get Sys Reason Priority Matrix</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Actual_System_Reason</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>System_Reason_Priority_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Priority_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalSystemReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PresentReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PresentVal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Prio_Sys_Reason_From_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriorReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorVal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Sys_Reason_From_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
