modules/fs/main/default/flows/FS_Unit_Route_Reassignment_Flow_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Records_to_Apex</name>
        <label>Send Records to Apex</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>FSLRouteReassignmentHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newUnitRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldUnitRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSLRouteReassignmentHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_the_Start_Condition</name>
        <label>Check the Start Condition</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Immediate_Route_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__r.FSLEnabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Records_to_Apex</targetReference>
            </connector>
            <label>Immediate Route Change</label>
        </rules>
    </decisions>
    <description>This Flow handles the Scenario to change on the Route on Unit.</description>
    <environments>Default</environments>
    <interviewLabel>(FS) Unit Route Reassignment Flow: After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(FS) Unit Route Reassignment Flow: After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Start_Condition</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>NextRoute__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NextRoute__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_Effective_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTIS Installation Unit</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <filters>
            <field>FS_Field_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oldListUnitRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
