modules/fs/main/default/flows/FS_Update_Unit_Building_Location_FSL_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_SObject</name>
        <label>Check SObject</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>ScreenMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if Unit</defaultConnectorLabel>
        <rules>
            <name>if_Building</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Building_Location</targetReference>
            </connector>
            <label>if Building</label>
        </rules>
    </decisions>
    <decisions>
        <name>FSL_Desktop</name>
        <label>FSL/Desktop</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Unit_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_FSLUp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Location</targetReference>
            </connector>
            <label>is FSLUp</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_User_for_Resource_Available</name>
        <label>if User for Resource Available</label>
        <locationX>1040</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not Present</defaultConnectorLabel>
        <rules>
            <name>is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Latitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Longitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SObject</targetReference>
            </connector>
            <label>is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_FSL_APP</name>
        <label>is FSL APP</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_get_current_user_Service_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_FSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_current_user_Service_Resource</targetReference>
            </connector>
            <label>is FSL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LoggedinUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Unit/Building Location FSL Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Copy_1_of_get_current_user_Service_Resource</name>
        <label>Copy 1 of get current user Service Resource</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_User_for_Resource_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedinUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>Latitude</assignToReference>
            <field>LastKnownLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Longitude</assignToReference>
            <field>LastKnownLongitude</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_current_user_Service_Resource</name>
        <label>get current user Service Resource</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_User_for_Resource_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>Latitude</assignToReference>
            <field>LastKnownLatitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Longitude</assignToReference>
            <field>LastKnownLongitude</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Unit_Location</name>
        <label>Copy 1 of Update Unit Location</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Error</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Building_Location</name>
        <label>Update Building Location</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Location</name>
        <label>Update Unit Location</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error</name>
        <label>Copy 1 of Error</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Err1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>err</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Err1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMsg</name>
        <label>ErrorMsg</label>
        <locationX>1634</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSR</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 15, 15);&quot;&gt;Service Resource not present for logged in user!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMsg</name>
        <label>ScreenMsg</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FSL_Desktop</targetReference>
        </connector>
        <fields>
            <name>UpdateGeoCode</name>
            <fieldText>&lt;p&gt;By clicking on next, Unit location would be updated to logged in user&apos;s last know location.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_FSL_APP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Building</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UnitRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
