modules/fs/main/default/flows/FS_WO_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Work_Order_Record_Type</name>
        <label>Check Work Order Record Type</label>
        <locationX>605</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_Work_Type</targetReference>
            </connector>
            <label>Service Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bypass_Enabled</name>
        <label>Is Bypass Enabled?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Work_Order_Work_Type_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Bypass_Enabled_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS_KillSwitch__c.DisableFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Order_Work_Type_Set</name>
        <label>Is Work Order Work Type Set?</label>
        <locationX>407</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Work_Order_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Work_Order_Work_Type_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>(FS) Work Order: Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(FS) Work Order: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Work_Order_Work_Type</name>
        <label>Set Work Order Work Type</label>
        <locationX>473</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.DefaultWorkTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Bypass_Enabled</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
</Flow>
