modules/fs/main/default/flows/FS_WOLI_Autogeneration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_WOLI_from_WOLI_Template</name>
        <label>Assign WOLI from WOLI Template</label>
        <locationX>824</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>WOLIRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.FS_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI_Template_iteration.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLIRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI_Template_iteration.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOLI_Template_iteration</targetReference>
        </connector>
    </assignments>
    <description>This flow retrieves WOLI Template records associated to Work order&apos;s Work type &amp; generates WOLI</description>
    <environments>Default</environments>
    <interviewLabel>WOLI Records Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI Autogeneration</label>
    <loops>
        <name>WOLI_Template_iteration</name>
        <label>WOLI Template iteration</label>
        <locationX>536</locationX>
        <locationY>477</locationY>
        <collectionReference>Get_Woli_template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WOLI_from_WOLI_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WOLI_Records_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>WOLI_Records_Create</name>
        <label>WOLI Records create</label>
        <locationX>548</locationX>
        <locationY>682</locationY>
        <inputReference>WOLICollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Woli_template</name>
        <label>Get Woli template</label>
        <locationX>530</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_Template_iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FS_WorkOrderLineItemTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Woli_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsGeneratedFromMaintenancePlan</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WOLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
