modules/fs/main/default/flows/FS_WorkOrderLineItemReview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_For_If_the_SPV_approval_is_Checked</name>
        <label>Check For If the SPV approval is Checked</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoli.SupervisorApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWoli.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoli.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Checked</name>
        <label>Is Checked</label>
        <locationX>132</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Yes_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoli.SupervisorApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <description>This Flow Will Help SPV to review the WOLI and there by Approve that .</description>
    <dynamicChoiceSets>
        <name>Picklist1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hours__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Work Order Line Item Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Line Item Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetWoli</name>
        <label>Get Woli</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>484</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovalStatus__c</field>
            <value>
                <elementReference>GetWoli.ApprovalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Context__c</field>
            <value>
                <elementReference>GetWoli.Context__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Task_Chargeable__c</field>
            <value>
                <elementReference>GetWoli.Is_Task_Chargeable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Cost__c</field>
            <value>
                <elementReference>Purchase_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_to_Perform__c</field>
            <value>
                <elementReference>GetWoli.Reason_to_Perform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RejectionComments__c</field>
            <value>
                <elementReference>GetWoli.RejectionComments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupervisorApproval__c</field>
            <value>
                <elementReference>GetWoli.SupervisorApproval__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Of_Labor__c</field>
            <value>
                <elementReference>GetWoli.Type_Of_Labor__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_If_the_SPV_approval_is_Checked</targetReference>
        </connector>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.SupervisorApproval__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.Is_Task_Chargeable__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.Context__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.Reason_to_Perform__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hours</name>
                    <choiceReferences>Picklist1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetWoli.Hours__c</elementReference>
                    </defaultValue>
                    <fieldText>Hours</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.Type_Of_Labor__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen1_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchase_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>GetWoli.Purchase_Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Purchase Cost</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetWoli.ApprovalStatus__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>176</locationX>
        <locationY>908</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Do You Want To Continue With SPV Review As Checked ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GetWoli.SupervisorApproval__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>132</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Checked</targetReference>
        </connector>
        <fields>
            <name>Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please Give The Comment For Rejection﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GetWoli.RejectionComments__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWoli</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
