modules/fs/main/default/flows/FS_Work_Order_Priotarization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Missed_Visit_WO</name>
        <label>Add Missed Visit WO</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Separate_values_with_Comma.SplitResults</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Missed Visit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PriorityValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_a_Variable</name>
        <label>Assign Values to a Variable</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>storeNumberMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Usage.FS_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Usage</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ShortDescending</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>ShortDescending</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>storeNumberMultiple</collectionReference>
        <connector>
            <targetReference>Get_Label_from_SA_Matrix</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Case_is_associated</name>
        <label>Check if Case is associated ?</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Separate_values_with_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Service_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Missed_Visit</name>
        <label>IF Missed Visit</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_PriorityValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_MissedVisit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Missed_Visit_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>maxOfPriority</name>
        <dataType>Number</dataType>
        <expression>MAX({!storeNumberMultiple})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>populatePriority</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Case.Priority},&apos;S1 - Emergency&apos;),&quot;S1&quot;,
IF(ISPICKVAL({!$Record.Case.Priority},&apos;S2 - High&apos;),&quot;S2&quot;,
IF(ISPICKVAL({!$Record.Case.Priority},&apos;S3 - Normal&apos;),&quot;S3&quot;,
IF(ISPICKVAL({!$Record.Case.Priority},&apos;S4 - Low&apos;),&quot;S4&quot;,null))))</expression>
    </formulas>
    <formulas>
        <name>populatePriorityWithNoCase</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Asset.FS_CriticalUnit__c}=true, &quot;Critical Unit, &quot;,
 IF({!$Record.Asset.FS_RebelUnit__c}=true,&quot;Rebel Unit, &quot;,
IF({!$Record.Asset.FS_MissedVisit__c}=true,&quot;Missed Visit,&quot;,
IF({!$Record.Asset.FS_CancellationAlert__c}=true,&quot;Cancellation Unit,&quot;,
IF({!$Record.Asset.FS_ProductionUnitMaintenance__c}=true,&quot;Production Unit Maintenance,&quot;,
IF({!$Record.Asset.FS_HighFrequencyUnit__c}=true,&quot;High Frequency Unit,&quot;,
IF({!$Record.Asset.FS_LowUsage__c}=true,&quot;Low Usage&quot;, &quot;Regular Maintenance&quot;)))))))</expression>
    </formulas>
    <interviewLabel>FS Work Order Priotarization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS Work Order Priotarization</label>
    <loops>
        <name>For_Each_Usage</name>
        <label>For Each Usage</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_PriorityValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_a_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShortDescending</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Label_from_SA_Matrix</name>
        <label>Get Label from SA Matrix</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Value__c</field>
            <operator>In</operator>
            <value>
                <elementReference>storeNumberMultiple</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FS_SAPrioritizationMatrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>from SA Prioritization Matrix</description>
        <name>Get_PriorityValue</name>
        <label>Get PriorityValue</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Usage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_CountryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset.Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>In</operator>
            <value>
                <elementReference>Separate_values_with_Comma.SplitResults</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FS_SAPrioritizationMatrix__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FS_Value__c</queriedFields>
        <queriedFields>Label</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_with_Priority_Value</name>
        <label>Update SA with Priority Value</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_SA_Priority__c</field>
            <value>
                <elementReference>Get_Label_from_SA_Matrix.FS_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FS_Priority__c</field>
            <value>
                <elementReference>populatePriority</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO1</name>
        <label>Update WO</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_SA_with_Priority_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Priority__c</field>
            <value>
                <elementReference>Get_Label_from_SA_Matrix.Label</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Case_is_associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed - Shutdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>SvcReqAssignedMechanic__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Separate_values_with_Comma</name>
        <label>Separate values with Comma</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>IF_Missed_Visit</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>flowSeparator</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.FS_UnitUsage__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NumberFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StoreNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>storeNumberMultiple</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>storePriorityValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeSortedValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
