modules/fs/main/default/flows/FSL_Mobile_Unit_Shutdown.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Back_In_service</name>
        <label>Assign Back In service</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>storeShutdownLogRecords.BackInServiceDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Back_In_Service_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeShutdownLogRecords.BackinServiceBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Back_In_Service_By</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeShutdownLogRecords.WorkOrderForUnitInService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_shutdown_log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_Status</name>
        <label>Assign Unit Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>storeAssetRecord.OperationalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAssetRecord.OperationalStatusReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAssetRecord.UpdatedByIntegration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAssetRecord.BackInServiceDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Back_In_Service_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAssetRecord.BackinServiceBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Back_In_Service_By</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit_Recrod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Errors</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>errorMessagesNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Projected Restart Date/Time should not be Past Date/Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>FSL_Mobile_Unit_Status_Update_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment action sets the unit to &quot;Shutdown&quot; state</description>
        <name>Set_Unit_to_Shutdown</name>
        <label>Set Unit to Shutdown</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>storeAssetRecord.OperationalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAssetRecord.OperationalStatusReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AwaitingCustomerProposalSignature</name>
        <choiceText>Awaiting Customer Proposal Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Customer Proposal Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>currentResource</name>
        <choiceText>{!currentServiceResource.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currentServiceResource.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>InService</name>
        <choiceText>In Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownduetoCustomerRequest</name>
        <choiceText>Shutdown due to Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown due to Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownduetoOtherReason</name>
        <choiceText>Shutdown due to Other Reason</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown due to Other Reason</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownduetoSafetyJudgement</name>
        <choiceText>Shutdown due to Safety Judgement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown due to Safety Judgement</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownduetovandalismMisused</name>
        <choiceText>Shutdown due to vandalism / Misused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown due to vandalism / Misused</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforDisasterEarthquake</name>
        <choiceText>Shutdown for Disaster - Earthquake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Disaster - Earthquake</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforDisasterOther</name>
        <choiceText>Shutdown for Disaster - Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Disaster - Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforGovernmentInspection</name>
        <choiceText>Shutdown for Government Inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Government Inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforInvestigation</name>
        <choiceText>Shutdown for Investigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Investigation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shutdownformaintenanceactivities</name>
        <choiceText>Shutdown for maintenance activities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for maintenance activities</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforModernizationBEX</name>
        <choiceText>Shutdown for Modernization / BEX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Modernization / BEX</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforParts</name>
        <choiceText>Shutdown for Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShutdownforRepair</name>
        <choiceText>Shutdown for Repair</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for Repair</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shutdownfortechnicalissuetroubleshootinginprogress</name>
        <choiceText>Shutdown for technical issue – troubleshooting in progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shutdown for technical issue – troubleshooting in progress</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checking_Operational_StatusResason_is_Inservice_or_Not</name>
        <label>Checking Operational StatusResason is Inservice or Not</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotInservices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Operational_Status_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>InService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Unit_Shutdown_Log</targetReference>
            </connector>
            <label>Not Inservices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>1172</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Checking_Operational_StatusResason_is_Inservice_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Projected_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Projected_Restart_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Projected_Restart_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errors</targetReference>
            </connector>
            <label>Projected Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Status_Check</name>
        <label>Unit Status Check</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Shutdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeAssetRecord.OperationalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shutdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_In_Service</targetReference>
            </connector>
            <label>Unit Shutdown</label>
        </rules>
        <rules>
            <name>Unit_In_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeAssetRecord.OperationalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSL_Mobile_Unit_Status_Update_Flow</targetReference>
            </connector>
            <label>Unit In Service</label>
        </rules>
    </decisions>
    <description>US#958348,#956342: Updated this flow and remove on screen Back in service Validation.</description>
    <dynamicChoiceSets>
        <name>UserChoiceRecSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceResource</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CurrentTIme</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL Mobile Unit Shutdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile Unit Status Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Unit_Shutdown_Log</name>
        <label>Create Unit Shutdown Log</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>ShutDownId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Unit_to_Shutdown</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorsMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>Projected_Restart_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Restart_Reason__c</field>
            <value>
                <elementReference>Projected_Restart_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShutdownReportedBy__c</field>
            <value>
                <elementReference>Shutdown_Reported_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Shutdown_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitShutdownReason__c</field>
            <value>
                <elementReference>Operational_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Resource</name>
        <label>Get Current Resource</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>currentServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_WO</name>
        <label>Get Related WO</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Shutdown_Log_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeAssetRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORecords</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Records</name>
        <label>Get Unit Records</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>storeAssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OperationalStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Shutdown_Log_Rec</name>
        <label>Get Unit Shutdown Log Rec</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeAssetRecord.Id</elementReference>
            </value>
        </filters>
        <object>AssetDowntimePeriod</object>
        <outputReference>storeShutdownLogRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShutdownReportedBy__c</queriedFields>
        <queriedFields>WorkOrder__c</queriedFields>
        <queriedFields>WorkOrderForUnitInService__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_shutdown_log</name>
        <label>Update shutdown log</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>storeShutdownLogRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <faultConnector>
            <targetReference>ErrorsMsg</targetReference>
        </faultConnector>
        <inputReference>storeAssetRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Recrod</name>
        <label>Update Unit Recrod</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Back_In_service</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>storeAssetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Back_In_Service</name>
        <label>Back In Service</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Unit_Status</targetReference>
        </connector>
        <fields>
            <name>Back_In_Service_By</name>
            <choiceReferences>UserChoiceRecSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentUser</elementReference>
            </defaultValue>
            <fieldText>Back In Service By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Back_In_Service_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentTIme</elementReference>
            </defaultValue>
            <fieldText>Back In Service Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorOp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(163, 19, 19); font-family: &amp;quot;Segoe UI VSS (Regular)&amp;quot;, &amp;quot;Segoe UI&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Ubuntu, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Operational Status Reason&amp;nbsp;cannot be null or &apos;In-service&apos; if Operational status is &apos;Shutdown&apos;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorsMsg</name>
        <label>ErrorMsg</label>
        <locationX>1370</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FSL_Mobile_Unit_Status_Update_Flow</name>
        <label>Shutdown</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <fields>
            <name>errorMsgnew</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(193, 18, 18);&quot;&gt;{!errorMessagesNew}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Operational_Status_Reason</name>
            <choiceReferences>ShutdownforRepair</choiceReferences>
            <choiceReferences>ShutdownforParts</choiceReferences>
            <choiceReferences>ShutdownforInvestigation</choiceReferences>
            <choiceReferences>ShutdownduetoSafetyJudgement</choiceReferences>
            <choiceReferences>ShutdownforGovernmentInspection</choiceReferences>
            <choiceReferences>ShutdownforDisasterEarthquake</choiceReferences>
            <choiceReferences>ShutdownforDisasterOther</choiceReferences>
            <choiceReferences>ShutdownduetoCustomerRequest</choiceReferences>
            <choiceReferences>ShutdownduetoOtherReason</choiceReferences>
            <choiceReferences>InService</choiceReferences>
            <choiceReferences>AwaitingCustomerProposalSignature</choiceReferences>
            <choiceReferences>Shutdownformaintenanceactivities</choiceReferences>
            <choiceReferences>ShutdownduetovandalismMisused</choiceReferences>
            <choiceReferences>Shutdownfortechnicalissuetroubleshootinginprogress</choiceReferences>
            <choiceReferences>ShutdownforModernizationBEX</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operational Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shutdown_Reported_By</name>
            <choiceReferences>UserChoiceRecSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentResource</elementReference>
            </defaultValue>
            <fieldText>Shutdown Reported By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shutdown_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Shutdown Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Projected_Restart_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Projected Restart Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Projected_Restart_Reason</name>
            <fieldText>Projected Restart Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unit_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>DummyPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessagesNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpStatusAfterUpdateUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShutDownId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>storeShutdownLogRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetDowntimePeriod</objectType>
    </variables>
    <variables>
        <name>Unitrecord_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
