modules/fs/main/default/flows/FSL_Add_Images_To_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Value_Increment</name>
        <label>Value Increment</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NumberOfImageUploaded</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Images</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Updated</name>
        <label>Value Updated</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NumberOfImageUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>StoreContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Within_The_Limit_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Within_The_Limit_Value</name>
        <label>If Within The Limit Value</label>
        <locationX>204</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Than The Limit Value</defaultConnectorLabel>
        <rules>
            <name>Less_Than_Limit_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfImageUploaded</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ImageLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_Screen_1</targetReference>
            </connector>
            <label>Less Than Limit Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Images</name>
        <label>More Images</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MoreImages</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfImageUploaded</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ImageLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>If_Within_The_Limit_Value</targetReference>
            </connector>
            <label>More Image</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Add Images To SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Content_Document_Value</name>
        <label>Content Document Value</label>
        <locationX>204</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>StoreContentDocumentLink</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LinkedEntityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Value_Updated</targetReference>
        </connector>
        <object>OTISCustomSettings__c</object>
        <outputAssignments>
            <assignToReference>ImageLimit</assignToReference>
            <field>ImageUploadLimitInSA__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>204</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>storeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateSA</name>
        <label>updateSA</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Value_Increment</targetReference>
        </connector>
        <inputReference>storeId</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>204</locationX>
        <locationY>1340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlertMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;You Cannot Upload More Than {!ImageLimit}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt; Images﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Image_Screen_1</name>
        <label>Attach Image</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
        <fields>
            <name>Iddisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You Can Add Up To {!ImageLimit} Images.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpeg;.png;.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>storeId.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>VersionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MoreImages</name>
            <dataType>Boolean</dataType>
            <fieldText>Please Check, If You Want To Add More Images</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentVerId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>contentversionId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loopvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopvariable2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopvariable3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>lpvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NumberOfImageUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>storeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>storevid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testVarq</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VersionId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
