modules/fs/main/default/flows/FSL_Update_Account_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Collection_Var_to_Text_Var</name>
        <label>Assign Collection Var to Text Var</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>ALLWOID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_Id_of_WO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Id_of_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Maintainance_WO</name>
        <label>Assign Maintainance WO</label>
        <locationX>264</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>ALLMaintainanceWO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Maintainance_WO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Maintainance_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Into_Text_Var</name>
        <label>Assignment Into Text Var</label>
        <locationX>264</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>AllTrapWORecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Id_Of_TPR_WO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Id_Of_TPR_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_No_of_Cases</name>
        <label>Count  No of Cases</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CountCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_SR_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SR_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Maintainance_SA</name>
        <label>Count of Maintainance SA</label>
        <locationX>176</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>CountMaintainanceSA</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Maintainance_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Missed_Visit_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_Maintainance_WO</name>
        <label>Count Of Maintainance WO</label>
        <locationX>176</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>CountOfMaintainanceWO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MaintainceWOId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Maintainance_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_MIssed_Visit_SA</name>
        <label>Count Of MIssed Visit SA</label>
        <locationX>176</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>CountOfMissedSA</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Missed_Visit_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Units_Shurdown_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_OF_Open_Activity</name>
        <label>Count OF Open Activity</label>
        <locationX>176</locationX>
        <locationY>3204</locationY>
        <assignmentItems>
            <assignToReference>CountOfOpenTask</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_SR_SA</name>
        <label>Count Of SR SA</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>CountOfSA</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SR_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Maintainance_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_SR_WO</name>
        <label>Count Of SR WO</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>CountofSRWO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SR_WO_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Id_of_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_Unit_Shutdown_Records</name>
        <label>Count Of Unit Shutdown Records</label>
        <locationX>176</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>CountUnitShutdown</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Units_Shurdown_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SR_WO_TPR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountOfTrapSRCases</name>
        <label>CountOfTrapSRCases</label>
        <locationX>176</locationX>
        <locationY>2988</locationY>
        <assignmentItems>
            <assignToReference>CountTrapPassengerSRCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SR_TPR_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FSL Update Account Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Update Account Fields</label>
    <loops>
        <name>Get_All_Id_Of_TPR_WO</name>
        <label>Get All Id Of TPR WO</label>
        <locationX>176</locationX>
        <locationY>2580</locationY>
        <collectionReference>WOTrapPassengerRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Into_Text_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SR_TPR_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_all_Id_of_WO</name>
        <label>Get all Id of WO</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <collectionReference>SR_WO_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Collection_Var_to_Text_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SR_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_All_Maintainance_WO</name>
        <label>Get All Maintainance WO</label>
        <locationX>176</locationX>
        <locationY>1524</locationY>
        <collectionReference>MaintainceWOId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Maintainance_WO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Maintainance_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Maintainance_SA</name>
        <label>Get Maintainance SA</label>
        <locationX>176</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Maintainance_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>ALLMaintainanceWO</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintainance_WO</name>
        <label>Get Maintainance WO</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Of_Maintainance_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_WorkOderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>MaintainceWOId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Missed_Visit_SA</name>
        <label>Get Missed Visit SA</label>
        <locationX>176</locationX>
        <locationY>2040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Of_MIssed_Visit_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Missed_Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Tasks</name>
        <label>Get Open Tasks</label>
        <locationX>176</locationX>
        <locationY>3096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_OF_Open_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SR_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceRequestCase</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_SR_cases</name>
        <label>get SR cases</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_No_of_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_SA</name>
        <label>Get SR SA</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Of_SR_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>ALLWOID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_TPR_Cases</name>
        <label>Get SR TPR Cases</label>
        <locationX>176</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOfTrapSRCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrder__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AllTrapWORecords</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_WO</name>
        <label>Get SR WO</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Of_SR_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_WorkOderType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>SR_WO_Records</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR_WO_TPR</name>
        <label>Get SR WO TPR</label>
        <locationX>176</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Id_Of_TPR_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_ReleasedTrapPassengerFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOTrapPassengerRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Units_Shurdown_Records</name>
        <label>Get Units Shurdown Records</label>
        <locationX>176</locationX>
        <locationY>2256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Of_Unit_Shutdown_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperationalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>3312</locationY>
        <inputAssignments>
            <field>FS_Number_of_Maintenance_SA__c</field>
            <value>
                <elementReference>CountMaintainanceSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_Maintenance_WO__c</field>
            <value>
                <elementReference>CountOfMaintainanceWO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_Missed_Visit_SA__c</field>
            <value>
                <elementReference>CountOfMissedSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_Open_Activities__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_SR_Cases__c</field>
            <value>
                <elementReference>CountCases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_SR_Service_Appointment__c</field>
            <value>
                <elementReference>CountOfSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_SR_Work_Orders__c</field>
            <value>
                <elementReference>CountofSRWO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_Trapped_Passenger_SR__c</field>
            <value>
                <elementReference>CountTrapPassengerSRCases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Number_of_Units_at_Risk__c</field>
            <value>
                <elementReference>CountUnitShutdown</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-27</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ALLMaintainanceWO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllTrapWORecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALLWOID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CopeofWO</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountMaintainanceSA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfMaintainanceWO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfMissedSA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfOpenTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfSA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofSRWO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTrapPassengerSRCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountUnitShutdown</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Get_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>MaintainceWOId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>SR_SA_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SR_WO_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WOTrapPassengerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
