modules/fs/main/default/flows/New_Building_Contact_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignErrorMsg</name>
        <label>AssignErrorMsg</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorForExistingBuildCon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Building Contact record already exists. Please select other contact.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ExistingContactSelectionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment2</name>
        <label>Assignment2</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorForExistingBuildCon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>  Please enter 10 digits in Business Phone.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>NewConactCreationScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Can_we_create_new_building_contact</name>
        <label>Can we create new building contact?</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AssignErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuildingContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ContactBuildingRecord_for_Existing_Contact</targetReference>
            </connector>
            <label>yes create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_s_Selection</name>
        <label>Check User&apos;s Selection</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ExistingContactSelectionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If NO</defaultConnectorLabel>
        <rules>
            <name>If_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_to_create_new_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewConactCreationScreen</targetReference>
            </connector>
            <label>If YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_phone_number_length</name>
        <label>checking phone number length</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>phone_greater_lesser_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_ContactRecord</targetReference>
            </connector>
            <label>phone greater/lesser than 10</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuildingRecord.Account__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>LengthCheck</name>
        <dataType>Number</dataType>
        <expression>LEN({!Business_Phone})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Building Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Building Contact Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_ContactBuildingRecord_for_Existing_Contact</name>
        <label>Create ContactBuildingRecord for Existing Contact</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>BuildingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </inputAssignments>
        <object>BuildingContact__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ContactBuildingRecord_for_New_Contact</name>
        <label>Create ContactBuildingRecord for New Contact</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>BuildingRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>BuildingContact__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_ContactRecord</name>
        <label>Create New ContactRecord</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_ContactBuildingRecord_for_New_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>BuildingRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactType__c</field>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Primary_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Business_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>get_Current_Building_Record</name>
        <label>get Current Building Record</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AskForNewContactScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>BuildingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_exisiting_building_contacts_records</name>
        <label>get exisiting building contacts records</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_we_create_new_building_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuildingRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </filters>
        <object>BuildingContact__c</object>
        <outputReference>BuildingContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Building__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <screens>
        <name>AskForNewContactScreen</name>
        <label>AskForNewContactScreen</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_s_Selection</targetReference>
        </connector>
        <fields>
            <name>Want_to_create_new_contact</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Choice</defaultSelectedChoiceReference>
            <fieldText>Want to create new contact ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorDisplay</name>
        <label>ErrorDisplay</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Display</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExistingContactSelectionScreen</name>
        <label>ExistingContactSelectionScreen</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_exisiting_building_contacts_records</targetReference>
        </connector>
        <fields>
            <name>BuildingName</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Building Name : &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!BuildingRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contacts</name>
            <choiceReferences>ContactsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;{!ErrorForExistingBuildCon}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewConactCreationScreen</name>
        <label>NewConactCreationScreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checking_phone_number_length</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Email</name>
            <dataType>String</dataType>
            <fieldText>Primary Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(3, 45, 96);&quot;&gt;Invalid Email Address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Primary_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Business_Phone</name>
            <dataType>String</dataType>
            <fieldText>Business Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Only Numeric Character Allowed&lt;/p&gt;</errorMessage>
                <formulaExpression>!REGEX({!Business_Phone},&quot;^[a-z A-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!ErrorForExistingBuildCon}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Current_Building_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BuildingContactForScreen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
    <variables>
        <name>BuildingContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
    <variables>
        <name>BuildingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
    <variables>
        <name>BuildingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorForExistingBuildCon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
</Flow>
