modules/fs/main/default/flows/Resource_Replacement_and_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assi</name>
        <label>assi</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>serviceresourcerecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sre.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>serviceresource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceresourcerecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assi</name>
        <label>Copy 1 of assi</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>serviceresourcerecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_sr.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_2</name>
        <label>Copy 1 of Assignment 2</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>serviceresource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>serviceresourcerecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_sr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>end_date_for_absence</name>
        <label>end date for absence</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>EndAbsenceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShowRouteResource.firstSelectedRow.ReplacementEffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceFreezeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShowRouteResource.firstSelectedRow.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision works to check the effectivereplacementdate from service resource is greater than today.</description>
        <name>Check_Conditions_For_Route_Resource</name>
        <label>Check Conditions For Route Resource</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>isSecondary</defaultConnectorLabel>
        <rules>
            <name>isprimaryresource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetprimaryRouteResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sre</targetReference>
            </connector>
            <label>isprimaryresource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now() +10</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>now()+1</expression>
    </formulas>
    <formulas>
        <name>Todaydate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Resource Replacement and Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Replacement and Deactivation</label>
    <loops>
        <name>Copy_1_of_sr</name>
        <label>Copy 1 of sr</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <collectionReference>GetsecondaryRouteResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_assi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_secondary_Service_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>sre</name>
        <label>sr</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>GetprimaryRouteResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assi</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Resource_Absence</name>
        <label>Create Resource Absence</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Freeze_User</targetReference>
        </connector>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>EndAbsenceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceId</field>
            <value>
                <elementReference>ShowRouteResource.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Resource replacement.</stringValue>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSecondaryRouteResourceForTerritory</name>
        <label>CreateSecondaryRouteResourceForTerritory</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>ShowSecondryRoutemechanics.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritoryType</field>
            <value>
                <stringValue>S</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_secondary_Service_Resource</name>
        <label>Get secondary  Service Resource</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Of_Secondary_Mechanics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>serviceresource</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReplacementEffectiveDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ShowRouteResource.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Of_Primary_Mechanics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>serviceresource</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReplacementEffectiveDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Todaydate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetprimaryRouteResource</name>
        <label>GetprimaryRouteResource</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetsecondaryRouteResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetsecondaryRouteResource</name>
        <label>GetsecondaryRouteResource</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Conditions_For_Route_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Freeze_User</name>
        <label>Freeze User</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Copy_1_of_sr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resourceFreezeUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsFrozen</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFrozen</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>UserLogin</object>
    </recordUpdates>
    <screens>
        <name>List_Of_Primary_Mechanics</name>
        <label>List Of Primary Mechanics</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>end_date_for_absence</targetReference>
        </connector>
        <fields>
            <name>ShowRouteResource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_Resource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f95d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Effective_Replacement_Date_in_Future__c&quot;,&quot;guid&quot;:&quot;column-72bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Effective Replacement Date in Future?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;IsActive&quot;,&quot;guid&quot;:&quot;column-abce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_Of_Secondary_Mechanics</name>
        <label>List Of Secondary Mechanics</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSecondaryRouteResourceForTerritory</targetReference>
        </connector>
        <fields>
            <name>ShowSecondryRoutemechanics</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_secondary_Service_Resource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-cd0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MobileNumber__c&quot;,&quot;guid&quot;:&quot;column-4866&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Mobile Number&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;ResourceType&quot;,&quot;guid&quot;:&quot;column-de5d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Resource Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;JobTitle__c&quot;,&quot;guid&quot;:&quot;column-75aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Job Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetprimaryRouteResource</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionSR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>EndAbsenceDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FSAdminEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>asminask27@gmail.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceFreezeUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routeresource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>serviceresource</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceresourcerecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>srr</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
