modules/fs/main/default/flows/SA_by_Supervisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>testing</name>
        <label>testing</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>testing1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_SA_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_SA_records</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Msg</name>
        <label>Error Msg</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <customErrorMessages>
            <errorMessage>There are already Service Appointment which are active.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Unit_Error</name>
        <label>Unit Error</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <customErrorMessages>
            <errorMessage>There is a problem in the Related Unit.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_statuses</name>
        <label>check statuses</label>
        <locationX>270</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Looping_SA_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_status_not_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_SA_records.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>testing</targetReference>
            </connector>
            <label>SA status not completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Status</name>
        <label>Check Unit Status</label>
        <locationX>248</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Unit_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Status_Shutdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unit.OperationalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shutdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Unit.Unit_ShutDown_DateTime_Rollup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_SA_records</targetReference>
            </connector>
            <label>Unit Status Shutdown</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Criteria</name>
        <label>Checking Criteria</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>testing1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Shutdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WO.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_User</name>
        <label>Checking User</label>
        <locationX>479</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_role_should_be_Route_Supervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Route Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO</targetReference>
            </connector>
            <label>User role should be Route Supervisor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SA by Supervisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA by Supervisor</label>
    <loops>
        <name>Looping_SA_records</name>
        <label>Looping SA records</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_All_SA_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_statuses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Criteria</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SA_records</name>
        <label>Get All SA records</label>
        <locationX>248</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Unit_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit</name>
        <label>Get Unit</label>
        <locationX>248</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_SA_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>get User</label>
        <locationX>479</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>248</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordtest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>test4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testing1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
