modules/fs/main/default/flows/Service_Appointment_Building_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignBuildingContact</name>
        <label>assignBuildingContact</label>
        <locationX>358</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactrecord.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildingLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contactAssign</name>
        <label>contactAssign</label>
        <locationX>358</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>BuildingcontactName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;&lt;a href=&quot;com.salesforce.fieldservice://v1/sObject/{!contactvar.Id}/details&quot;&gt;{!contactvar.Name}&lt;/a&gt;&lt;br/&gt;&lt;b&gt;___________________________________&lt;/b&gt;&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Unit_Not_found</name>
        <label>Unit Not found</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Building</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>US#913834.This flow is used to display Building Contact information in Field Service Mobile.</description>
    <environments>Default</environments>
    <interviewLabel>Service Appointment Building Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Building Contact</label>
    <loops>
        <name>BuildingLoop</name>
        <label>BuildingLoop</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignNextValueToReference>contactrecord</assignNextValueToReference>
        <collectionReference>buildingContactRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignBuildingContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>contactLoop</name>
        <label>contactLoop</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignNextValueToReference>contactvar</assignNextValueToReference>
        <collectionReference>contactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>contactAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Building</name>
        <label>Building</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buildingContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecord.LocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>buildingrecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>buildingContact</name>
        <label>buildingContact</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuildingLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buildingrecord.Id</elementReference>
            </value>
        </filters>
        <object>BuildingContact__c</object>
        <outputReference>buildingContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Appoinment</name>
        <label>get Service Appoinment</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>unitdetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppoinmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>unitdetails</name>
        <label>unitdetails</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Not_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppoinmentRecord.Unit__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>unitRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StatusReason__c</queriedFields>
        <queriedFields>CustomerDesignation__c</queriedFields>
        <queriedFields>OvertimeIncluded__c</queriedFields>
        <queriedFields>OperationalStatus__c</queriedFields>
        <queriedFields>ContractNumber__c</queriedFields>
        <queriedFields>BuildingNumber__c</queriedFields>
        <queriedFields>NISMISContractNumber__c</queriedFields>
        <queriedFields>ERPContractNumber__c</queriedFields>
        <queriedFields>BuildingAddress__c</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <screens>
        <name>Contact_Info</name>
        <label>Building Contact Information</label>
        <locationX>270</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Contact_info_Details</name>
            <fieldText>&lt;p&gt;{!BuildingcontactName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_Flow</name>
        <label>No Data</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Blank</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No Unit found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Service_Appoinment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BuildingcontactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buildingContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
    <variables>
        <name>buildingrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingContact__c</objectType>
    </variables>
    <variables>
        <name>contactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppoinmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>unitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>workOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
