modules/fs/main/default/flows/Service_Appointment_Flow_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>SA_Decision</name>
        <label>SA Decision</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Work_Order_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Field_Update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>When Work Order is Blank</label>
        </rules>
        <rules>
            <name>SA_completed_within_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompletedWithinTime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Wo</targetReference>
            </connector>
            <label>SA completed within time</label>
        </rules>
        <rules>
            <name>SA_Not_Completed_WithinTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CompletedWithinTime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updating_reason_on_WO</targetReference>
            </connector>
            <label>SA Not Completed WithinTime</label>
        </rules>
        <rules>
            <name>Mechanic_ETA_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mechanic_ETA_Minutes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mechanic_ETA_Minutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Scheduled_Time</targetReference>
            </connector>
            <label>Mechanic ETA Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!$Record.Mechanic_ETA_Minutes__c}/1440) +({!$Record.DurationInMinutes}/1440)</expression>
    </formulas>
    <formulas>
        <name>NewScheduledStartTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!$Record.Mechanic_ETA_Minutes__c}/1440)</expression>
    </formulas>
    <formulas>
        <name>TotalTimer</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalTimer1</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Service Appointment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_Address_field_on_SA</name>
        <label>Populate Address field on SA</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Unit__r.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Unit__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Unit__r.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Unit__r.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Unit__r.Street</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Populate_Address_field_on_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Time_of_SA</name>
        <label>Update Initial Time of SA</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>SA_Decision</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Initial_Scheduled_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Scheduled_End__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Duration__c</field>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Scheduled_End__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Scheduled_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Scheduled_Time</name>
        <label>Update New Scheduled Time</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>NewScheduledEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>NewScheduledStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updating_reason_on_WO</name>
        <label>Updating Reason On WO</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Actual Duration Inadequate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Wo</name>
        <label>Updating Wo</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_Field_Update</name>
        <label>Work Order Field Update</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Initial_Time_of_SA</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
