modules/fs/main/default/flows/Service_Appointment_Flow_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Counter</name>
        <label>Update Counter</label>
        <locationX>1326</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AssignedServiceResourceCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assigned_resource_populated_on_SA</name>
        <label>Check Assigned resource populated on SA</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAssignedResourcerecordtoSA</targetReference>
            </connector>
            <label>If Populated</label>
        </rules>
    </decisions>
	<decisions>
        <name>Condition_Check</name>
        <label>Condition Check</label>
        <locationX>5022</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Till_Now_SA_Is_Not_Complete</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AppxSAEndTime__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CurrentTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Udate_WO_Safety_Check</targetReference>
            </connector>
            <label>Till Now SA Is Not Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Get_records_returns_Blank_Collection</name>
        <label>If Get records returns Blank Collection</label>
        <locationX>1238</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedServiceResourceCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteRelatedAssignedResourceRecord</targetReference>
            </connector>
            <label>If Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>operations_on_assigned_resource</name>
        <label>operations on assigned resource</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_assigned_resource_record_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Assigned_Resource_record_to_SA</targetReference>
            </connector>
            <label>If new assigned resource record created</label>
        </rules>
        <rules>
            <name>If_updated_existing_Assigned_Resource_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedAssignedResourceRecords</targetReference>
            </connector>
            <label>If updated existing Assigned Resource record</label>
        </rules>
        <rules>
            <name>If_Assigned_Service_Resource_field_cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssignedServiceResource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Assigned_Resource_Record</targetReference>
            </connector>
            <label>If Assigned Service Resource field cleared</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Decision</name>
        <label>SA Decision</label>
        <locationX>1436</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Work_Order_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Order_Field_Update</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>When Work Order is Blank</label>
        </rules>
        <rules>
            <name>Assigned_Service_Resource_field_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedServiceResource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AssignedServiceResource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AssignedServiceResource__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>operations_on_assigned_resource</targetReference>
            </connector>
            <label>Assigned Service Resource field filled</label>
        </rules>
        <rules>
            <name>SA_completed_within_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompletedWithinTime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Wo</targetReference>
            </connector>
            <label>SA completed within time</label>
        </rules>
        <rules>
            <name>SA_Not_Completed_WithinTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CompletedWithinTime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updating_reason_on_WO</targetReference>
            </connector>
            <label>SA Not Completed WithinTime</label>
        </rules>
        <rules>
            <name>Mechanic_ETA_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mechanic_ETA_Minutes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mechanic_ETA_Minutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Scheduled_Time</targetReference>
            </connector>
            <label>Mechanic ETA Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>GanttIconURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))+&apos;resource/IconForSafetyCheck?&apos;</expression>
    </formulas>
    <formulas>
        <name>NewScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!$Record.Mechanic_ETA_Minutes__c}/1440) +({!$Record.DurationInMinutes}/1440)</expression>
    </formulas>
    <formulas>
        <name>NewScheduledStartTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ({!$Record.Mechanic_ETA_Minutes__c}/1440)</expression>
    </formulas>
    <formulas>
        <name>PopulateGanttLabel</name>
        <dataType>String</dataType>
        <expression>{!$Record.Unit__r.Name}+&apos;-&apos;+{!$Record.WorkType.Name}  +&apos;-&apos;+Text({!$Record.WorkOrder__r.FS_WorkOderType__c}) +&apos;-&apos;+({!$Record.Priority__c})</expression>
    </formulas>
    <formulas>
        <name>TotalTimer</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalTimer1</name>
        <dataType>Number</dataType>
        <expression>({!$Record.SchedEndTime}-{!$Record.SchedStartTime})*60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Service Appointment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Flow</label>
    <loops>
        <name>Loop_Through_Record_Collection</name>
        <label>Loop Through Record Collection</label>
        <locationX>1238</locationX>
        <locationY>863</locationY>
        <collectionReference>AssignedResourceRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Get_records_returns_Blank_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Related_Assigned_Resource_record_to_SA</name>
        <label>Create Related Assigned Resource record to SA</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAssignedResourcerecordtoSA</name>
        <label>Create Assigned Resource record to SA</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRelatedAssignedResourceRecord</name>
        <label>Delete Related Assigned Resource Record</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_Assigned_Resource_Record</name>
        <label>Get Related Assigned Resource Record</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Record_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssignedResourceDeletedManually__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>AssignedResourceRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedAssignedResourceRecords</name>
        <label>Get Related Assigned Resource Records</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateAssignedResourceRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Building_Id</name>
        <label>Building Id</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Check_Assigned_resource_populated_on_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>BuildingId__c</field>
            <value>
                <elementReference>$Record.Unit__r.Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
	<recordUpdates>
        <name>Clear_GanttIcon_on_Completion</name>
        <label>Clear GanttIcon on Completion</label>
        <locationX>2162</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>FSL__GanttIcon__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ClearGanttIconOnCompletion</name>
        <label>Clear GanttIcon On Completion</label>
        <locationX>2426</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>FSL__GanttIcon__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Address_field_on_SA</name>
        <label>Populate Address field on SA</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Building_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Unit__r.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Unit__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Unit__r.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Unit__r.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Unit__r.Street</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
	<recordUpdates>
        <name>Udate_WO_Safety_Check</name>
        <label>Udate WO Safety Check</label>
        <locationX>4890</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Gantt_Icon_on_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Safety Check Lone Worker</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Populate_Address_field_on_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
	<recordUpdates>
        <name>Update_Gantt_Icon_on_SA</name>
        <label>Update Gantt Icon on SA</label>
        <locationX>4890</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>SendCustomNotificationToMaintenanceSupervisor</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__GanttIcon__c</field>
            <value>
                <elementReference>GanttIconURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Time_of_SA</name>
        <label>Update Initial Time of SA</label>
        <locationX>1436</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_SA_FS_Unit_Priority</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Initial_Scheduled_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Scheduled_End__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Duration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Initial_Duration__c</field>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Scheduled_End__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Scheduled_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Scheduled_Time</name>
        <label>Update New Scheduled Time</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>NewScheduledEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_FS_Unit_Priority</name>
        <label>Update SA FS Unit Priority</label>
        <locationX>1436</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SA_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Gantt_Label__c</field>
            <value>
                <elementReference>PopulateGanttLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_Unit_Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAssignedResourceRecords</name>
        <label>Update Assigned Resource Records</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedAssignedResourceRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.AssignedServiceResource__c</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>updating_reason_on_WO</name>
        <label>Updating Reason On WO</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>ClearGanttIconOnCompletion</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Actual Duration Inadequate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Wo</name>
        <label>Updating Wo</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Clear_GanttIcon_on_Completion</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_Field_Update</name>
        <label>Work Order Field Update</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Initial_Time_of_SA</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
		<scheduledPaths>
            <name>Safety_Check_Worker</name>
            <connector>
                <targetReference>Condition_Check</targetReference>
            </connector>
            <label>Safety Check Worker</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>AppxSAEndTime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
	<subflows>
        <name>SendCustomNotificationToMaintenanceSupervisor</name>
        <label>SendCustomNotificationToMaintenanceSupervisor</label>
        <locationX>4890</locationX>
        <locationY>600</locationY>
        <flowName>SendCustomNotification</flowName>
        <inputAssignments>
            <name>CustomNotificationTypeName</name>
            <value>
                <stringValue>FS_NotifySpvAboutSafetyCheck</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <stringValue>There Is A Safety Check Alert For This Work Order -  {!$Record.WorkOrder__r.WorkOrderNumber}.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <stringValue>{!$Record.WorkOrder__r.WorkOrderNumber} - Action Needed!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientId</name>
            <value>
                <elementReference>$Record.ServiceTerritory.FieldSupervisor__r.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetId</name>
            <value>
                <elementReference>$Record.WorkOrder__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignedResourceRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>AssignedServiceResourceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
