modules/fs/main/default/flows/Shutdown_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail14days_1</name>
        <label>sendEmail14days_1</label>
        <locationX>50</locationX>
        <locationY>5640</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendEmail14days_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RegionalRFOMMails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert14days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody14days_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail14days_2</name>
        <label>sendEmail14days_2</label>
        <locationX>50</locationX>
        <locationY>5748</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailDecision5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RGMMails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert14days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody14days_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail21days_1</name>
        <label>sendEmail21days_1</label>
        <locationX>50</locationX>
        <locationY>6156</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendEmail21days_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RegionalVPEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert21days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody21days_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail21days_2</name>
        <label>sendEmail21days_2</label>
        <locationX>50</locationX>
        <locationY>6264</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailDecision6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RegionalVPEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert21days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody21days_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail24hrs</name>
        <label>sendEmail24hrs</label>
        <locationX>50</locationX>
        <locationY>4308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailDecision2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SupervisorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert24hrs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody24hrs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail30days</name>
        <label>sendEmail30days</label>
        <locationX>50</locationX>
        <locationY>6672</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>PresidentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert30days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody30days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail48hrs</name>
        <label>sendEmail48hrs</label>
        <locationX>50</locationX>
        <locationY>4716</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailDecision3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>BMEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert48hrs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emaiBody48hrs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail5days_1</name>
        <label>sendEmail5days_1</label>
        <locationX>50</locationX>
        <locationY>5124</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendEmail5days_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SubRegionalFOMEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert5days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody5days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail5days_2</name>
        <label>sendEmail5days_2</label>
        <locationX>50</locationX>
        <locationY>5232</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailDecision4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>FEMails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Alert5days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody5days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_table_columns</name>
        <label>add table columns</label>
        <locationX>182</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>table24hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns24hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table48hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns48hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table5days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns5days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table14days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns14days_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table14days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns14days_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table21days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns21days_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table21days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns21days_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table30days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableColumns30days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_unit_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BM_Assignments</name>
        <label>BM Assignments</label>
        <locationX>798</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>BMEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BMNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable14days</name>
        <label>closeTable14days</label>
        <locationX>50</locationX>
        <locationY>5532</locationY>
        <assignmentItems>
            <assignToReference>table14days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table14days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail14days_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable21days</name>
        <label>closeTable21days</label>
        <locationX>50</locationX>
        <locationY>6048</locationY>
        <assignmentItems>
            <assignToReference>table21days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table21days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail21days_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable24hrs</name>
        <label>closeTable24hrs</label>
        <locationX>50</locationX>
        <locationY>4200</locationY>
        <assignmentItems>
            <assignToReference>table24hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail24hrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable30days</name>
        <label>closeTable30days</label>
        <locationX>50</locationX>
        <locationY>6564</locationY>
        <assignmentItems>
            <assignToReference>table30days</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail30days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable48hrs</name>
        <label>closeTable48hrs</label>
        <locationX>50</locationX>
        <locationY>4608</locationY>
        <assignmentItems>
            <assignToReference>table48hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail48hrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>closeTable5days</name>
        <label>closeTable5days</label>
        <locationX>50</locationX>
        <locationY>5016</locationY>
        <assignmentItems>
            <assignToReference>table5days</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail5days_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration21daysAssignment</name>
        <label>Duration21daysAssignment</label>
        <locationX>270</locationX>
        <locationY>3516</locationY>
        <assignmentItems>
            <assignToReference>Collection21days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table21days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows21days_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table21days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows21days_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_30_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration30daysAssignment</name>
        <label>Duration30daysAssignment</label>
        <locationX>270</locationX>
        <locationY>3816</locationY>
        <assignmentItems>
            <assignToReference>Collection30days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table30days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows30days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_unit_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration5daysAssignments</name>
        <label>Duration5daysAssignments</label>
        <locationX>270</locationX>
        <locationY>2916</locationY>
        <assignmentItems>
            <assignToReference>Collection5days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table5days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows5days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_14_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_14_days_assignment</name>
        <label>Duration 14 days assignment</label>
        <locationX>270</locationX>
        <locationY>3216</locationY>
        <assignmentItems>
            <assignToReference>Collection14days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table14days_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows14days_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table14days_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows14days_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_21_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_24_hrs_assignment</name>
        <label>Duration 24 hrs assignment</label>
        <locationX>270</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>Collection24hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table24hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows24hrs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupervisorEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records.RouteName__r.FieldSupervisor__r.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_48_hrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_48_hrs_assignment</name>
        <label>Duration 48 hrs assignment</label>
        <locationX>270</locationX>
        <locationY>2616</locationY>
        <assignmentItems>
            <assignToReference>Collection48hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_unit_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>table48hrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tableRows48hrs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_5_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Assign</name>
        <label>Email Assign</label>
        <locationX>270</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>FEMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FENames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FE_Assignment</name>
        <label>FE Assignment</label>
        <locationX>1854</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>FEMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FENames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Office_Assignment</name>
        <label>Office Assignment</label>
        <locationX>270</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>storeOfficeId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Office_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Office_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>President_Assignment</name>
        <label>President Assignment</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>PresidentEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Regional_RFOM_Assignment</name>
        <label>Regional RFOM Assignment</label>
        <locationX>1326</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RegionalRFOMMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegionalRFOMNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Regional_VP_Assignement</name>
        <label>Regional VP Assignement</label>
        <locationX>534</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RegionalVPEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegionalVPNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RGM_Assignment</name>
        <label>RGM Assignment</label>
        <locationX>1062</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RGMMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RGMNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Regional_FOM_Assignment</name>
        <label>Sub Regional FOM Assignment</label>
        <locationX>1590</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SubRegionalFOMEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubRegionalFOMNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInternalResource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_14_days</name>
        <label>Checking 14 days</label>
        <locationX>402</locationX>
        <locationY>3108</locationY>
        <defaultConnector>
            <targetReference>Checking_21_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking14to20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_14_days_assignment</targetReference>
            </connector>
            <label>Shutdown 14 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_21_days</name>
        <label>Checking 21 days</label>
        <locationX>402</locationX>
        <locationY>3408</locationY>
        <defaultConnector>
            <targetReference>Checking_30_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_21_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking21to29days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration21daysAssignment</targetReference>
            </connector>
            <label>Shutdown 21 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_30_days</name>
        <label>Checking 30 days</label>
        <locationX>402</locationX>
        <locationY>3708</locationY>
        <defaultConnector>
            <targetReference>Loop_unit_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking30daysormore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration30daysAssignment</targetReference>
            </connector>
            <label>Shutdown 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_48_hrs</name>
        <label>Checking 48 hrs</label>
        <locationX>402</locationX>
        <locationY>2508</locationY>
        <defaultConnector>
            <targetReference>Checking_5_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_48_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking2to4days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_48_hrs_assignment</targetReference>
            </connector>
            <label>Shutdown 48 hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_5_days</name>
        <label>Checking 5 days</label>
        <locationX>402</locationX>
        <locationY>2808</locationY>
        <defaultConnector>
            <targetReference>Checking_14_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checking5to13days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration5daysAssignments</targetReference>
            </connector>
            <label>Shutdown 5 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_duration</name>
        <label>Checking duration</label>
        <locationX>402</locationX>
        <locationY>2208</locationY>
        <defaultConnector>
            <targetReference>Checking_48_hrs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duration_24_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checking24hours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_24_hrs_assignment</targetReference>
            </connector>
            <label>duration 24 hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Internal_Resource</name>
        <label>Decision Internal Resource</label>
        <locationX>1194</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>LoopInternalResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>President</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>President</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>President_Assignment</targetReference>
            </connector>
            <label>President</label>
        </rules>
        <rules>
            <name>Regional_VP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Vice President</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regional_VP_Assignement</targetReference>
            </connector>
            <label>Regional VP</label>
        </rules>
        <rules>
            <name>BM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Branch Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BM_Assignments</targetReference>
            </connector>
            <label>BM</label>
        </rules>
        <rules>
            <name>RGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RGM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RGM_Assignment</targetReference>
            </connector>
            <label>RGM</label>
        </rules>
        <rules>
            <name>Regional_RFOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional RFOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regional_RFOM_Assignment</targetReference>
            </connector>
            <label>Regional RFOM</label>
        </rules>
        <rules>
            <name>SubRegional_FOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub Regional FOM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Regional_FOM_Assignment</targetReference>
            </connector>
            <label>SubRegional FOM</label>
        </rules>
        <rules>
            <name>Field_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopInternalResource.JobTitle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Enginner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FE_Assignment</targetReference>
            </connector>
            <label>Field Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision1</name>
        <label>EmailDecision1</label>
        <locationX>182</locationX>
        <locationY>4092</locationY>
        <defaultConnector>
            <targetReference>EmailDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check24hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection24hrs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable24hrs</targetReference>
            </connector>
            <label>Check24hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision2</name>
        <label>EmailDecision2</label>
        <locationX>182</locationX>
        <locationY>4500</locationY>
        <defaultConnector>
            <targetReference>EmailDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check48hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection48hrs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable48hrs</targetReference>
            </connector>
            <label>Check48hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision3</name>
        <label>EmailDecision3</label>
        <locationX>182</locationX>
        <locationY>4908</locationY>
        <defaultConnector>
            <targetReference>EmailDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check5days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection5days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable5days</targetReference>
            </connector>
            <label>Check5days</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision4</name>
        <label>EmailDecision4</label>
        <locationX>182</locationX>
        <locationY>5424</locationY>
        <defaultConnector>
            <targetReference>EmailDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check14days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection14days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable14days</targetReference>
            </connector>
            <label>check14days</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision5</name>
        <label>EmailDecision5</label>
        <locationX>182</locationX>
        <locationY>5940</locationY>
        <defaultConnector>
            <targetReference>EmailDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check21days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection21days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable21days</targetReference>
            </connector>
            <label>check21days</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailDecision6</name>
        <label>EmailDecision6</label>
        <locationX>182</locationX>
        <locationY>6456</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check30days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection30days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>closeTable30days</targetReference>
            </connector>
            <label>check30days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checking14to20</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 ))&gt;14, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>checking21to29days</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 ))&gt;21, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Checking24hours</name>
        <dataType>Boolean</dataType>
        <expression>AND(IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 )) =0 ,TRUE,
FALSE), IF(VALUE(MID({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot;days &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) + 5,FIND(&quot; hours&quot;,{!Loop_unit_records.Shut_Down_Duration__c}) -FIND(&quot;days &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 5 ))&lt;= 24 ,TRUE,
FALSE))</expression>
    </formulas>
    <formulas>
        <name>checking2to4days</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 ))&gt;2 , 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>checking30daysormore</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 )) &gt;30, 1,0 
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>checking5to13days</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE(LEFT({!Loop_unit_records.Shut_Down_Duration__c}, FIND(&quot; &quot;,{!Loop_unit_records.Shut_Down_Duration__c}) - 1 ))&gt;5 ,1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>tableRows14days_1</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!SubRegionalFOMNames}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!BMNames}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows14days_2</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!FENames}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!BMNames}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows21days_1</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!RegionalRFOMNames}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!SubRegionalFOMNames}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows21days_2</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!RGMNames}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!FENames}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows24hrs</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.RouteMechanic__c}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows30days</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!RegionalVPNames}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows48hrs</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.FieldSupervisor__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.RouteMechanic__c}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>tableRows5days</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr&gt;&lt;td&gt;&apos;+{!Loop_unit_records.Shut_Down_Duration__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.BuildingNumber__c}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.SerialNumber}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+TEXT({!Loop_unit_records.Unit_ShutDown_DateTime_Rollup__c})+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!BMNames}+
&apos;&lt;/td&gt;&lt;td&gt;&apos;+{!Loop_unit_records.FieldSupervisor__c}+
&apos;&lt;/td&gt;&lt;/tr&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Shutdown Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shutdown Escalation</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <collectionReference>getFEProfilesUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Office_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>to store in a list.</description>
        <name>Loop_Office_Records</name>
        <label>Loop Office Records</label>
        <locationX>182</locationX>
        <locationY>1584</locationY>
        <collectionReference>Get_Office_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Office_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Unit_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_unit_records</name>
        <label>Loop unit records</label>
        <locationX>182</locationX>
        <locationY>2100</locationY>
        <collectionReference>get_Unit_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EmailDecision1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopInternalResource</name>
        <label>LoopInternalResource</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>getInternalResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Internal_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_FE_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_FE_profiles</name>
        <label>get FE profiles</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFEProfilesUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Engineer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_FE_Role</name>
        <label>get FE Role</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_FE_profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Engineer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Office_Records</name>
        <label>Get Office Records</label>
        <locationX>182</locationX>
        <locationY>1476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Office_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSLEnabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>updated this to include the fsl Enabled office unit only.</description>
        <name>get_Unit_records</name>
        <label>get Unit records</label>
        <locationX>182</locationX>
        <locationY>1884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_table_columns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OperationalStatus__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OperationalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_ShutDown_DateTime_Rollup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>In</operator>
            <value>
                <elementReference>storeOfficeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFEProfilesUsers</name>
        <label>getFEProfilesUsers</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FE_Role.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_FE_profiles.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInternalResource</name>
        <label>getInternalResource</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInternalResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasOptedInEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InternalResource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>JobTitle__c</queriedFields>
        <queriedFields>PrimaryEmail__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInternalResource</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-20</startDate>
            <startTime>05:51:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emaiBody48hrs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;Shutdown&quot; from a Callback closeout for &amp;gt;= 2 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your FE &amp;amp; SRFOM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 5 days.&lt;/p&gt;&lt;p&gt;Your RGM &amp;amp; RFOM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 14 days.&lt;/p&gt;&lt;p&gt;Your VP will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 21 days.&amp;nbsp;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 2 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table48hrs}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody14days_1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;Shutdown&quot; from a Callback closeout for &amp;gt;= 14 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your VP will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 21 days.&amp;nbsp;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 14 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table14days_1}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody14days_2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 14 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your VP will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 21 days.&amp;nbsp;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 14 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table14days_2}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody21days_1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 21 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 21 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table21days_1}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody21days_2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 21 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 21 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table21days_2}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody24hrs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 1 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your BM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 2 days.&lt;/p&gt;&lt;p&gt;Your FE &amp;amp; SRFOM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 5 days.&lt;/p&gt;&lt;p&gt;Your RGM &amp;amp; RFOM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 14 days.&lt;/p&gt;&lt;p&gt;Your VP will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 21 days.&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown for 1 Day&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table24hrs}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody30days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 30 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 30 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table30days}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody5days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The following units have been identified as &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; from a Callback closeout for &amp;gt;= 5 days.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your RGM &amp;amp; RFOM will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 14 days.&lt;/p&gt;&lt;p&gt;Your VP will receive an email of all units on this list that have been &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 21 days.&amp;nbsp;&lt;/p&gt;&lt;p&gt;A list of units left &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shutdown&lt;/span&gt;&quot; for &amp;gt;= 30 days will be emailed to the President of Otis North America.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Units Left Shutdown Over 5 Days&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!table5days}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alert14days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for more than 14 days</stringValue>
        </value>
    </variables>
    <variables>
        <name>Alert21days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for more than 21 days</stringValue>
        </value>
    </variables>
    <variables>
        <name>Alert24hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for 1 Day</stringValue>
        </value>
    </variables>
    <variables>
        <name>Alert30days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for more than 30 days</stringValue>
        </value>
    </variables>
    <variables>
        <name>Alert48hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for more than 2 days</stringValue>
        </value>
    </variables>
    <variables>
        <name>Alert5days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ALERT: Units Left &quot;Shutdown&quot; for more than 5days.</stringValue>
        </value>
    </variables>
    <variables>
        <name>BMEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BMNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection14days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collection21days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collection24hrs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collection30days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collection48hrs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collection5days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>FEMails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FENames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PresidentEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalRFOMMails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalRFOMNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalVPEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalVPNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RGMMails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RGMNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>sfglobaldevhub@otis.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>storeOfficeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubRegionalFOMEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubRegionalFOMNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupervisorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>table14days_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table14days_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table21days_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table21days_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table24hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table30days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table48hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>table5days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;width:100%&quot;&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns14days_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Sub Regional FOM&lt;/font&gt;             &lt;/th&gt;  &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Branch Manager&lt;/font&gt;             &lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns14days_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Field Enginner&lt;/font&gt;             &lt;/th&gt;  &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Branch Manager&lt;/font&gt;             &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns21days_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Regional RFOM&lt;/font&gt;             &lt;/th&gt;  &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Sub Regional FOM&lt;/font&gt;             &lt;/th&gt;&lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns21days_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;RGM&lt;/font&gt;             &lt;/th&gt;  &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Field Enginner&lt;/font&gt;             &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns24hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Mechanic &lt;/font&gt;             &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns30days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Regional VP&lt;/font&gt;             &lt;/th&gt;  &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns48hrs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Supervisor&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Mechanic &lt;/font&gt;             &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>tableColumns5days</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;tr bgcolor=&quot;yellow&quot;  &gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Days OOS&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Building&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Unit&lt;/font&gt;             &lt;/th&gt; &lt;th&gt;                &lt;font color = &quot;black&quot;&gt;Shutdown&lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Branch Manager &lt;/font&gt;             &lt;/th&gt; &lt;th &gt;                &lt;font color = &quot;black&quot;&gt;Supervisor &lt;/font&gt;             &lt;/th&gt; &lt;/tr&gt;</stringValue>
        </value>
    </variables>
</Flow>
