modules/fs/main/default/flows/Subflow_Validate_WO_System_Reason_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_WO_system_reason</name>
        <label>Check WO system reason</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Wo_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_Next_Action_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo.Fixed_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Wo</targetReference>
            </connector>
            <label>Update to Next Action Required</label>
        </rules>
        <rules>
            <name>Open_order_Field_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo.Fixed_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Wo_1</targetReference>
            </connector>
            <label>Open order Field Closure</label>
        </rules>
        <rules>
            <name>Actual_Duration_Inadequate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointment.ActualEndTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>serviceAppointment.AppxSAEndTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Wo_4</targetReference>
            </connector>
            <label>Actual Duration Inadequate</label>
        </rules>
    </decisions>
    <description>Removed references of WO.Total Woli with checked Review Field - 1 July 24</description>
    <environments>Default</environments>
    <interviewLabel>Subflow: Validate WO System Reason and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Validate WO System Reason and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Wo</name>
        <label>Get Wo</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_system_reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointment.WorkOrder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Wo</name>
        <label>Update Wo</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Next Action Required</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wo_1</name>
        <label>Update Wo</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Open Order Field Closure</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wo_4</name>
        <label>Update Wo</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Actual Duration Inadequate</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Wo_5</name>
        <label>Update Wo</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Wo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>serviceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
