modules/fs/main/default/flows/Time_Sheet_Entry_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Multiplier_value_for_other_multiplier_Type</name>
        <label>Assign Multiplier value for other multiplier Type</label>
        <locationX>1106</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>multiplierfornewTSE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiplier_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Multiplier_value_for_Reg</name>
        <label>Assign Multiplier value for Reg</label>
        <locationX>842</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>multiplierfornewTSE</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_and_End_Date</name>
        <label>Assign Start and End Date</label>
        <locationX>1238</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartTimeForSTSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndTimeForSTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_the_Start_Time_of_the_TSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_temp_variables</name>
        <label>Assign temp variables</label>
        <locationX>2272</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>tempDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTSE.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempstarttime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTSE.StartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_TSE_createddate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_TSE_multiplier_Value</name>
        <label>Assign update TSE multiplier Value</label>
        <locationX>2690</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UpdateTSEMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>errorMessage3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For Reg, Multiplier value cannot be other than 1.0 </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Time_Sheets_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assignment 5</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>errorMessage5</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For OT, Multiplier value cannot be 1.0 </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Time_Sheets_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_9</name>
        <label>Assignment 9</label>
        <locationX>2063</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>newdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRecordData.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>minStarttime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRecordData.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeRecordData.StartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_update_TSE_multiplier_Value</name>
        <label>Copy 1 of Assign update TSE multiplier Value</label>
        <locationX>2954</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UpdateTSEMultiplier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiplier_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_createddate</name>
        <label>Copy 1 of Copy 1 of createddate</label>
        <locationX>2052</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>maxStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempstarttime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_createddate</name>
        <label>Copy 1 of createddate</label>
        <locationX>1788</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>minStarttime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempstarttime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_1</name>
        <label>Error Message 1</label>
        <locationX>1370</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>errorMessage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start Time of the new TSE should be greater than the start time of last timesheet entry of the day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_2</name>
        <label>Error Message 2</label>
        <locationX>1634</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start time of the new TSE should be Less than the start time of First TSE of the day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_4</name>
        <label>Error Message 4</label>
        <locationX>578</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>errorMessage4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date should be same as selected Time Sheet Entry Date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Time_Sheet_Entry</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FirstValue</name>
        <choiceText>1.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>FourthValue</name>
        <choiceText>2.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>OT</name>
        <choiceText>OT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reg</name>
        <choiceText>Reg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reg</stringValue>
        </value>
    </choices>
    <choices>
        <name>SecondValue</name>
        <choiceText>1.5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>ThirdValue</name>
        <choiceText>1.7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.7</stringValue>
        </value>
    </choices>
    <choices>
        <name>TimeRecordDataMultilierValues</name>
        <choiceText>{!TimeRecordData.Multiplier_Values__c}</choiceText>
        <dataType>Number</dataType>
        <value>
            <elementReference>TimeRecordData.Multiplier_Values__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>check_min_start_time</name>
        <label>check min start time</label>
        <locationX>2052</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>loop_over_all_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_minstartime_is_lessthan_starttime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>minStarttime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>tempstarttime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_createddate</targetReference>
            </connector>
            <label>if minstartime is lessthan starttime</label>
        </rules>
        <rules>
            <name>if_maxstartime_is_greaterthan_starttime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>maxStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>tempstarttime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_createddate</targetReference>
            </connector>
            <label>if maxstartime is greaterthan starttime</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Multiplier_Type</name>
        <label>check Multiplier Type</label>
        <locationX>974</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Create_Time_Sheet_Entrys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Reg_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiplier_Types_TSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Multiplier_value_for_Reg</targetReference>
            </connector>
            <label>If Reg is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_TSE_createddate</name>
        <label>check TSE createddate</label>
        <locationX>2272</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>loop_over_all_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_createddate_of_TSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_min_start_time</targetReference>
            </connector>
            <label>check createddate of TSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Split_TSE</name>
        <label>Checking Split TSE</label>
        <locationX>2442</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_check_Multiplier_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Split_TSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_9</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_Date</name>
        <label>Checking the Date</label>
        <locationX>1700</locationX>
        <locationY>2330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Checking_the_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>minStarttime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>maxStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Sheet_Entry</targetReference>
            </connector>
            <label>Outcome 1 of Checking the Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_Multiplier_Value</name>
        <label>Checking the Multiplier Value</label>
        <locationX>1246</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Checking_Split_TSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_Multiplier_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiplier_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reg</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiplier_Values</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiplier_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>Checking the Multiplier Type</label>
        </rules>
        <rules>
            <name>Checking_the_Multiplier_Type_is_OT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiplier_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiplier_Values</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Multiplier_Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_5</targetReference>
            </connector>
            <label>Checking the Multiplier Type is OT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_the_Start_Time_of_the_TSE</name>
        <label>Checking the Start Time of the TSE</label>
        <locationX>1238</locationX>
        <locationY>2654</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Should_be_same_as_Selected_TSE_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newdate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newdate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_4</targetReference>
            </connector>
            <label>Start Date Should be same as Selected TSE Date</label>
        </rules>
        <rules>
            <name>if_anyone_condition_is_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>minStarttime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>maxStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Multiplier_Type</targetReference>
            </connector>
            <label>if anyone condition is true</label>
        </rules>
        <rules>
            <name>Latest_TSE_Start_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>minStarttime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_1</targetReference>
            </connector>
            <label>Latest TSE Start Time</label>
        </rules>
        <rules>
            <name>StarT_t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>maxStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartTimeForSTSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_2</targetReference>
            </connector>
            <label>First Time Sheet Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_Multiplier_Type</name>
        <label>Copy 1 of check Multiplier Type</label>
        <locationX>2822</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_update_TSE_multiplier_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Reg_is_selected_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiplier_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_TSE_multiplier_Value</targetReference>
            </connector>
            <label>If Reg is selected for Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_7</name>
        <label>Decision 7</label>
        <locationX>2063</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSheetEntryRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_all_records</targetReference>
            </connector>
            <label>Outcome 1 of Decision 7</label>
        </rules>
    </decisions>
    <description>This flow is part of these US #925621, #999267, which is used to update and create Time Sheet Entries.</description>
    <dynamicChoiceSets>
        <name>mp</name>
        <collectionReference>metaDataValue</collectionReference>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplerType</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeOfMultiplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meta_Data</elementReference>
            </value>
        </filters>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplerTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeOfMultiplier__c</picklistField>
        <picklistObject>OTIS_Pay_Multiplier_Setting__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierChoiceSet</name>
        <collectionReference>metaDataValue</collectionReference>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierData</name>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OfficeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.BranchCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.FS_UnitCompany__c</elementReference>
            </value>
        </filters>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>metaDataValues.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierRecord</name>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OfficeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.BranchCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.FS_UnitCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TimeEntryType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeRecordData.Time_Entry_Type__c</elementReference>
            </value>
        </filters>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <sortField>MultiplierValue__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierRecordNew</name>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.FS_UnitCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OfficeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.BranchCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TimeEntryType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Time_Sheet_Entry_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeOfMultiplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Multiplier_Types_TSE</elementReference>
            </value>
        </filters>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <sortField>MultiplierValue__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>multiplierValue</name>
        <collectionReference>metaDataValue</collectionReference>
        <dataType>Number</dataType>
        <displayField>MultiplierValue__c</displayField>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <valueField>MultiplierValue__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>timeSheetEntrySet</name>
        <dataType>String</dataType>
        <displayField>TimeSheetEntryNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <sortField>TimeSheetEntryNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>TimeSheetEntryNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeSheetEntryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Entry_Type__c</picklistField>
        <picklistObject>TimeSheetEntry</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Time Sheet Entry Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Sheet Entry Update</label>
    <loops>
        <name>loop_over_all_records</name>
        <label>loop over all records</label>
        <locationX>1700</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>loopTSE</assignNextValueToReference>
        <collectionReference>TimeSheetEntryRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_temp_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_the_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Time_Sheet_Entry</name>
        <label>Copy 1 of Create Time Sheet Entry</label>
        <locationX>974</locationX>
        <locationY>3170</locationY>
        <assignRecordIdToReference>SplitTSEID</assignRecordIdToReference>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>EndTimeForSTSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <elementReference>multiplierfornewTSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <elementReference>Multiplier_Types_TSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>serviceAppointmentData.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>StartTimeForSTSE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>Timesheet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Entry_Type__c</field>
            <value>
                <elementReference>Time_Sheet_Entry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>ServiceAppointmentRecord.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Meta_Data</name>
        <label>Get Meta Data</label>
        <locationX>1246</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Time_Sheets_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OfficeCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.BranchCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitRecordData.FS_UnitCompany__c</elementReference>
            </value>
        </filters>
        <object>OTIS_Pay_Multiplier_Setting__mdt</object>
        <outputReference>metaDataValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TypeOfMultiplier__c</queriedFields>
        <queriedFields>MultiplierValue__c</queriedFields>
        <queriedFields>TimeEntryType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_of_Time_Sheet_Entry</name>
        <label>Get Record of Time Sheet Entry</label>
        <locationX>1246</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetEntryNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Time_Sheet_Entry_Records</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>Multiplier__c</queriedFields>
        <queriedFields>Multiplier_Values__c</queriedFields>
        <queriedFields>TimeSheetEntryNumber</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <queriedFields>Time_Entry_Type__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Record</name>
        <label>Get Service Appointment Record</label>
        <locationX>1246</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Entry_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>AssignedServiceResource__c</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>1246</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeRecordData.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceAppointmentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_sheetId_from_Assigned_Resource</name>
        <label>Get Time sheetId from Assigned Resource</label>
        <locationX>1246</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_the_Time_Sheet_Entry_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.AssignedServiceResource__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>Timesheet</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Entry_Records</name>
        <label>Get Timesheet Entry Records</label>
        <locationX>1246</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_sheetId_from_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentRecord.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>TimeSheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeSheetEntryNumber</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>Multiplier_Values__c</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <queriedFields>Multiplier__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Record</name>
        <label>Get Unit Record</label>
        <locationX>1246</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meta_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentData.Unit__c</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>unitRecordData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BranchCode__c</queriedFields>
        <queriedFields>FS_UnitCompany__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Time_Sheet_Entry</name>
        <label>Update the Time Sheet Entry</label>
        <locationX>2822</locationX>
        <locationY>1622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetEntryNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Time_Sheet_Entry_Records</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimeRecordData.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier_Values__c</field>
            <value>
                <elementReference>UpdateTSEMultiplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiplier__c</field>
            <value>
                <elementReference>Multiplier_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <screens>
        <name>Create_Time_Sheet_Entry</name>
        <label>Create Time Sheet Entry</label>
        <locationX>1238</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Start_and_End_Date</targetReference>
        </connector>
        <fields>
            <name>CreateTimeSheetEntryForSTE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Create Time Sheet Entry &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!errorMessage1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessages</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!ErrorMessage2}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errMsg4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!errorMessage4}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_serviceAppointment</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Service Appointment:&lt;/strong&gt; {!serviceAppointmentData.AppointmentNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Time_Sheet_Entry_Type</name>
            <choiceReferences>TimeSheetEntryType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Sheet Entry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StartTimeForSTSE</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EndTimeForSTSE</name>
            <dataType>DateTime</dataType>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Multiplier_Types_TSE</name>
            <choiceReferences>multiplerTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multiplier Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Time_Sheet_Entrys</name>
        <label>Create Time Sheet Entry</label>
        <locationX>1106</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Multiplier_value_for_other_multiplier_Type</targetReference>
        </connector>
        <fields>
            <name>Multiplier_Value</name>
            <choiceReferences>multiplierRecordNew</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Multiplier Value</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_the_Time_Sheet_Entry_Records</name>
        <label>Display the Time Sheet Entry Records</label>
        <locationX>1246</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_of_Time_Sheet_Entry</targetReference>
        </connector>
        <fields>
            <name>Time_Sheet_Entry_Records</name>
            <choiceReferences>timeSheetEntrySet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Sheet Entry Records</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Time_Sheets_Entry</name>
        <label>Update Time Sheet Entry</label>
        <locationX>1246</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checking_the_Multiplier_Value</targetReference>
        </connector>
        <fields>
            <name>UpdateTSE</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Update Time Sheet Entry&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>serviceAppointment</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Service Appointment:&lt;/strong&gt; {!serviceAppointmentData.AppointmentNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TimeSheetEntryNumber</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!TimeRecordData.TimeSheetEntryNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>timeSheetEntryTime</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Time Sheet Entry Type: &lt;/strong&gt;{!TimeRecordData.Time_Entry_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TimeRecordData.StartTime</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>TimeRecordData.EndTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Multiplier_Type</name>
            <choiceReferences>multiplerTypes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TimeRecordData.Multiplier__c</elementReference>
            </defaultValue>
            <fieldText>Multiplier Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Multiplier_Values</name>
            <choiceReferences>multiplierRecord</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Multiplier Values</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Split_TSE</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Split TSE</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!errorMessage3}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessageForOT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!errorMessage5}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1120</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstTSE</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstTSEofTheDay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>getTimeSheetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestTimeSheetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>latestTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>loopTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>maxStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metaData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTIS_Pay_Multiplier_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>metaDataValue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTIS_Pay_Multiplier_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>metaDataValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OTIS_Pay_Multiplier_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>minStarttime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multiplierfornewTSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>newdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceRecordData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SplitTSEID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempstarttime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>Timesheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TimeSheetEntryTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TSE1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSE2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSECreatedDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>unitRecordData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UpdateTSEMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
