modules/fs/main/default/flows/Timesheet_Adjustment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_AutoProcessTimeSheetBatch_Class_Action_1</name>
        <label>Call AutoProcessTimeSheetBatch Class Action 1</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>AutoProcessTimeSheetBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isScheduleRun</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleTime</name>
            <value>
                <elementReference>Select_Schedule_Date_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeSheetStatus</name>
            <value>
                <elementReference>Select_Job</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeZoneCountry</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoProcessTimeSheetBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_UTC_Time_Value</name>
        <label>Get UTC Time Value</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <actionName>FSLUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NAA_date</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dt</name>
            <value>
                <elementReference>Original_Start_Date_Tentative</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSLUtility</nameSegment>
        <outputParameters>
            <assignToReference>gmtOriginalStartDate</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_batch_for_current_week_holiday_record</name>
        <label>Schedule batch for current week holiday record</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <actionName>TimesheetModificationDataBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Schedule_batch_for_Next_Week_holiday_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <elementReference>f_batchString1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isScheduleRun</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleTime</name>
            <value>
                <elementReference>f_scheduleStartDateBatch1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimesheetModificationDataBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_batch_for_current_week_holiday_record_America</name>
        <label>Schedule batch for current week holiday record - America</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <actionName>TimesheetModificationDataBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Schedule_batch_for_Next_Week_holiday_record_America</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_US1</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <elementReference>f_batchString1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isScheduleRun</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleTime</name>
            <value>
                <elementReference>f_startDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimesheetModificationDataBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_batch_for_Next_Week_holiday_record</name>
        <label>Schedule batch for Next Week holiday record</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <actionName>TimesheetModificationDataBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_screen_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <elementReference>f_batchString2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isScheduleRun</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleTime</name>
            <value>
                <elementReference>f_gmtOriginalEndDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimesheetModificationDataBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_batch_for_Next_Week_holiday_record_America</name>
        <label>Schedule batch for Next Week holiday record - America</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <actionName>TimesheetModificationDataBatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_screen_message_US</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_US</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>batch</name>
            <value>
                <elementReference>f_batchString2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isScheduleRun</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleTime</name>
            <value>
                <elementReference>f_startDateNextWeek</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimesheetModificationDataBatch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_1_for_UTC_date</name>
        <label>Add +1 for UTC date</label>
        <locationX>160</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>gmtOriginalStartDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provide_Adjusted_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Week_Start_EMEA</name>
        <label>Assign Week Start EMEA</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>weekStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provide_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Week_Start_NAA</name>
        <label>Assign Week Start NAA</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>weekStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provide_Start_Date</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>America</name>
        <choiceText>America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>America</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe</name>
        <choiceText>Europe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </choices>
    <choices>
        <name>TimesheetChoice1</name>
        <choiceText>Adjust Timesheet and Expense Report End Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modify_Timesheet</stringValue>
        </value>
    </choices>
    <choices>
        <name>TimesheetChoice2</name>
        <choiceText>Schedule Auto-Submit/Approve Timesheet and Expense Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Run/Schedule Timesheet Submission/Approval Batches</stringValue>
        </value>
    </choices>
    <decisions>
        <name>America_Europe</name>
        <label>America / Europe?</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Schedule_batch_for_current_week_holiday_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Europe</defaultConnectorLabel>
        <rules>
            <name>Americe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>weekStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_batch_for_current_week_holiday_record_America</targetReference>
            </connector>
            <label>Americe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_selected_Choice</name>
        <label>Check selected Choice</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjust_Timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TimesheetChoice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_or_NAA</targetReference>
            </connector>
            <label>Adjust Timesheet</label>
        </rules>
        <rules>
            <name>Run_Schedule_Timesheet_Submission_Approval_Batches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TimesheetChoice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Country_and_DateTime</targetReference>
            </connector>
            <label>Run/Schedule Timesheet Submission/Approval Batches</label>
        </rules>
    </decisions>
    <decisions>
        <name>EMEA_or_NAA</name>
        <label>EMEA or NAA</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Week_Start_EMEA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EMEA</defaultConnectorLabel>
        <rules>
            <name>NAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>America</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Week_Start_NAA</targetReference>
            </connector>
            <label>NAA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_tentative_start_date_friday</name>
        <label>Is tentative start date friday?</label>
        <locationX>292</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Provide_Adjusted_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Friday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_TentativeStartDateFriday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_for_UTC_date</targetReference>
            </connector>
            <label>Friday</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAA_date</name>
        <label>NAA?</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Provide_Adjusted_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAA_desc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>weekStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_tentative_start_date_friday</targetReference>
            </connector>
            <label>NAA</label>
        </rules>
    </decisions>
    <description>Timesheet adjustment for EMEA</description>
    <environments>Default</environments>
    <formulas>
        <name>f_adjustedStartDateNextWeek</name>
        <dataType>Date</dataType>
        <expression>{!Adjusted_End_Date} + 1</expression>
    </formulas>
    <formulas>
        <name>f_batchString1</name>
        <dataType>String</dataType>
        <expression>TEXT({!f_scheduleStartDateBatch1})</expression>
    </formulas>
    <formulas>
        <name>f_batchString2</name>
        <dataType>String</dataType>
        <expression>TEXT({!f_gmtOriginalEndDate})</expression>
    </formulas>
    <formulas>
        <name>f_endDateNextWeek</name>
        <dataType>Date</dataType>
        <expression>{!f_startDateNextWeek}+6</expression>
    </formulas>
    <formulas>
        <name>f_gmtOriginalEndDate</name>
        <dataType>Date</dataType>
        <expression>{!f_startDate} + 6</expression>
    </formulas>
    <formulas>
        <name>f_scheduleStartDateBatch1</name>
        <dataType>Date</dataType>
        <expression>{!f_startDate} - 1</expression>
    </formulas>
    <formulas>
        <name>f_startDate</name>
        <dataType>Date</dataType>
        <expression>if({!weekStart} == 6,
				if(WEEKDAY({!gmtOriginalStartDate}) == 1,{!gmtOriginalStartDate}-2,
					if(WEEKDAY({!gmtOriginalStartDate})==2,{!gmtOriginalStartDate}-3,
						if(WEEKDAY({!gmtOriginalStartDate})==3,{!gmtOriginalStartDate}-4,
							if(WEEKDAY({!gmtOriginalStartDate})==4,{!gmtOriginalStartDate}-5,
								if(WEEKDAY({!gmtOriginalStartDate})==5,{!gmtOriginalStartDate}-6,
									if(WEEKDAY({!gmtOriginalStartDate})==7,{!gmtOriginalStartDate}-1,	{!gmtOriginalStartDate})))))),
				if(WEEKDAY({!gmtOriginalStartDate}) == 1,{!gmtOriginalStartDate}-6,
					if(WEEKDAY({!gmtOriginalStartDate})==3,{!gmtOriginalStartDate}-1,
						if(WEEKDAY({!gmtOriginalStartDate})==4,{!gmtOriginalStartDate}-2,
							if(WEEKDAY({!gmtOriginalStartDate})==5,{!gmtOriginalStartDate}-3,
								if(WEEKDAY({!gmtOriginalStartDate})==6,{!gmtOriginalStartDate}-4,
									if(WEEKDAY({!gmtOriginalStartDate})==7,{!gmtOriginalStartDate}-5, {!gmtOriginalStartDate})))))))</expression>
    </formulas>
    <formulas>
        <name>f_startDateNextWeek</name>
        <dataType>Date</dataType>
        <expression>{!f_startDate} + 7</expression>
    </formulas>
    <formulas>
        <name>f_TentativeStartDateFriday</name>
        <dataType>Boolean</dataType>
        <expression>if(WEEKDAY({!Original_Start_Date_Tentative})==6, True, False)</expression>
    </formulas>
    <interviewLabel>Timesheet Adjustment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Adjustment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Holiday_Adjustment_Current_week</name>
        <label>Create Holiday Adjustment Current week</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Create_Holiday_Adjustment_Next_Week</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjusted_End_Date__c</field>
            <value>
                <elementReference>Adjusted_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adjusted_Start_Date__c</field>
            <value>
                <elementReference>f_startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_End_Date__c</field>
            <value>
                <elementReference>f_gmtOriginalEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Start_Date__c</field>
            <value>
                <elementReference>f_startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Holiday_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Holiday_Adjustment_Next_Week</name>
        <label>Create Holiday Adjustment Next Week</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>America_Europe</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjusted_Start_Date__c</field>
            <value>
                <elementReference>f_adjustedStartDateNextWeek</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_End_Date__c</field>
            <value>
                <elementReference>f_endDateNextWeek</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Start_Date__c</field>
            <value>
                <elementReference>f_startDateNextWeek</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Holiday_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Choose_Country_and_DateTime</name>
        <label>Choose Country and DateTime</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_AutoProcessTimeSheetBatch_Class_Action_1</targetReference>
        </connector>
        <fields>
            <name>Select_Schedule_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Select Schedule Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date time should be in future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Select_Schedule_Date_Time} &gt; NOW()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Select_Job</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Submit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Job</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_2</name>
        <label>Fault Screen 2</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_US</name>
        <label>Fault Screen - US</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_errorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_US1</name>
        <label>Fault Screen-US</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errorScreen</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Adjusted_End_Date</name>
        <label>Provide Adjusted End Date</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Holiday_Adjustment_Current_week</targetReference>
        </connector>
        <fields>
            <name>displayWorkWeek</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Original Start Date: &lt;/strong&gt;{!f_startDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Original End Date: &lt;/strong&gt;{!f_gmtOriginalEndDate}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Adjusted_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Adjusted End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Selected date is not within the work week.&lt;/p&gt;</errorMessage>
                <formulaExpression>if({!Adjusted_End_Date}&gt;{!f_startDate} &amp;&amp; {!Adjusted_End_Date}&lt;{!f_gmtOriginalEndDate}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Start_Date</name>
        <label>Provide Start Date</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_UTC_Time_Value</targetReference>
        </connector>
        <fields>
            <name>Original_Start_Date_Tentative</name>
            <dataType>Date</dataType>
            <fieldText>Original Start Date (Tentative)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select future week date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Original_Start_Date_Tentative} &gt; Today()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_success_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Batch Successfully Scheduled.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen_message</name>
        <label>Success screen message</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Display_success_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Batch Successfully Scheduled.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen_message_US</name>
        <label>Success screen message - US</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Display_success_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Batch Successfully Scheduled.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheet_Update</name>
        <label>Timesheet Update</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_selected_Choice</targetReference>
        </connector>
        <fields>
            <name>Select_Actions</name>
            <choiceReferences>TimesheetChoice1</choiceReferences>
            <choiceReferences>TimesheetChoice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>Europe</choiceReferences>
            <choiceReferences>America</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Timesheet_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>choice2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Run/Schedule Timesheet Submission/Approval Batches</stringValue>
        </value>
    </variables>
    <variables>
        <name>gmtOriginalStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>weekStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
