modules/fs/main/default/flows/Unit_Restart_Reason_FSL_Mobile_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Shutdown_Data</name>
        <label>Update Shutdown Data</label>
        <locationX>252</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>LatestUnitShutdownLog.Projected_Restart_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LatestUnitShutdownLog.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Restart_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shutdown_Restart_Time</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Shutdown_log_present</name>
        <label>Check if Shutdown log present</label>
        <locationX>232</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>No_Logs2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shutdown_log_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LatestUnitShutdownLog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shutdown_Data</targetReference>
            </connector>
            <label>Shutdown log exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_The_Status</name>
        <label>Check The Status</label>
        <locationX>451</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Unit_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shutdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen</targetReference>
            </connector>
            <label>check if the status &apos;Shutdown&apos;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shutdown {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Restart Reason FSL Mobile Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_latest_Unit_Shutdown_log</name>
        <label>get latest Unit Shutdown log</label>
        <locationX>239</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Shutdown_log_present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssetDowntimePeriod</object>
        <outputReference>LatestUnitShutdownLog</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndTime</queriedFields>
        <queriedFields>Projected_Restart_Reason__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Data</name>
        <label>Get Current Unit Data</label>
        <locationX>454</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_The_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>tes2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>OpStatus</assignToReference>
            <field>OperationalStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shutdown_Restart_Time</name>
        <label>Update Shutdown Restart Time</label>
        <locationX>528</locationX>
        <locationY>730</locationY>
        <faultConnector>
            <targetReference>erriorr</targetReference>
        </faultConnector>
        <inputReference>LatestUnitShutdownLog</inputReference>
    </recordUpdates>
    <screens>
        <name>erriorr</name>
        <label>erriorr</label>
        <locationX>529</locationX>
        <locationY>912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errortrue</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>61</locationX>
        <locationY>435</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultComponent</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>footer</name>
        <label>footer</label>
        <locationX>740</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Unit is &apos;In Service&apos;. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Logs2</name>
        <label>No Logs2</label>
        <locationX>64</locationX>
        <locationY>630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Logs</name>
            <fieldText>&lt;p&gt;No Shutdown Log Exists for this Unit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>464</locationX>
        <locationY>434</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_latest_Unit_Shutdown_log</targetReference>
        </connector>
        <fields>
            <name>Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Would you like to provide a Projected restart date?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Restart_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Restart Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Give a Reason&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>tes2</name>
        <label>Error2</label>
        <locationX>240</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tes</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Unit_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LatestUnitShutdownLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssetDowntimePeriod</objectType>
    </variables>
    <variables>
        <name>OpStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
