modules/fs/main/default/flows/Unit_Flow_to_send_Cancelation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_All_Recipients</name>
        <label>Send Email to All Recipients</label>
        <locationX>407</locationX>
        <locationY>2363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Track contract cancelled Units</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Email_to_List</name>
        <label>Assign Email to List</label>
        <locationX>627</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users_to_get_email.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users_to_get_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reciepient_Email</name>
        <label>Assign Reciepient Email</label>
        <locationX>539</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Branch__r.BranchManager__r.PrimaryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Public_Group_to_add_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Public_Group_Id</name>
        <label>Assign the Public Group Id</label>
        <locationX>627</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>PublicGroupId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Company_Wide_Settings.FS_Commission_Team_Public_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Company_Wide_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID</name>
        <label>Assign User ID</label>
        <locationX>627</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Public_Group_to_add_users.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Public_Group_to_add_users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Company_Wide_Setting</name>
        <label>Check Company Wide Setting</label>
        <locationX>759</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Company_Wide_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_UnitCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Company_Wide_Settings.Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Public_Group_Id</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition_Check</name>
        <label>Condition Check</label>
        <locationX>737</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__r.FSLEnabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metadata_for_Commission_Team_Email</targetReference>
            </connector>
            <label>Unit Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsBypassEnabled</name>
        <label>Is Bypass Enabled?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Condition_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_BypassEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS_KillSwitch__c.DisableFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Email</name>
        <label>Null Check For Email</label>
        <locationX>539</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_All_Recipients</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_Unit_Company</name>
        <label>Null Check for Unit Company</label>
        <locationX>913</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_UnitCompany__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Company_Wide_Setting</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Unit Flow to send Cancelation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Flow to send Cancelation Notification</label>
    <loops>
        <name>Loop_Company_Wide_Settings</name>
        <label>Loop Company Wide Settings</label>
        <locationX>539</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Metadata_for_Commission_Team_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_Check_for_Unit_Company</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Group_Member_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Public_Group_to_add_users</name>
        <label>Loop Public Group to add users</label>
        <locationX>539</locationX>
        <locationY>1547</locationY>
        <collectionReference>Get_Group_Member_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users_to_get_email</name>
        <label>Loop Users to get email</label>
        <locationX>539</locationX>
        <locationY>1955</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_For_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Member_Record</name>
        <label>Get Group Member Record</label>
        <locationX>539</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Reciepient_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>PublicGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_for_Commission_Team_Email</name>
        <label>Get Metadata for Commission Team Email</label>
        <locationX>539</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Company_Wide_Settings</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FS_OTISCompanyWideSettings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>539</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users_to_get_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>GroupMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_IsBypassEnabled</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://otisdevelopmentaccount--fsnaadev1.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068DQ000000Rhqe&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TDQ000001YgpD&amp;amp;page=0&amp;amp;d=/a/DQ000000KHg5/yYMI85zP.yFIg7rTDU3MUGZeTiSHT5TbYcwRjB0cSv0&amp;amp;oid=00DDQ0000008gin&amp;amp;dpt=null&amp;amp;viewId=&quot; width=&quot;100&quot; height=&quot;30&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;Greetings!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;Unit &lt;/strong&gt;&lt;a href=&quot;{!recordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; is not under contract.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
