modules/fs/main/default/flows/Unit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>MP_Id_storage</name>
        <label>MP Id storage</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MPIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOver_MA_of_Unit.MaintenancePlanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOver_MA_of_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MP_value_Assignment</name>
        <label>MP value Assignment</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Maintenance_Plan.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Maintenance_Plan.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateStoreSingleVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Maintenance_Plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MPIdStore</name>
        <label>MPIdStore</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MPIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverMA.MaintenancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date_Assignment</name>
        <label>Start Date Assignment</label>
        <locationX>1018</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_MPs.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_MPs.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateStoreSingleVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_MPs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_MPs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Changes_Done_in_Checkboxes</name>
        <label>Check if Changes Done in Checkboxes</label>
        <locationX>2206</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_RebelUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationAlert__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CriticalUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_MissedVisit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_HighFrequencyUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_ProductionUnitMaintenance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_LowUsage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>2206</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Unit_Suspension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Address Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handover_Date_Nullcheck</name>
        <label>Handover Date Nullcheck</label>
        <locationX>1678</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Cancel_Related_WO_and_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Service Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Unit</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Route_Null</name>
        <label>Is Route Null</label>
        <locationX>2646</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Running</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Running1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Running</name>
        <label>Is Running</label>
        <locationX>3042</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit2</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_2_of_Update_Unit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Running1</name>
        <label>Is Running</label>
        <locationX>2250</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Unit</targetReference>
            </connector>
            <label>Running</label>
        </rules>
        <rules>
            <name>Not_Running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Status</targetReference>
            </connector>
            <label>Not Running</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsChangedNewEqippment</name>
        <label>Decision</label>
        <locationX>2206</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Otis_Installation_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTIS Installation Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Future_WO_and_SA</targetReference>
            </connector>
            <label>Otis Installation Unit</label>
        </rules>
        <rules>
            <name>Unit_Handover_but_Stopped_on_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_unit1</targetReference>
            </connector>
            <label>Unit Handover but Stopped on site</label>
        </rules>
        <rules>
            <name>Handover_with_missing_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit</targetReference>
            </connector>
            <label>Handover with missing Route</label>
        </rules>
        <rules>
            <name>NewEquipment_Not_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maintenance_Asset_Of_Unit</targetReference>
            </connector>
            <label>NewEquipment Not changed</label>
        </rules>
        <rules>
            <name>NewEquipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maintenance_Asset</targetReference>
            </connector>
            <label>NewEquipment</label>
        </rules>
        <rules>
            <name>Update_Cancellation_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTIS Installation Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_Date_Nullcheck</targetReference>
            </connector>
            <label>Update- Unit Cancellation date</label>
        </rules>
        <rules>
            <name>Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Route_Null</targetReference>
            </connector>
            <label>Handover</label>
        </rules>
        <rules>
            <name>Free_NIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Unit</targetReference>
            </connector>
            <label>Free/NIS</label>
        </rules>
        <rules>
            <name>Status_New_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New/Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Type_Update</targetReference>
            </connector>
            <label>Status New/Prospect</label>
        </rules>
        <rules>
            <name>Status_New_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Type_Update1</targetReference>
            </connector>
            <label>Status New Equipment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Suspension</name>
        <label>Unit Suspension</label>
        <locationX>2206</locationX>
        <locationY>2147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspend_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspend_The_Unit</targetReference>
            </connector>
            <label>Suspend Unit</label>
        </rules>
        <rules>
            <name>Valid_Unit</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_the_Suspended_Unit</targetReference>
            </connector>
            <label>Valid Unit</label>
        </rules>
    </decisions>
    <description>915792- Updated ( Added  unit in status &quot;OTIS Installation Unit&quot; check for  936080 )
935198 - Updated (Added new decision &quot;OTIS Installation Unit&quot; )</description>
    <environments>Default</environments>
    <formulas>
        <name>AddressAssignment</name>
        <dataType>String</dataType>
        <expression>IF( ISCHANGED({!$Record.Country}), {!$Record.Street} &amp; &quot;, &quot; &amp;{!$Record.City} &amp; &quot;, &quot; &amp;{!$Record.State} &amp; &quot;, &quot;&amp;{!$Record.PostalCode} &amp; &quot;, &quot;  &amp;{!$Record.Country},&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>IsNeww</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NextDayCaluclation</name>
        <dataType>Date</dataType>
        <expression>{!Loop_for_Maintenance_Plan.EndDate}+1</expression>
    </formulas>
    <interviewLabel>Unit Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Flow</label>
    <loops>
        <name>Loop_for_Maintenance_Plan</name>
        <label>Loop for Maintenance Plan</label>
        <locationX>1282</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Req_MP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MP_value_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_MPs</name>
        <label>Loop Over MPs</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Maintenance_Plan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MP_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOver_MA_of_Unit</name>
        <label>LoopOver MA of Unit</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Maintenance_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MP_Id_storage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Req_MP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverMA</name>
        <label>LoopOverMA</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Maintenance_Asset_Of_Unit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MPIdStore</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StartDateLessthanCurrentDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Maintenance_Asset</name>
        <label>Get Maintenance Asset</label>
        <locationX>1282</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOver_MA_of_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Asset_Of_Unit</name>
        <label>Get Maintenance Asset Of Unit</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverMA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Plan</name>
        <label>Get Maintenance Plan</label>
        <locationX>930</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_MPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Req_MP</name>
        <label>Get Req MP</label>
        <locationX>1282</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Copy_1_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Field Status = NIS/Free  AND Status Reason = Free period started</description>
        <name>Copy_2_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>3570</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Free period started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Field Status = New Equipment AND Status Reason = New equipment unit pending Handover</description>
        <name>Copy_3_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Cancel_Related_WO_and_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>New Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>New equipment unit pending Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Process_Type_Update</name>
        <label>Process Type Update</label>
        <locationX>3834</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>Capture Acquisition</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Process_Type_Update1</name>
        <label>Process Type Update</label>
        <locationX>4098</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>New Unit Installation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>StartDateLessthanCurrentDate</name>
        <label>StartDateLessthanCurrentDate</label>
        <locationX>930</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Suspend_The_Unit</name>
        <label>Suspend The Unit</label>
        <locationX>1942</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>2074</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Unit_Suspension</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Text__c</field>
            <value>
                <elementReference>AddressAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Update_Field_Status</name>
        <label>Update Field Status</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MP</name>
        <label>Update MP</label>
        <locationX>1282</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputReference>MPRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MP_records</name>
        <label>Update MP records</label>
        <locationX>930</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputReference>MPRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Status Reason = Handover with missing Route</description>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Handover with missing Route</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Handover but Stopped onsite</description>
        <name>Update_unit1</name>
        <label>Update unit</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Unit Handover but Stopped onsite</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Update_Unit2</name>
        <label>Update Unit</label>
        <locationX>2778</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>2074</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.Work_Order_Maintenance_Record_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
        </inputAssignments>
        <inputReference>$Record.WorkOrders</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Valid_the_Suspended_Unit</name>
        <label>Valid the Suspended Unit</label>
        <locationX>2206</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2080</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsChangedNewEqippment</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cancel_Future_WO_and_SA</name>
        <label>Cancel Future WO and SA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <flowName>Cancel_Future_WO_SA_related_to_Service_Contract_and_Mplan</flowName>
        <inputAssignments>
            <name>ServiceContractId</name>
            <value>
                <elementReference>$Record.FS_CurrentServiceContract__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cancel_Related_WO_and_SA</name>
        <label>Cancel Related WO and SA</label>
        <locationX>1678</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <flowName>Cancel_Future_WO_SA_related_to_Service_Contract_and_Mplan</flowName>
        <inputAssignments>
            <name>ServiceContractId</name>
            <value>
                <elementReference>$Record.FS_CurrentServiceContract__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Collection_Filter_Over_MP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>EndDatestore</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDateStoreSingleVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPIDDs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MPIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>StartDateStore</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
