modules/fs/main/default/flows/Unit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_notification_to_mechanic</name>
        <label>send notification to mechanic</label>
        <locationX>4538</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Validate_Supervisor_emailid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Mechanic</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} Cancellation  Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MessagingTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_notification_to_supervisor</name>
        <label>send notification to supervisor</label>
        <locationX>4538</locationX>
        <locationY>1487</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_custom_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Supervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} Cancellation  Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MessagingTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assigning_message_template_and_channel</name>
        <label>Assigning message template and channel</label>
        <locationX>4670</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>MessagingTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} is not under contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervisor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Service_Resource.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mechanic</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Mechanic.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Mechanic_emailid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MP_Id_storage</name>
        <label>MP Id storage</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MPIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOver_MA_of_Unit.MaintenancePlanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOver_MA_of_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MP_value_Assignment</name>
        <label>MP value Assignment</label>
        <locationX>1546</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Maintenance_Plan.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Maintenance_Plan.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateStoreSingleVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Maintenance_Plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MPIdStore</name>
        <label>MPIdStore</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MPIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverMA.MaintenancePlan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Date_Assignment</name>
        <label>Start Date Assignment</label>
        <locationX>1194</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>EndDateStoreSingleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_MPs.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_MPs.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateStoreSingleVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MPRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_MPs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_MPs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>5198</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContractUnitSummaryRecords.FS_SalesContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ContractUnitSummaryRecords.FS_SalesContract__r.StatusReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Record</targetReference>
            </connector>
            <label>Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Handover_is_set</name>
        <label>Check Handover is set</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Handover_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_one</targetReference>
            </connector>
            <label>Handover</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Changes_Done_in_Checkboxes</name>
        <label>Check if Changes Done in Checkboxes</label>
        <locationX>2844</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_RebelUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationAlert__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CriticalUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_MissedVisit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_HighFrequencyUnit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_ProductionUnitMaintenance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_LowUsage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>2844</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Unit_Suspension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Address Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handover_date_Null_check</name>
        <label>Handover date Null check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Cancel_Future_WO_and_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_Two</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handover_Date_Nullcheck</name>
        <label>Handover Date Nullcheck</label>
        <locationX>1854</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Cancel_Related_WO_and_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Service Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Unit</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Route_Null</name>
        <label>Is Route Null</label>
        <locationX>2822</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Running</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Running1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Running</name>
        <label>Is Running</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Records_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit2</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_2_of_Update_Unit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Running1</name>
        <label>Is Running</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Unit</targetReference>
            </connector>
            <label>Running</label>
        </rules>
        <rules>
            <name>Not_Running</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Status</targetReference>
            </connector>
            <label>Not Running</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsChangedNewEqippment</name>
        <label>Decision</label>
        <locationX>2844</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Otis_Installation_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTIS Installation Unit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_date_Null_check</targetReference>
            </connector>
            <label>Otis Installation Unit</label>
        </rules>
        <rules>
            <name>Unit_Handover_but_Stopped_on_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_unit1</targetReference>
            </connector>
            <label>Unit Handover but Stopped on site</label>
        </rules>
        <rules>
            <name>Handover_with_missing_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit</targetReference>
            </connector>
            <label>Handover with missing Route</label>
        </rules>
        <rules>
            <name>NewEquipment_Not_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maintenance_Asset_Of_Unit</targetReference>
            </connector>
            <label>NewEquipment Not changed</label>
        </rules>
        <rules>
            <name>NewEquipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Maintenance_Asset</targetReference>
            </connector>
            <label>NewEquipment</label>
        </rules>
        <rules>
            <name>Update_Cancellation_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Cancellation_Effective_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTIS Installation Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_Date_Nullcheck</targetReference>
            </connector>
            <label>Update- Unit Cancellation date</label>
        </rules>
        <rules>
            <name>Handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Route_Null</targetReference>
            </connector>
            <label>Handover</label>
        </rules>
        <rules>
            <name>Free_NIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RouteName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Handover_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Running</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_CancellationEffectiveDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Unit</targetReference>
            </connector>
            <label>Free/NIS</label>
        </rules>
        <rules>
            <name>Status_New_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New/Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Type_Update</targetReference>
            </connector>
            <label>Status New/Prospect</label>
        </rules>
        <rules>
            <name>Status_New_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNeww</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Type_Update1</targetReference>
            </connector>
            <label>Status New Equipment</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Route</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Created_or_Updated_by_User_Boomi_Integration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Boomi_Integration_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Boomi_Integration_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Boomi_Integration_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Boomi_Integration_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContractUnitSummaryRecords</targetReference>
            </connector>
            <label>Created or Updated by User = Boomi Integration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Suspension</name>
        <label>Unit Suspension</label>
        <locationX>2844</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspend_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspend_The_Unit</targetReference>
            </connector>
            <label>Suspend Unit</label>
        </rules>
        <rules>
            <name>Valid_Unit</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_the_Suspended_Unit</targetReference>
            </connector>
            <label>Valid Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Mechanic_emailid</name>
        <label>Validate Mechanic emailid</label>
        <locationX>4670</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Validate_Supervisor_emailid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_Mechanicemailid_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mechanic.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_notification_to_mechanic</targetReference>
            </connector>
            <label>check if Mechanicemailid is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Supervisor_emailid</name>
        <label>Validate Supervisor emailid</label>
        <locationX>4670</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_Supervisor_email_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Service_Resource.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_notification_to_supervisor</targetReference>
            </connector>
            <label>check if Supervisor email is present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddressAssignment</name>
        <dataType>String</dataType>
        <expression>IF( ISCHANGED({!$Record.Country}), {!$Record.Street} &amp; &quot;, &quot; &amp;{!$Record.City} &amp; &quot;, &quot; &amp;{!$Record.State} &amp; &quot;, &quot;&amp;{!$Record.PostalCode} &amp; &quot;, &quot;  &amp;{!$Record.Country},&apos;&apos; )</expression>
    </formulas>
    <formulas>
        <name>IsNeww</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NextDayCaluclation</name>
        <dataType>Date</dataType>
        <expression>{!Loop_for_Maintenance_Plan.EndDate}+1</expression>
    </formulas>
    <interviewLabel>Unit Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Flow</label>
    <loops>
        <name>Loop_for_Maintenance_Plan</name>
        <label>Loop for Maintenance Plan</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Req_MP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MP_value_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_MPs</name>
        <label>Loop Over MPs</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Maintenance_Plan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MP_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOver_MA_of_Unit</name>
        <label>LoopOver MA of Unit</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Maintenance_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MP_Id_storage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Req_MP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverMA</name>
        <label>LoopOverMA</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Maintenance_Asset_Of_Unit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MPIdStore</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StartDateLessthanCurrentDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Boomi_Integration_User</name>
        <label>Get Boomi Integration User</label>
        <locationX>2844</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsChangedNewEqippment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Boomi Integration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Contract Unit Summary Records.</description>
        <name>Get_ContractUnitSummaryRecords</name>
        <label>Get_ContractUnitSummaryRecords</label>
        <locationX>5198</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContractUnitSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_custom_notification_type</name>
        <label>get_custom_notification_type</label>
        <locationX>4670</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_message_template_and_channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit_Cancellation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Asset</name>
        <label>Get Maintenance Asset</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOver_MA_of_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Asset_Of_Unit</name>
        <label>Get Maintenance Asset Of Unit</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverMA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Plan</name>
        <label>Get Maintenance Plan</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_MPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mechanic</name>
        <label>Get Mechanic</label>
        <locationX>4670</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_custom_notification_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Route.PrimaryMechanic__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Req_MP</name>
        <label>Get Req MP</label>
        <locationX>1458</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Route</name>
        <label>Get Route</label>
        <locationX>4670</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RouteName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Resource</name>
        <label>get Service Resource</label>
        <locationX>4670</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mechanic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Route.FieldSupervisor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Copy_1_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Handover with missing Route</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Field Status = NIS/Free  AND Status Reason = Free period started</description>
        <name>Copy_2_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>3746</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Free period started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Field Status = New Equipment AND Status Reason = New equipment unit pending Handover</description>
        <name>Copy_3_of_Update_Unit</name>
        <label>Update Unit</label>
        <locationX>1722</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Cancel_Related_WO_and_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>New Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>New equipment unit pending Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Process_Type_Update</name>
        <label>Process Type Update</label>
        <locationX>4010</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>Capture Acquisition</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Process_Type_Update1</name>
        <label>Process Type Update</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>Process_Type__c</field>
            <value>
                <stringValue>New Unit Installation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>StartDateLessthanCurrentDate</name>
        <label>StartDateLessthanCurrentDate</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Get_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MPIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextSuggestedMaintenanceDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>MaintenancePlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Suspend_The_Unit</name>
        <label>Suspend The Unit</label>
        <locationX>2580</locationX>
        <locationY>2579</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>2712</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Unit_Suspension</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Text__c</field>
            <value>
                <elementReference>AddressAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Update_Field_Status</name>
        <label>Update Field Status</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Handover with missing Route</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MP</name>
        <label>Update MP</label>
        <locationX>1458</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputReference>MPRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MP_records</name>
        <label>Update MP records</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputReference>MPRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_19</name>
        <label>Update Records 19</label>
        <locationX>3482</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Status Reason = Handover with missing Route</description>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Handover with missing Route</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Unit Handover but Stopped onsite</description>
        <name>Update_unit1</name>
        <label>Update unit</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Unit Handover but Stopped onsite</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Field Status  = Handover</description>
        <name>Update_Unit2</name>
        <label>Update Unit</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Unit Handover but Stopped onsite</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_one</name>
        <label>Update Unit</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>Unit Handover but Stopped onsite</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Record</name>
        <label>Update Unit Record</label>
        <locationX>5066</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>New Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>New equipment unit pending Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Two</name>
        <label>Update Unit</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Cancel_Future_WO_and_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>New Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <stringValue>New equipment unit pending Handover</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>2712</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.Work_Order_Maintenance_Record_Type__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
        </inputAssignments>
        <inputReference>$Record.WorkOrders</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Valid_the_Suspended_Unit</name>
        <label>Valid the Suspended Unit</label>
        <locationX>2844</locationX>
        <locationY>2579</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2718</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Boomi_Integration_User</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cancel_Future_WO_and_SA</name>
        <label>Cancel Future WO and SA</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_Handover_is_set</targetReference>
        </connector>
        <flowName>Cancel_Future_WO_SA_related_to_Service_Contract_and_Mplan</flowName>
        <inputAssignments>
            <name>ServiceContractId</name>
            <value>
                <elementReference>$Record.FS_CurrentServiceContract__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cancel_Related_WO_and_SA</name>
        <label>Cancel Related WO and SA</label>
        <locationX>1854</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_if_Changes_Done_in_Checkboxes</targetReference>
        </connector>
        <flowName>Cancel_Future_WO_SA_related_to_Service_Contract_and_Mplan</flowName>
        <inputAssignments>
            <name>ServiceContractId</name>
            <value>
                <elementReference>$Record.FS_CurrentServiceContract__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Collection_Filter_Over_MP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>EndDatestore</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDateStoreSingleVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMemberid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mechanic</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPIDDs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MPIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MPRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
    <variables>
        <name>StartDateStore</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervisor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
