modules/fs/main/default/flows/Unit_Suspension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>666</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>Looping_Maintenance_Plan.NextSuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextSuggestedMaintenanceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenancePlanRecordSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Maintenance_Plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Maintenance_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gather_Maintenance_Plan</name>
        <label>Gather Maintenance Plan</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>MaintenancePlanIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Maintenance_Asset.MaintenancePlanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Maintenance_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Prevent_Duplicate_Plan_Id</name>
        <label>Prevent Duplicate Plan Id</label>
        <locationX>754</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Gather_Maintenance_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Exists_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaintenancePlanIdSet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Looping_Maintenance_Asset.MaintenancePlanId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Maintenance_Asset</targetReference>
            </connector>
            <label>Already Exists Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suspension_Range</name>
        <label>Suspension Range</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Starts_Today_not_Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_StartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspend_the_Unit</targetReference>
            </connector>
            <label>Starts Today &amp; not Suspended</label>
        </rules>
        <rules>
            <name>Ends_Today_Suspended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Suspension_EndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Field_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_is_Valid</targetReference>
            </connector>
            <label>Ends Today &amp; Suspended</label>
        </rules>
    </decisions>
    <description>This flow will Trigger suspension process when unit enters in Suspension period</description>
    <environments>Default</environments>
    <formulas>
        <description>Suspension End Date + 1</description>
        <name>NextSuggestedMaintenanceDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.FS_Suspension_EndDate__c} + 1</expression>
    </formulas>
    <interviewLabel>Unit Suspension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit Suspension</label>
    <loops>
        <name>Looping_Maintenance_Asset</name>
        <label>Looping Maintenance Asset</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Maintenance_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prevent_Duplicate_Plan_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Maintenance_Plans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Maintenance_Plan</name>
        <label>Looping Maintenance Plan</label>
        <locationX>578</locationX>
        <locationY>1176</locationY>
        <collectionReference>Get_Maintenance_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Maintenance_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Maintenance_Assets</name>
        <label>Get Maintenance Assets</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Maintenance_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenanceAsset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MaintenancePlanId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Plans</name>
        <label>Get Maintenance Plans</label>
        <locationX>578</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MaintenancePlanIdSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NextSuggestedMaintenanceDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Suspend_the_Unit</name>
        <label>Suspend the Unit</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Suspended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Unit_is_Valid</name>
        <label>Unit is Valid</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Get_Maintenance_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>FS_Field_Status__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Maintenance_Plan</name>
        <label>Update Maintenance Plan</label>
        <locationX>578</locationX>
        <locationY>1476</locationY>
        <inputReference>MaintenancePlanRecordSet</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Suspension_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Suspension_StartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FS_Suspension_EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MaintenancePlanIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaintenancePlanRecordSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MaintenancePlan</objectType>
    </variables>
</Flow>
