modules/fs/main/default/flows/Update_SA_Record_with_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>US#911837 Update SA record with WO flow</description>
    <environments>Default</environments>
    <interviewLabel>Update SA Record with WorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SA Record with WorkOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_SA_fields_from_Unit_Fields</name>
        <label>Update SA fields from Unit Fields</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>BuildingId__c</field>
            <value>
                <elementReference>$Record.Unit__r.Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Unit__r.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Unit__r.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Unit__r.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.Unit__r.RouteName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Unit__r.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Unit__r.Street</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_on_SA</name>
        <label>Update Unit on SA</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_SA_fields_from_Unit_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.WorkOrder__r.Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_field_on_SA</name>
        <label>Update WO field on SA</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Unit_on_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0WO</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_WO_field_on_SA</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1700</triggerOrder>
</Flow>
