modules/fs/main/default/flows/Update_ETA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment_of_Date</name>
        <label>Assignment of Date</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ActualDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Date_and_Travel_Time</name>
        <label>Assignment of Date and Travel Time</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ActualDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTravelTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>currentStatusSet</name>
        <label>currentStatus</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>status1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_data.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CannotExecute</name>
        <choiceText>Cannot Execute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Execute</stringValue>
        </value>
    </choices>
    <choices>
        <name>enroute</name>
        <choiceText>Enroute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enroute</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onsite</name>
        <choiceText>Onsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onsite</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Status_Change</name>
        <label>Check Status Change</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_SA_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Status_Changes_to_Enroute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>enroute</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_data.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Date</targetReference>
            </connector>
            <label>if Status Changes to Enroute</label>
        </rules>
        <rules>
            <name>If_Status_changes_to_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Onsite</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA_data.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enroute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Date_and_Travel_Time</targetReference>
            </connector>
            <label>If Status changes to Onsite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>currentStatusSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SR_msg</targetReference>
            </connector>
            <label>is not SR</label>
        </rules>
    </decisions>
    <description>This flow will be  used instead of &quot;Update SA&quot; quick action.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateTravelTime</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!SA_data.ActualStartTime} )*1440</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ETA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_Rec_Type</name>
        <label>get Rec Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOdata.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>getting the SA records</description>
        <name>get_SA_record</name>
        <label>get SA record</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA_data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Initial_ETA__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>DueDate</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_WO</name>
        <label>get WO</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Rec_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_data.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOdata</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_record</name>
        <label>Update SA record</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>ActualDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_ETA__c</field>
            <value>
                <elementReference>Initial_ETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Time__c</field>
            <value>
                <elementReference>CalculateTravelTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>SR_msg</name>
        <label>SR msg</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>op</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This Action only works for Service Request WO-SA.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Status_Change</targetReference>
        </connector>
        <fields>
            <name>Initial_ETA</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SA_data.Initial_ETA__c</elementReference>
            </defaultValue>
            <fieldText>Initial ETA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Initial ETA should be within the range of Current Time and Service Appointment Due Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Initial_ETA}&gt;NOW() &amp;&amp;  {!Initial_ETA} &lt;{!SA_data.DueDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>enroute</choiceReferences>
            <choiceReferences>Onsite</choiceReferences>
            <choiceReferences>CannotExecute</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>status1</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ShowETA</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SA_data.Initial_ETA__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>status1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WOdata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
