modules/fs/main/default/flows/WOLI_Chargeable_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>If_Chargeable_Item</name>
        <label>If Chargeable Item</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Chargeable_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Task_Chargeable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Status_and</targetReference>
            </connector>
            <label>If Chargeable WOLI</label>
        </rules>
        <rules>
            <name>If_NonChargeable_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Task_Chargeable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Status_if_Not_Chargeable</targetReference>
            </connector>
            <label>If NonChargeable WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Chargeable_Item_created_Update_WOLI_Fields</name>
        <label>If Chargeable Item created Update WOLI Fields</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Material_Cost_and_Text_For_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Material_Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Text_For_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Woli_Material_cost_and_Text_for_Invoice</targetReference>
            </connector>
            <label>Update Material Cost and Text For Invoice</label>
        </rules>
        <rules>
            <name>Update_Review_if_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reveiw_Status</targetReference>
            </connector>
            <label>Update Review if Approved</label>
        </rules>
        <rules>
            <name>Update_Reveiw_if_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Status_If_Rejected</targetReference>
            </connector>
            <label>Update Reveiw if Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WOLI Chargeable Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI Chargeable Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Upadte_Supervisor_Review</name>
        <label>Upadte Supervisor Review</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Chargeability Context</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reveiw_Status</name>
        <label>Update Reveiw Status</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Review_Status__c</field>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Status_and</name>
        <label>Update Review Status</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Upadte_Supervisor_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Review_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Status_if_Not_Chargeable</name>
        <label>Update Review Status if Not Chargeable</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Supervidor_Review_If_not_Chargeable</targetReference>
        </connector>
        <inputAssignments>
            <field>Review_Status__c</field>
            <value>
                <stringValue>Non billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Status_If_Rejected</name>
        <label>Update Review Status If Rejected</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Review_Status__c</field>
            <value>
                <stringValue>Non billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervidor_Review_If_not_Chargeable</name>
        <label>Update Supervidor Review If not Chargeable</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Chargeability Context</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Woli_Material_cost_and_Text_for_Invoice</name>
        <label>Update Woli Material cost and Text for Invoice</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>If_Chargeable_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Material_Cost__c</field>
            <value>
                <elementReference>$Record.Purchase_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text_For_Invoice__c</field>
            <value>
                <elementReference>TextInvoiceContent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Chargeable_Item_created_Update_WOLI_Fields</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextInvoiceContent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Component : {!$Record.Component__c}
Sub Component : {!$Record.Sub_Component__c}
Action Performed : {!$Record.Action_Performed__c}
Reason To Perform : {!$Record.Reason_to_Perform__c}</text>
    </textTemplates>
</Flow>
