modules/fs/main/default/flows/WorkOrderFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_OF_Pending_SA</name>
        <label>Count OF Pending SA</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CountPendingSA</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Pending_SA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skill_Found</name>
        <label>Skill Found</label>
        <locationX>4890</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SkillFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assign</name>
        <label>Value Assign</label>
        <locationX>5198</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AdvSkillSplitterV2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.AdditionalSkills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>throws the error</description>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>You Should Give the Rejection Comment to cancel the Work Order</errorMessage>
            <fieldSelection>FS_CancellationReason__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>ErrorScreen1</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>Service Appointment Present with status as InProgress/Completed/Travelling</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPendingSA</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_and_SPR</targetReference>
            </connector>
            <label>Less than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_RC</name>
        <label>Check for RC</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Present</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_CancellationReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FetchReleatedSA</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforInprogressSA</name>
        <label>Check for Inprogress SA</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoProgressSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopReleatedSA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travelling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopReleatedSA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopReleatedSA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopReleatedSA</targetReference>
            </connector>
            <label>No Progress SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetectionofFieldChange</name>
        <label>Detection of Field Change</label>
        <locationX>3812</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OnlyForecastedDeliveryDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date</targetReference>
            </connector>
            <label>Only Forecasted Delivery Date Changed</label>
        </rules>
        <rules>
            <name>OnlyActualPartDeliveryDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatingWOPartStatus</targetReference>
            </connector>
            <label>Only Actual Part Delivery Date Changed</label>
        </rules>
        <rules>
            <name>OnlyAdditionalSkillsisChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_splitting_with_subflow</targetReference>
            </connector>
            <label>Only Additional Skills is Changed</label>
        </rules>
        <rules>
            <name>Additional_skills_and_Part_Delivery_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skill_Requirement</targetReference>
            </connector>
            <label>Additional skills and Part Delivery Date</label>
        </rules>
        <rules>
            <name>ADDate_and_ADSkills_and_FD_Date_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Skill_String_Splitter</targetReference>
            </connector>
            <label>ADDate and ADSkills and FD Date changed</label>
        </rules>
        <rules>
            <name>FDDateandADSkillsisChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date_v2</targetReference>
            </connector>
            <label>FDDate and ADSkills is Change</label>
        </rules>
        <rules>
            <name>ActualDeliveryDateCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO_status_to_OnHold_and_PartsStatus_to_WaitingForParts</targetReference>
            </connector>
            <label>Actual Delivery Date Cleared</label>
        </rules>
        <rules>
            <name>AdditionalSkillsIsCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Assign</targetReference>
            </connector>
            <label>Additional Skills Is Cleared</label>
        </rules>
        <rules>
            <name>FDDateRemoved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting For Parts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date_Null</targetReference>
            </connector>
            <label>FDDateRemoved</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Get_SA_has_any_Value</name>
        <label>If Get SA has any Value</label>
        <locationX>6386</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_SA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SA_status_is_in_Progress</name>
        <label>If SA status is in Progress</label>
        <locationX>2602</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>in Progress</defaultConnectorLabel>
        <rules>
            <name>Not_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travelling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SA.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SA</targetReference>
            </connector>
            <label>Not In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skill_Found</name>
        <label>Is Skill Found</label>
        <locationX>4802</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Found_Record_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteSkillRequiredRelatedRecordsFromWOHasContextMenu</targetReference>
            </connector>
            <label>Skill Found Record Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_Is_Present</name>
        <label>Skill Is Present</label>
        <locationX>5022</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Repair_Skill_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Skill_Check_Revert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skill_Found</targetReference>
            </connector>
            <label>Repair Skill Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_requirement_Value</name>
        <label>Skill requirement Value?</label>
        <locationX>3262</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSkillsRequiredRecord</targetReference>
            </connector>
            <label>If Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_requirement_Value_v2</name>
        <label>Skill requirement Value v2</label>
        <locationX>4142</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Repair_v2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Repair_Skills_Required_Record_v2</targetReference>
            </connector>
            <label>If Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_decision</name>
        <label>Update Work Order decision</label>
        <locationX>3482</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CancelledWO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled by Otis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled by Otis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_RC</targetReference>
            </connector>
            <label>Cancelled WO</label>
        </rules>
        <rules>
            <name>Update_work_order_reason</name>
            <conditionLogic>(1 AND 2 )AND( 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Visit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Need New Visit On Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_if_Review_checkbox_is_False</targetReference>
            </connector>
            <label>Update work order reason</label>
        </rules>
        <rules>
            <name>Update_SPR_and_Review</name>
            <conditionLogic>1 AND 3 AND (2 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Issue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_WorkOderType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_SA</targetReference>
            </connector>
            <label>Update SPR and Review</label>
        </rules>
        <rules>
            <name>WOLI_Items_Present</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason</targetReference>
            </connector>
            <label>WOLI Items Present</label>
        </rules>
        <rules>
            <name>WOLI_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Actual Duration Inadequate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unassigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Next Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FS_System_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Safety Check Lone Worker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Need Supervisor Review and Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason_to_empty</targetReference>
            </connector>
            <label>WOLI Empty</label>
        </rules>
        <rules>
            <name>QuickActionPartUpdate</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DetectionofFieldChange</targetReference>
            </connector>
            <label>Quick Action Part Update</label>
        </rules>
        <rules>
            <name>SACreationForAnotherVisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need New Visit On Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Visit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreationOfSAOnAnotherVisit</targetReference>
            </connector>
            <label>SA Creation For Another Visit</label>
        </rules>
        <rules>
            <name>WO_cannot_complete_and_Parts_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartsStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>WO cannot complete and Parts Delivered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>flow rundate +2. the 2 is coming from custom setting &quot;otis custom setting&quot;</description>
        <name>CalculateDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+{!$Setup.OTISCustomSettings__c.Due_Date_For_Parts_Pending_SA__c}</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(now() + 2)</expression>
    </formulas>
    <formulas>
        <name>DueDateCalculationForNewSA</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ActualPartsDelivery__c} + {!$Setup.OTISCustomSettings__c.Timeframe_To_Calculate_SA_Due_Date__c}</expression>
    </formulas>
    <formulas>
        <name>EarlystartTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Next_Visit_Date__c} -(60/1440))</expression>
    </formulas>
    <formulas>
        <name>SubjectSA</name>
        <dataType>String</dataType>
        <expression>&apos;Maintenance OTIS : &apos; + {!$Record.Account.Name}+ &apos; : &apos;+TEXT(DATEVALUE({!DueDate}))</expression>
    </formulas>
    <interviewLabel>WorkOrderFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderFlow</label>
    <loops>
        <name>Loop_SA</name>
        <label>Loop SA</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <collectionReference>FetchSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_SA_status_is_in_Progress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SA_Creation_after_Part_Delivery</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Skill_Check_Revert</name>
        <label>Loop Skill Check Revert</label>
        <locationX>4802</locationX>
        <locationY>863</locationY>
        <collectionReference>AdvSkillSplitterV2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_Is_Present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Skill_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_All_Selected_Values_of_AdditionalSkills_Field</name>
        <label>Looping All Selected Values of AdditionalSkills Field</label>
        <locationX>3042</locationX>
        <locationY>647</locationY>
        <collectionReference>String_splitting_with_subflow.SplitResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_requirement_Value</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</name>
        <label>Looping All Selected Values of AdditionalSkills Field v2</label>
        <locationX>3922</locationX>
        <locationY>647</locationY>
        <collectionReference>AdvSkillSplitter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_requirement_Value_v2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdatingWOPartStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopReleatedSA</name>
        <label>Loop SA</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>FetchReleatedSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckforInprogressSA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_SA</name>
        <label>Create New SA</label>
        <locationX>6254</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>CalculateDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Repair_Skills_Required_Record_v2</name>
        <label>Create Repair Skills Required Record v2</label>
        <locationX>4010</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Skill_Requirement</name>
        <label>Create Skill Requirement</label>
        <locationX>3306</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_WO_Part_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSkillsRequiredRecord</name>
        <label>Create Repair Skills Required Record</label>
        <locationX>3130</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creation_of_SA_Record</name>
        <label>Creation of SA Record</label>
        <locationX>3306</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreationOfSAOnAnotherVisit</name>
        <label>Creation Of SA On Another Visit</label>
        <locationX>5990</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>NewlyCreatedSA</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatingWoFields</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDateCalculationForNewSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Record.ActualPartsDelivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>SA_Creation_after_Part_Delivery</name>
        <label>SA Creation after Part Delivery</label>
        <locationX>2426</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSkillRequiredRelatedRecordsFromWOHasContextMenu</name>
        <label>Delete SkillRequired related records from WO has context menu</label>
        <locationX>4670</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Addtional_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SkillRequirement</object>
    </recordDeletes>
    <recordLookups>
        <name>FetchReleatedSA</name>
        <label>Fetch Releated SA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopReleatedSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FetchSA</name>
        <label>Fetch SA</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_SA</name>
        <label>Get Pending SA</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_OF_Pending_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>6386</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Get_SA_has_any_Value</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Travelling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_SA_status_to_Cancelled</name>
        <label>Change SA status to Cancelled</label>
        <locationX>4802</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Additional_Skill_String_Splitter_v2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SACreatedFromWOFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SACreatedFromWOFlow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_WO_status_to_OnHold_and_PartsStatus_to_WaitingForParts</name>
        <label>Set WO status to OnHold and PartsStatus to WaitingForParts</label>
        <locationX>4802</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Change_SA_status_to_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Addtional_Skill</name>
        <label>Update Addtional Skill</label>
        <locationX>4670</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdditionalSkills__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date</name>
        <label>Update Part Status for Forecast Part Delivery Date</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date_Null</name>
        <label>Update Part Status for Forecast Part Delivery Date Null</label>
        <locationX>5462</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Parts Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date_v2</name>
        <label>Update Part Status for Forecast Part Delivery Date v2</label>
        <locationX>4186</locationX>
        <locationY>539</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>String_splitting_with_subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_and_SPR</name>
        <label>Update Reason and SPR</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Next Action Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_if_Review_checkbox_is_False</name>
        <label>Update Reason if Review checkbox is False</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason</name>
        <label>Update Supervisor Review and Reason</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue>Chargeability Context</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason_to_empty</name>
        <label>Update Supervisor Review and Reason to empty</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FS_Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FS_System_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Part_Status</name>
        <label>Update WO Part Status</label>
        <locationX>3306</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Creation_of_SA_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Part Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatingSAStatus</name>
        <label>Updating SA Status</label>
        <locationX>5990</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewlyCreatedSA</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatingWoFields</name>
        <label>Updating Wo Fields</label>
        <locationX>5990</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdatingSAStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.DefaultWorkTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When Actual Part deliver date is filled this automation gonna happen .</description>
        <name>UpdatingWOPartStatus</name>
        <label>Updating WO Part Status</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>FetchSA</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Part Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3356</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Work_Order_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed - Shutdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Otis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled by Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>SvcReqAssignedMechanic__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Additional_Skill_String_Splitter</name>
        <label>Additional Skill String Splitter</label>
        <locationX>3922</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field_v2</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>flowSeparator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdvSkillSplitter</assignToReference>
            <name>SplitResults</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Additional_Skill_String_Splitter_v2</name>
        <label>Additional Skill String Splitter v2</label>
        <locationX>4802</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_Skill_Check_Revert</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>flowSeparator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AdvSkillSplitterV2</assignToReference>
            <name>SplitResults</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>String_splitting_with_subflow</name>
        <label>String splitting with subflow</label>
        <locationX>3042</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>flowSeparator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AdvSkillSplitter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdvSkillSplitterV2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountPendingSA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewlyCreatedSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
