modules/fs/main/default/flows/WorkOrderFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>If_SA_status_is_in_Progress</name>
        <label>If SA status is in Progress</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>in Progress</defaultConnectorLabel>
        <rules>
            <name>Not_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SA.StatusCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SA</targetReference>
            </connector>
            <label>Not In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skill_requirement_Value</name>
        <label>Skill requirement Value?</label>
        <locationX>1942</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSkillsRequiredRecord</targetReference>
            </connector>
            <label>If Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_decision</name>
        <label>Update Work Order decision</label>
        <locationX>1282</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_work_order_reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_if_Review_checkbox_is_False</targetReference>
            </connector>
            <label>Update work order reason</label>
        </rules>
        <rules>
            <name>When_Forecasted_Parts_Delivery_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastedPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Status_for_Forecast_Part_Delivery_Date</targetReference>
            </connector>
            <label>When Forecasted Parts Delivery Changed</label>
        </rules>
        <rules>
            <name>Update_SPR_and_Review</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fixed_Issue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UnitStatusOnSiteDeparture__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reason_and_SPR</targetReference>
            </connector>
            <label>Update SPR and Review</label>
        </rules>
        <rules>
            <name>WOLI_Items_Present</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Supervisor_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason</targetReference>
            </connector>
            <label>WOLI Items Present</label>
        </rules>
        <rules>
            <name>WOLI_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_WOLI_with_Checked_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parts needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Actual Duration Inadequate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Supervisor_Review_and_Reason_to_empty</targetReference>
            </connector>
            <label>WOLI Empty</label>
        </rules>
        <rules>
            <name>AdditionalSkillNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdditionalSkills__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_splitting_with_subflow</targetReference>
            </connector>
            <label>Additional Skill Not Blank</label>
        </rules>
        <rules>
            <name>Part_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualPartsDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ActualPartsDelivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatingWOPartStatus</targetReference>
            </connector>
            <label>Part Delivered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(now() + 2)</expression>
    </formulas>
    <interviewLabel>WorkOrderFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderFlow</label>
    <loops>
        <name>Loop_SA</name>
        <label>Loop SA</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <collectionReference>FetchSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_SA_status_is_in_Progress</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SA_Creation_after_Part_Delivery</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_All_Selected_Values_of_AdditionalSkills_Field</name>
        <label>Looping All Selected Values of AdditionalSkills Field</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <collectionReference>String_splitting_with_subflow.SplitResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skill_requirement_Value</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSkillsRequiredRecord</name>
        <label>Create Repair Skills Required Record</label>
        <locationX>1810</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>$Setup.OTISCustomSettings__c.RepairSkillId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>99.0</numberValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SA_Creation_after_Part_Delivery</name>
        <label>SA Creation after Part Delivery</label>
        <locationX>2250</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrder__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FetchSA</name>
        <label>Fetch SA</label>
        <locationX>2250</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Part_Status_for_Forecast_Part_Delivery_Date</name>
        <label>Update Part Status for Forecast Part Delivery Date</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Waiting For Parts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_and_SPR</name>
        <label>Update Reason and SPR</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>(1 OR 2) OR 3</filterLogic>
        <filters>
            <field>Fixed_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fixed_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially</stringValue>
            </value>
        </filters>
        <filters>
            <field>UnitStatusOnSiteDeparture__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shutdown</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Unit Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reason_if_Review_checkbox_is_False</name>
        <label>Update Reason if Review checkbox is False</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mark_For_Supervisor_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason</name>
        <label>Update Supervisor Review and Reason</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Chargeability</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supervisor_Review_and_Reason_to_empty</name>
        <label>Update Supervisor Review and Reason to empty</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Mark_For_Supervisor_Review__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When Actual Part deliver date is filled this automation gonna happen .</description>
        <name>UpdatingWOPartStatus</name>
        <label>Updating WO Part Status</label>
        <locationX>2250</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>FetchSA</targetReference>
        </connector>
        <inputAssignments>
            <field>PartsStatus__c</field>
            <value>
                <stringValue>Part Delivered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1156</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Work_Order_decision</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>String_splitting_with_subflow</name>
        <label>String splitting with subflow</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Looping_All_Selected_Values_of_AdditionalSkills_Field</targetReference>
        </connector>
        <flowName>SUB_CommonLogicForStringSplitter</flowName>
        <inputAssignments>
            <name>varT_StringToSplit</name>
            <value>
                <elementReference>$Record.AdditionalSkills__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NewlyCreatedSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonPicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SACreationThroughWoFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
