modules/fs/main/default/flows/WorkType_Auto_Update_WO_Assignment_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_WorkType_Field</name>
        <label>Assign WorkType Field</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>WORecord.AssignmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WORecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WO_s.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WORecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WO_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_WorkType_Field</name>
        <label>Copy 1 of Assign WorkType Field</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>WORecord.AssignmentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WORecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WO_s.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WORecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WO_s</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Auto_SCHD</name>
        <label>Check Auto SCHD</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_WorkType_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FS_AutoSchedule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WorkType_Field</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_2</name>
        <label>Null Check 2</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_WO</name>
        <label>Null Check WO</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WO_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_WO_s</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Check</name>
        <label>Profile Check</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other Profile</defaultConnectorLabel>
        <rules>
            <name>FSAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Service Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WO_Records</targetReference>
            </connector>
            <label>FS Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_check</name>
        <label>Record Type check</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_WO_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_or_Maintenance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_WO_s.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintanance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_WO_s.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Auto_SCHD</targetReference>
            </connector>
            <label>Service or Maintenance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WorkType : Auto Update WO Assignment Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkType : Auto Update WO Assignment Type</label>
    <loops>
        <name>Loop_WO_s</name>
        <label>Loop WO&apos;s</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_WO_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WO_Records</name>
        <label>Get WO Records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_record</name>
        <label>Update WO record</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <inputReference>WOCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FS_AutoSchedule__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WOCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
